Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for Stormkit
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 2%
    
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: true

  # Files to ignore in coverage reports
  ignore:
    - "**/*_test.go"
    - "**/*.test.ts"
    - "**/*.test.tsx"
    - "**/*.spec.ts"
    - "**/*.spec.tsx"
    - "**/mocks/**"
    - "**/testutils/**"
    - "src/ui/src/testing/**"
    - "**/__mocks__/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "src/migrations/**"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - src/ce/
      - src/ee/
      - src/lib/
    carryforward: true
  
  frontend:
    paths:
      - src/ui/src/
    carryforward: true

# Pull request comments configuration
github_checks:
  annotations: true

content: refresh stormkit vs netlify page (#444)
  content/blog/best-self-hosted-vercel-alternatives.md
  content/blog/vercel-data-residency-and-eu-alternatives.md
  src/www/src/pages/vs/netlify.tsx
Due: none

fix: stop returning the smtp password
  src/ce/api/app/app_shttp.go
  src/ce/api/app/app_shttp_test.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/buildconf/env_model_test.go
  src/ce/api/app/buildconf/mailer_model.go
  src/ce/api/app/buildconf/mailer_model_test.go
  src/ce/api/app/buildconf/mailerhandlers/config.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set_test.go
  src/ce/api/app/deploy/deployhandlers/handler_publish_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_model_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/actions.ts
Due: backend, frontend

fix: stop returning the smtp password (#448)
  src/ce/api/app/app_shttp.go
  src/ce/api/app/app_shttp_test.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/buildconf/env_model_test.go
  src/ce/api/app/buildconf/mailer_model.go
  src/ce/api/app/buildconf/mailer_model_test.go
  src/ce/api/app/buildconf/mailerhandlers/config.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set_test.go
  src/ce/api/app/deploy/deployhandlers/handler_publish_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_model_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/actions.ts
Due: backend, frontend

refactor: share skauth config and provider logic
  src/ce/api/app/skauth/skauthhandlers/auth_config_json.go
  src/ce/api/app/skauth/skauthhandlers/auth_config_json_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/api/app/skauth/skauthhandlers/provider_upsert.go
  src/ce/api/app/skauth/skauthhandlers/providers_json.go
  src/ce/api/public/v1/handler_auth_config.go
Due: backend

refactor: share skauth config and provider logic (#449)
  src/ce/api/app/skauth/skauthhandlers/auth_config_json.go
  src/ce/api/app/skauth/skauthhandlers/auth_config_json_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/api/app/skauth/skauthhandlers/provider_upsert.go
  src/ce/api/app/skauth/skauthhandlers/providers_json.go
  src/ce/api/public/v1/handler_auth_config.go
Due: backend

feat: add public api for mailer and auth providers
  docs/api/4-mailer.md
  docs/features/15-authentication.md
  src/ce/api/app/buildconf/mailer_model.go
  src/ce/api/app/buildconf/mailer_model_test.go
  src/ce/api/app/buildconf/mailerhandlers/emails_json.go
  src/ce/api/app/buildconf/mailerhandlers/emails_json_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set_test.go
  src/ce/api/app/buildconf/mailerhandlers/request_data.go
  src/ce/api/app/buildconf/mailerhandlers/send.go
  src/ce/api/public/v1/handler_auth_provider_set.go
  src/ce/api/public/v1/handler_auth_provider_set_test.go
  src/ce/api/public/v1/handler_auth_providers_get.go
  src/ce/api/public/v1/handler_auth_providers_get_test.go
  src/ce/api/public/v1/handler_mail_send.go
  src/ce/api/public/v1/handler_mailer_config_get.go
  src/ce/api/public/v1/handler_mailer_config_set.go
  src/ce/api/public/v1/handler_mailer_emails_get.go
  src/ce/api/public/v1/handler_mailer_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/hosting/skauth_email_test.go
  src/ee/api/audit/audit_model.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/SendTestEmailModal.tsx
  src/ui/src/shared/feed/AuditMessage.tsx
  src/ui/src/types/audit.d.ts
Due: backend, frontend

feat: add public api for mailer and auth providers (#450)
  docs/api/4-mailer.md
  docs/features/15-authentication.md
  src/ce/api/app/buildconf/mailer_model.go
  src/ce/api/app/buildconf/mailer_model_test.go
  src/ce/api/app/buildconf/mailerhandlers/emails_json.go
  src/ce/api/app/buildconf/mailerhandlers/emails_json_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set_test.go
  src/ce/api/app/buildconf/mailerhandlers/request_data.go
  src/ce/api/app/buildconf/mailerhandlers/send.go
  src/ce/api/public/v1/handler_auth_provider_set.go
  src/ce/api/public/v1/handler_auth_provider_set_test.go
  src/ce/api/public/v1/handler_auth_providers_get.go
  src/ce/api/public/v1/handler_auth_providers_get_test.go
  src/ce/api/public/v1/handler_mail_send.go
  src/ce/api/public/v1/handler_mailer_config_get.go
  src/ce/api/public/v1/handler_mailer_config_set.go
  src/ce/api/public/v1/handler_mailer_emails_get.go
  src/ce/api/public/v1/handler_mailer_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/hosting/skauth_email_test.go
  src/ee/api/audit/audit_model.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/SendTestEmailModal.tsx
  src/ui/src/shared/feed/AuditMessage.tsx
  src/ui/src/types/audit.d.ts
Due: backend, frontend

fix: merge env vars in mcp update_environment
  docs/api/10-mcp.md
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
Due: backend

refactor: unset mcp env vars with an empty value
  docs/api/10-mcp.md
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
Due: backend

fix: merge env vars in mcp update_environment (#454)
  docs/api/10-mcp.md
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
Due: backend

feat: add mailer and auth provider mcp tools
  docs/api/10-mcp.md
  src/ce/api/app/skauth/skauthhandlers/provider_upsert.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
Due: backend

feat: add mailer and auth provider mcp tools (#451)
  docs/api/10-mcp.md
  src/ce/api/app/skauth/skauthhandlers/provider_upsert.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
Due: backend

refactor: point the dashboard at the public mailer api
  src/ce/api/app/buildconf/mailerhandlers/config.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail_list.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set_test.go
  src/ce/api/app/buildconf/mailerhandlers/services.go
  src/ce/api/app/buildconf/mailerhandlers/services_test.go
  src/ce/api/public/v1/handler_mailer_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/SendTestEmailModal.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/actions.ts
  src/ui/src/testing/nocks/nock_mailer.ts
Due: backend, frontend

refactor: point the dashboard at the public mailer api (#447)
  src/ce/api/app/buildconf/mailerhandlers/config.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail_list.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set_test.go
  src/ce/api/app/buildconf/mailerhandlers/services.go
  src/ce/api/app/buildconf/mailerhandlers/services_test.go
  src/ce/api/public/v1/handler_mailer_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/SendTestEmailModal.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/actions.ts
  src/ui/src/testing/nocks/nock_mailer.ts
Due: backend, frontend

refactor: use shttperr for validation errors
  src/ce/api/app/buildconf/mailerhandlers/send.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert_test.go
  src/ce/api/app/skauth/skauthhandlers/provider_upsert.go
  src/ce/api/public/v1/handler_auth_provider_set.go
  src/ce/api/public/v1/handler_auth_provider_set_test.go
  src/ce/api/public/v1/handler_mail_send.go
  src/ce/api/public/v1/handler_mailer_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
Due: backend, frontend

refactor: use shttperr for validation errors (#457)
  src/ce/api/app/buildconf/mailerhandlers/send.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert_test.go
  src/ce/api/app/skauth/skauthhandlers/provider_upsert.go
  src/ce/api/public/v1/handler_auth_provider_set.go
  src/ce/api/public/v1/handler_auth_provider_set_test.go
  src/ce/api/public/v1/handler_mail_send.go
  src/ce/api/public/v1/handler_mailer_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
Due: backend, frontend

chore: update changelog for v2026.08.21.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.08.21.1 (#458)
  CHANGELOG.md
Due: none

feat: make stormkit.io readable by agents
  docs/api/1-authentication.md
  docs/deployments/6-how-do-we-deploy.md
  src/ce/api/public/v1/handler_openapi.go
  src/ce/api/public/v1/openapi.json
  src/ce/api/public/v1/openapi_test.go
  src/ce/api/public/v1/request_context.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/api/router/router.go
  src/ce/hosting/content_negotiation.go
  src/ce/hosting/content_negotiation_test.go
  src/ce/hosting/handler_forward.go
  src/lib/shttp/response.go
  src/lib/shttp/router.go
  src/lib/shttp/router_json_errors_test.go
  src/www/.gitignore
  src/www/package.json
  src/www/public/404.md
  src/www/public/index.md
  src/www/public/llms.txt
  src/www/public/sitemap.xml
  src/www/scripts/copy-openapi.ts
  src/www/scripts/generate-markdown.test.ts
  src/www/scripts/generate-markdown.ts
  src/www/scripts/generate-sitemap.ts
  src/www/scripts/prerender.ts
  src/www/src/components/Error404/Error404.tsx
  src/www/src/components/Illustration/Illustration.tsx
  src/www/src/components/Pricing/PricingTierCard.tsx
  src/www/src/entry-server.tsx
  src/www/src/helpers/markdown-alternate.test.ts
  src/www/src/helpers/seo.ts
  src/www/src/helpers/structured-data.test.ts
  src/www/src/helpers/structured-data.ts
  src/www/src/pages/_components/DeployNow.tsx
  src/www/src/pages/_components/FAQ.tsx
  src/www/src/pages/_components/Hero.tsx
  src/www/src/pages/_components/Workflow.tsx
Due: backend

fix: address code review on agent readiness
  docs/deployments/6-how-do-we-deploy.md
  src/ce/api/app/appconf/appconf_model.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/public/v1/openapi_test.go
  src/ce/api/public/v1/request_context.go
  src/ce/api/public/v1/request_context_mcp.go
  src/ce/hosting/content_negotiation.go
  src/ce/hosting/content_negotiation_test.go
  src/ce/hosting/handler_forward.go
  src/lib/shttp/response.go
  src/lib/shttp/router_json_errors_test.go
  src/www/src/helpers/structured-data.test.ts
  src/www/src/helpers/structured-data.ts
Due: backend

fix: correct the homepage heading hierarchy
  src/www/src/components/Illustration/Illustration.tsx
  src/www/src/components/Pricing/PricingTierCard.tsx
  src/www/src/pages/_components/DeployNow.tsx
  src/www/src/pages/_components/FAQ.tsx
  src/www/src/pages/_components/Hero.tsx
  src/www/src/pages/_components/Workflow.tsx
Due: none

feat: point the 404 page at somewhere to go
  src/www/public/sitemap.xml
  src/www/scripts/generate-sitemap.ts
  src/www/scripts/prerender.ts
  src/www/src/components/Error404/Error404.tsx
Due: none

feat: return structured json errors from the api
  docs/api/1-authentication.md
  src/ce/api/public/v1/request_context.go
  src/ce/api/public/v1/request_context_mcp.go
  src/ce/api/router/router.go
  src/lib/shttp/response.go
  src/lib/shttp/router.go
  src/lib/shttp/router_json_errors_test.go
Due: backend

fix: serve the error page for unmatched paths
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
Due: backend

feat: add json-ld structured data to the site
  src/www/src/entry-server.tsx
  src/www/src/helpers/structured-data.test.ts
  src/www/src/helpers/structured-data.ts
Due: none

fix: correct the homepage heading hierarchy (#464)
  src/www/src/components/Illustration/Illustration.tsx
  src/www/src/components/Pricing/PricingTierCard.tsx
  src/www/src/pages/_components/DeployNow.tsx
  src/www/src/pages/_components/FAQ.tsx
  src/www/src/pages/_components/Hero.tsx
  src/www/src/pages/_components/Workflow.tsx
Due: none

feat: point the 404 page at somewhere to go (#465)
  src/www/public/sitemap.xml
  src/www/scripts/generate-sitemap.ts
  src/www/scripts/prerender.ts
  src/www/src/components/Error404/Error404.tsx
Due: none

docs: list the agent-facing resources in llms.txt
  src/www/public/llms.txt
  src/www/src/components/Error404/Error404.tsx
Due: none

feat: return structured json errors from the api (#466)
  docs/api/1-authentication.md
  src/ce/api/public/v1/request_context.go
  src/ce/api/public/v1/request_context_mcp.go
  src/ce/api/router/router.go
  src/lib/shttp/response.go
  src/lib/shttp/router.go
  src/lib/shttp/router_json_errors_test.go
Due: backend

feat: publish an openapi specification for the api
  docs/api/1-authentication.md
  src/ce/api/public/v1/handler_openapi.go
  src/ce/api/public/v1/openapi.json
  src/ce/api/public/v1/openapi_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/lib/shttp/router.go
  src/lib/shttp/router_json_errors_test.go
  src/www/.gitignore
  src/www/package.json
  src/www/scripts/copy-openapi.ts
Due: backend

feat: publish an openapi specification for the api (#467)
  docs/api/1-authentication.md
  src/ce/api/public/v1/handler_openapi.go
  src/ce/api/public/v1/openapi.json
  src/ce/api/public/v1/openapi_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/lib/shttp/router.go
  src/lib/shttp/router_json_errors_test.go
  src/www/.gitignore
  src/www/package.json
  src/www/scripts/copy-openapi.ts
Due: backend

fix: serve the error page for unmatched paths (#468)
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
Due: backend

feat: serve markdown representations of pages
  docs/deployments/6-how-do-we-deploy.md
  src/ce/api/app/appconf/appconf_model.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/hosting/content_negotiation.go
  src/ce/hosting/content_negotiation_test.go
  src/ce/hosting/handler_forward.go
Due: backend

feat: serve markdown representations of pages (#469)
  docs/deployments/6-how-do-we-deploy.md
  src/ce/api/app/appconf/appconf_model.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/hosting/content_negotiation.go
  src/ce/hosting/content_negotiation_test.go
  src/ce/hosting/handler_forward.go
Due: backend

test: assert the sameAs profiles exactly
  src/www/src/helpers/structured-data.test.ts
Due: none

feat: add json-ld structured data to the site (#470)
  src/www/src/entry-server.tsx
  src/www/src/helpers/structured-data.test.ts
  src/www/src/helpers/structured-data.ts
Due: none

test: expect the markdown field in env config json
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_get_test.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments_test.go
Due: backend

test: expect the markdown field in env config json (#473)
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_get_test.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments_test.go
Due: backend

feat: publish a markdown twin of every page
  src/www/.gitignore
  src/www/package.json
  src/www/public/404.md
  src/www/public/index.md
  src/www/scripts/generate-markdown.test.ts
  src/www/scripts/generate-markdown.ts
  src/www/src/entry-server.tsx
  src/www/src/helpers/markdown-alternate.test.ts
  src/www/src/helpers/seo.ts
Due: none

feat: publish a markdown twin of every page (#471)
  src/www/.gitignore
  src/www/package.json
  src/www/public/404.md
  src/www/public/index.md
  src/www/scripts/generate-markdown.test.ts
  src/www/scripts/generate-markdown.ts
  src/www/src/entry-server.tsx
  src/www/src/helpers/markdown-alternate.test.ts
  src/www/src/helpers/seo.ts
Due: none
