Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for Stormkit
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 2%
    
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: true

  # Files to ignore in coverage reports
  ignore:
    - "**/*_test.go"
    - "**/*.test.ts"
    - "**/*.test.tsx"
    - "**/*.spec.ts"
    - "**/*.spec.tsx"
    - "**/mocks/**"
    - "**/testutils/**"
    - "src/ui/src/testing/**"
    - "**/__mocks__/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "src/migrations/**"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - src/ce/
      - src/ee/
      - src/lib/
    carryforward: true
  
  frontend:
    paths:
      - src/ui/src/
    carryforward: true

# Pull request comments configuration
github_checks:
  annotations: true

chore: update changelog for v2026.08.25.1 (#496)
  CHANGELOG.md
Due: none

fix: drop phantom today bucket in visitors chart
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Visitors.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/actions.ts
Due: frontend

fix: drop phantom today bucket in visitors chart (#497)
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Visitors.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/actions.ts
Due: frontend

refactor: unify the text/html content-type check
  src/ce/hosting/content_type.go
  src/ce/hosting/content_type_internal_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/handler_markdown.go
  src/ce/hosting/snippet_inject_test.go
Due: backend

refactor: unify the text/html content-type check (#498)
  src/ce/hosting/content_type.go
  src/ce/hosting/content_type_internal_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/handler_markdown.go
  src/ce/hosting/snippet_inject_test.go
Due: backend

feat: surface proxy timeouts as a distinct error
  docs/deployments/10-application-runtime.md
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/lib/html/html.go
  src/lib/shttp/proxy_error.go
  src/lib/shttp/proxy_timeout_test.go
  src/lib/shttp/request_v2.go
Due: backend

fix: address code review on proxy timeout error
  docs/deployments/10-application-runtime.md
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/lib/html/html.go
  src/lib/shttp/proxy_error.go
  src/lib/shttp/proxy_timeout_test.go
  src/lib/shttp/request_v2.go
Due: backend

docs: add conversion walkthrough video to post
  content/blog/serve-markdown-to-llms-content-negotiation.md
Due: none

fix: report upload errors in the deploy step
  src/ce/runner/runner.go
  src/ce/runner/runner_test.go
  src/ce/runner/uploader.go
  src/ce/runner/uploader_test.go
Due: backend

fix: report upload errors in the deploy step (#500)
  src/ce/runner/runner.go
  src/ce/runner/runner_test.go
  src/ce/runner/uploader.go
  src/ce/runner/uploader_test.go
Due: backend

chore: update changelog for v2026.08.27.1
  CHANGELOG.md
Due: none

docs: why we joined the content negotiation camp (#485)
  content/blog/serve-markdown-to-llms-content-negotiation.md
Due: none

style: refresh blog typography and embeds
  src/www/src/index.css
  src/www/src/pages/blog/[title].tsx
Due: none

docs: add token cost table to negotiation post
  content/blog/serve-markdown-to-llms-content-negotiation.md
Due: none

docs: tighten the content negotiation post
  content/blog/serve-markdown-to-llms-content-negotiation.md
Due: none

docs: drop the accessibility caveat
  content/blog/serve-markdown-to-llms-content-negotiation.md
Due: none

style: add article index and reading progress
  src/www/src/components/ArticleProgress/ArticleProgress.tsx
  src/www/src/components/ArticleProgress/index.ts
  src/www/src/components/ArticleToc/ArticleToc.tsx
  src/www/src/components/ArticleToc/index.ts
  src/www/src/index.css
  src/www/src/pages/blog/[title].tsx
Due: none

docs: drop the source-of-truth aside
  content/blog/serve-markdown-to-llms-content-negotiation.md
Due: none

docs: token cost table and blog design refresh (#502)
  content/blog/serve-markdown-to-llms-content-negotiation.md
  src/www/src/components/ArticleProgress/ArticleProgress.tsx
  src/www/src/components/ArticleProgress/index.ts
  src/www/src/components/ArticleToc/ArticleToc.tsx
  src/www/src/components/ArticleToc/index.ts
  src/www/src/index.css
  src/www/src/pages/blog/[title].tsx
Due: none

feat: cap cloud repo checkouts at 1gb
  src/ce/api/app/deployservice/deployer_local.go
  src/ce/api/app/deployservice/deployer_local_test.go
  src/ce/runner/repo.go
  src/ce/runner/repo_checkout_size_test.go
  src/ce/runner/repo_size.go
  src/ce/runner/repo_size_test.go
  src/ce/runner/repo_test.go
  src/lib/config/config.go
Due: backend

refactor: move the size cap to a pre-flight check
  src/ce/api/app/app_model.go
  src/ce/api/app/deployservice/deployer.go
  src/ce/api/app/deployservice/deployer_local.go
  src/ce/api/app/deployservice/deployer_local_test.go
  src/ce/api/app/deployservice/repo_size.go
  src/ce/api/app/deployservice/repo_size_test.go
  src/ce/api/oauth/bitbucket/bitbucket_repo_size.go
  src/ce/api/oauth/github/github_app.go
  src/ce/api/oauth/gitlab/gitlab_repo_size.go
  src/ce/runner/repo.go
  src/ce/runner/repo_checkout_size_test.go
  src/ce/runner/repo_size.go
  src/ce/runner/repo_size_test.go
  src/ce/runner/repo_test.go
  src/lib/config/config.go
Due: backend

feat: cap cloud repo checkouts at 1gb (#503)
  src/ce/api/app/app_model.go
  src/ce/api/app/deployservice/deployer.go
  src/ce/api/app/deployservice/repo_size.go
  src/ce/api/app/deployservice/repo_size_test.go
  src/ce/api/oauth/bitbucket/bitbucket_repo_size.go
  src/ce/api/oauth/github/github_app.go
  src/ce/api/oauth/gitlab/gitlab_repo_size.go
  src/lib/config/config.go
Due: backend

chore: update changelog for v2026.08.27.1 (#501)
  CHANGELOG.md
Due: none

chore: update changelog for v2026.09.02.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.09.02.1 (#505)
  CHANGELOG.md
Due: none

feat: add nixstore disk usage and gc helpers
  src/lib/utils/nixstore/export_test.go
  src/lib/utils/nixstore/nixstore.go
  src/lib/utils/nixstore/nixstore_test.go
Due: backend

test: expose a lookpath seam for nixstore callers
  src/lib/utils/nixstore/export_test.go
  src/lib/utils/nixstore/nixstore.go
  src/lib/utils/nixstore/nixstore_test.go
  src/lib/utils/nixstore/nixstoretest/nixstoretest.go
Due: backend

feat: garbage collect the nix store daily
  src/ce/api/admin/admin_model.go
  src/ce/api/admin/adminhandlers/handler_system_settings.go
  src/ce/api/admin/adminhandlers/handler_system_settings_test.go
  src/ce/api/admin/adminhandlers/handler_system_settings_update.go
  src/ce/api/admin/adminhandlers/handler_system_settings_update_test.go
  src/ce/api/admin/maintenance.go
  src/ce/api/admin/maintenance_test.go
  src/ee/hosting/main.go
  src/ee/workerserver/main.go
  src/www/public/stormkit-intro-sound.wav
  src/www/public/stormkit-intro.mp4
Due: backend

feat: fail deploys early when the build host is out of disk
  src/ce/runner/disk_preflight.go
  src/ce/runner/disk_preflight_test.go
  src/ce/runner/export_test.go
  src/ce/runner/runner.go
Due: backend

feat: report disk usage and expose a manual cleanup
  src/ce/api/admin/adminhandlers/handler_disk.go
  src/ce/api/admin/adminhandlers/handler_disk_cleanup.go
  src/ce/api/admin/adminhandlers/handler_disk_test.go
  src/ce/api/admin/adminhandlers/services.go
  src/ce/api/admin/adminhandlers/services_test.go
  src/ce/api/admin/disk_report.go
  src/ce/api/admin/disk_report_test.go
  src/ce/api/admin/maintenance.go
  src/ce/hosting/listeners.go
  src/ce/workerserver/start.go
  src/ee/hosting/main.go
  src/ee/workerserver/main.go
  src/lib/rediscache/service.go
Due: backend

feat: keep the nix store from growing without bound
  go.mod
  src/ce/api/admin/maintenance.go
  src/ce/api/admin/maintenance_test.go
  src/ce/runner/installer.go
  src/ce/runner/installer_test.go
  src/ee/hosting/main.go
  src/ee/workerserver/main.go
  src/lib/integrations/client_process_manager.go
  src/lib/integrations/client_process_manager_test.go
  src/lib/utils/nixstore/nixstore.go
  src/lib/utils/nixstore/nixstore_test.go
  src/lib/utils/nixstore/nixstoretest/nixstoretest.go
  src/lib/utils/nixstore/profile.go
  src/lib/utils/nixstore/profile_test.go
Due: backend

feat: keep the nix store from growing without bound (#510)
  go.mod
  src/ce/api/admin/maintenance.go
  src/ce/api/admin/maintenance_test.go
  src/ce/runner/installer.go
  src/ce/runner/installer_test.go
  src/ee/hosting/main.go
  src/ee/workerserver/main.go
  src/lib/integrations/client_process_manager.go
  src/lib/integrations/client_process_manager_test.go
  src/lib/utils/nixstore/nixstore.go
  src/lib/utils/nixstore/nixstore_test.go
  src/lib/utils/nixstore/nixstoretest/nixstoretest.go
  src/lib/utils/nixstore/profile.go
  src/lib/utils/nixstore/profile_test.go
Due: backend

chore: update changelog for v2026.09.03.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.09.03.1 (#511)
  CHANGELOG.md
Due: none

fix: stop leaking orphaned server processes
  src/lib/integrations/client_process_manager.go
  src/lib/integrations/client_process_manager_test.go
Due: backend

fix: address code review findings
  src/lib/integrations/client_process_manager.go
  src/lib/integrations/client_process_manager_test.go
  src/lib/integrations/client_process_manager_unix.go
  src/lib/integrations/client_process_manager_windows.go
Due: backend

fix: stop leaking orphaned server processes (#512)
  src/lib/integrations/client_process_manager.go
  src/lib/integrations/client_process_manager_test.go
  src/lib/integrations/client_process_manager_unix.go
  src/lib/integrations/client_process_manager_windows.go
Due: backend

chore: update changelog for v2026.09.04.1
  CHANGELOG.md
Due: none

chore: add intro video and sound assets
  src/www/public/stormkit-intro-sound.wav
  src/www/public/stormkit-intro.mp4
Due: none

chore: add intro video and sound assets (#514)
  src/www/public/stormkit-intro-sound.wav
  src/www/public/stormkit-intro.mp4
Due: none
