Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: serve oauth callback from the app hosting domain
  src/ce/api/app/skauth/client_google.go
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/client_x_test.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths_test.go
  src/ce/api/public/v1/handler_auth_callback.go
  src/ce/api/public/v1/handler_auth_callback_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/middleware.skauth_oauth_test.go
  src/ce/hosting/skauth_oauth.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/shared/domains/actions.ts
Due: backend, frontend

feat: serve oauth callback from the app hosting domain (#299)
  src/ce/api/app/skauth/client_google.go
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/client_x_test.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths_test.go
  src/ce/api/public/v1/handler_auth_callback.go
  src/ce/api/public/v1/handler_auth_callback_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/middleware.skauth_oauth_test.go
  src/ce/hosting/skauth_oauth.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/shared/domains/actions.ts
Due: backend, frontend

fix: link auth providers by email to avoid duplicates
  src/ce/api/app/buildconf/schema_store.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/skauth_oauth.go
Due: backend

fix: link auth providers by email to avoid duplicates (#300)
  src/ce/api/app/buildconf/schema_store.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/skauth_oauth.go
Due: backend

chore: update changelog for v2026.06.19.1
  CHANGELOG.md
Due: none

fix: inject skauth token on cross-origin oauth login
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/middleware.skauth_test.go
  src/ce/hosting/skauth_oauth.go
  src/ui/src/components/CopyBox/CopyBox.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
Due: backend, frontend

chore: update changelog for v2026.06.19.1 (#301)
  CHANGELOG.md
Due: none

fix: inject skauth token on cross-origin oauth login (#302)
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/middleware.skauth_test.go
  src/ce/hosting/skauth_oauth.go
  src/ui/src/components/CopyBox/CopyBox.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
Due: backend, frontend

chore: update changelog for v2026.06.20.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.06.20.1 (#303)
  CHANGELOG.md
Due: none

fix: dismissible origins hint and select z-index
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
Due: frontend

fix: dismissible origins hint and select z-index (#304)
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
Due: frontend

feat: redirect oauth failures with login_error
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/skauth_oauth.go
Due: backend

feat: magic-link failures redirect with login_error
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/skauth_magic.go
  src/ce/hosting/skauth_oauth.go
Due: backend

feat: redirect auth failures with login_error (#305)
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/skauth_magic.go
  src/ce/hosting/skauth_oauth.go
Due: backend

chore: update changelog for v2026.06.20.2
  CHANGELOG.md
Due: none

docs: add stormkit auth feature guide
  docs/features/15-authentication.md
  docs/features/2-auth-wall.md
Due: none

docs: add stormkit auth feature guide (#307)
  docs/features/15-authentication.md
  docs/features/2-auth-wall.md
Due: none

chore: update changelog for v2026.06.20.2 (#306)
  CHANGELOG.md
Due: none

fix: use x.com for x oauth authorize url
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/client_x_test.go
Due: backend

fix: use x.com for x oauth authorize url (#308)
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/client_x_test.go
Due: backend

chore: update changelog for v2026.06.20.3
  CHANGELOG.md
Due: none

chore: update changelog for v2026.06.20.3 (#309)
  CHANGELOG.md
Due: none

feat: add create/delete domain mcp tools
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
Due: backend

refactor: move domain handlers to public api v1
  src/ce/api/app/buildconf/domainhandlers/services.go
  src/ce/api/app/buildconf/domainhandlers/services_test.go
  src/ce/api/public/v1/handler_domain_add.go
  src/ce/api/public/v1/handler_domain_add_test.go
  src/ce/api/public/v1/handler_domain_custom_cert_delete.go
  src/ce/api/public/v1/handler_domain_custom_cert_delete_test.go
  src/ce/api/public/v1/handler_domain_custom_cert_put.go
  src/ce/api/public/v1/handler_domain_custom_cert_put_test.go
  src/ce/api/public/v1/handler_domain_delete.go
  src/ce/api/public/v1/handler_domain_delete_test.go
  src/ce/api/public/v1/handler_domains_list.go
  src/ce/api/public/v1/handler_domains_list_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/request_context.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabDomainConfig/actions.ts
  src/ui/src/shared/domains/actions.ts
  src/ui/src/testing/nocks/nock_domains.ts
Due: backend, frontend

test: cover internal domain lookup registration
  src/ce/api/app/buildconf/domainhandlers/services_test.go
Due: backend

feat: add create/delete domain mcp tools (#310)
  src/ce/api/app/buildconf/domainhandlers/services.go
  src/ce/api/app/buildconf/domainhandlers/services_test.go
  src/ce/api/public/v1/handler_domain_add.go
  src/ce/api/public/v1/handler_domain_add_test.go
  src/ce/api/public/v1/handler_domain_custom_cert_delete.go
  src/ce/api/public/v1/handler_domain_custom_cert_delete_test.go
  src/ce/api/public/v1/handler_domain_custom_cert_put.go
  src/ce/api/public/v1/handler_domain_custom_cert_put_test.go
  src/ce/api/public/v1/handler_domain_delete.go
  src/ce/api/public/v1/handler_domain_delete_test.go
  src/ce/api/public/v1/handler_domains_list.go
  src/ce/api/public/v1/handler_domains_list_test.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/request_context.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabDomainConfig/actions.ts
  src/ui/src/shared/domains/actions.ts
  src/ui/src/testing/nocks/nock_domains.ts
Due: backend, frontend

feat: incremental env config saves
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigEnvVars.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigEnvVars.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigGeneral.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigGeneral.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigHeaders.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigHeaders.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigRedirects.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigRedirects.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigServer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigServerless.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigServerless.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabStatusChecks/StatusCheckModal.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabStatusChecks/StatusCheckModal.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabStatusChecks/TabStatusChecks.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabStatusChecks/TabStatusChecks.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/testing/nocks/nock_environment.ts
Due: frontend

feat: incremental env config saves (#312)
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigEnvVars.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigEnvVars.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigGeneral.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigGeneral.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigHeaders.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigHeaders.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigRedirects.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigRedirects.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigServer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigServerless.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigServerless.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabStatusChecks/StatusCheckModal.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabStatusChecks/StatusCheckModal.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabStatusChecks/TabStatusChecks.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabStatusChecks/TabStatusChecks.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/testing/nocks/nock_environment.ts
Due: frontend

feat: mask env var values behind reveal endpoint
  docs/api/3-environments.md
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_get_test.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/buildconf/env_model_test.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/public/v1/handler_env_list_test.go
  src/ce/api/public/v1/handler_env_pull.go
  src/ce/api/public/v1/handler_env_pull_test.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/runner/print_env_test.go
  src/ce/runner/runner.go
  src/ee/api/audit/audit_model.go
  src/ui/src/components/FormV2/KeyValue.tsx
  src/ui/src/components/FormV2/KeyValueRow.tsx
  src/ui/src/layouts/AppLayout/AppLayout.spec.tsx
  src/ui/src/layouts/AppLayout/EnvMenu.spec.tsx
  src/ui/src/layouts/AppLayout/EnvMenu.tsx
  src/ui/src/layouts/AppLayout/menu_items.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigEnvVars.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigEnvVars.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/mui-theme.tsx
  src/ui/src/shared/feed/AuditMessage.spec.tsx
  src/ui/src/shared/feed/AuditMessage.tsx
  src/ui/src/testing/nocks/nock_environment.ts
  src/ui/src/utils/helpers/instance.ts
Due: backend, frontend

feat: mask env var values behind reveal endpoint (#311)
  docs/api/3-environments.md
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_get_test.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/buildconf/env_model_test.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/public/v1/handler_env_list_test.go
  src/ce/api/public/v1/handler_env_pull.go
  src/ce/api/public/v1/handler_env_pull_test.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/runner/print_env_test.go
  src/ce/runner/runner.go
  src/ee/api/audit/audit_model.go
  src/ui/src/components/FormV2/KeyValue.tsx
  src/ui/src/components/FormV2/KeyValueRow.tsx
  src/ui/src/layouts/AppLayout/AppLayout.spec.tsx
  src/ui/src/layouts/AppLayout/EnvMenu.spec.tsx
  src/ui/src/layouts/AppLayout/EnvMenu.tsx
  src/ui/src/layouts/AppLayout/menu_items.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigEnvVars.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigEnvVars.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/mui-theme.tsx
  src/ui/src/shared/feed/AuditMessage.spec.tsx
  src/ui/src/shared/feed/AuditMessage.tsx
  src/ui/src/testing/nocks/nock_environment.ts
  src/ui/src/utils/helpers/instance.ts
Due: backend, frontend

chore: update changelog for v2026.06.23.1
  CHANGELOG.md
Due: none

docs: mark env var masking as breaking change
  CHANGELOG.md
Due: none

chore: update changelog for v2026.06.23.1 (#313)
  CHANGELOG.md
Due: none

feat: add claude code plugin and marketplace
  .claude-plugin/marketplace.json
  plugins/stormkit/.claude-plugin/plugin.json
  plugins/stormkit/.mcp.json
  plugins/stormkit/README.md
  plugins/stormkit/skills/setup/SKILL.md
Due: none

feat: add claude code plugin and marketplace (#315)
  .claude-plugin/marketplace.json
  plugins/stormkit/.claude-plugin/plugin.json
  plugins/stormkit/.mcp.json
  plugins/stormkit/README.md
  plugins/stormkit/skills/setup/SKILL.md
Due: none

feat: add mcp docs page and /mcp endpoint
  docs/api/10-mcp.md
  src/ce/api/public/v1/handler_mcp_docs.go
  src/ce/api/public/v1/handler_mcp_docs_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
Due: backend

refactor: serve mcp docs via www, drop go route
  docs/api/10-mcp.md
  src/ce/api/public/v1/handler_mcp_docs.go
  src/ce/api/public/v1/handler_mcp_docs_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
Due: backend

feat: add mcp docs page (#316)
  docs/api/10-mcp.md
Due: none

fix: add client-side /mcp route for docs alias
  src/www/src/pages/docs/[category]/[title].tsx
  src/www/src/pages/mcp.tsx
  src/www/src/routes.tsx
Due: none

Path conditions:
  backend: any of: src/ce/, src/ee/, src/lib/
  frontend: any of: src/ui/src/
