Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: add email verification for SKAuth email provider
  src/ce/api/app/buildconf/mailer_model.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set_test.go
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/public/v1/handler_auth_email_login.go
  src/ce/api/public/v1/handler_auth_email_register.go
  src/ce/api/public/v1/handler_auth_verify.go
  src/ce/api/public/v1/handler_auth_verify_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_test.go
Due: backend

feat: log all emails and expose GET /mailer endpoint
  src/ce/api/app/buildconf/mailer_store.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail_list.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail_list_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail_test.go
  src/ce/api/app/buildconf/mailerhandlers/services.go
  src/ce/api/app/buildconf/mailerhandlers/services_test.go
Due: backend

feat: add Sent Emails submenu under Mailer
  src/ui/src/layouts/AppLayout/menu_items.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/SentEmails.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/SentEmails.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/actions.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/routes.ts
  src/ui/src/testing/nocks/nock_mailer.ts
Due: frontend

feat: add SKAuth magic link provider
  src/ce/api/app/buildconf/mailer_store.go
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/skauth/client_magiclink.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert_test.go
  src/ce/api/public/v1/handler_auth_magiclink.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/middleware.skauth_test.go
  src/ui/src/components/MenuLink/MenuLink.tsx
  src/ui/src/layouts/AppLayout/EnvMenu.tsx
  src/ui/src/layouts/AppLayout/menu_items.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/SentEmails.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/SentEmails.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/actions.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/routes.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
  src/ui/src/testing/nocks/nock_mailer.ts
Due: backend, frontend

chore: update changelog for v2026.05.12.1
  CHANGELOG.md
Due: none

feat: inject X-User-Id header from SKAuth bearer token
  src/ce/api/public/v1/handler_auth_session.go
  src/ce/api/public/v1/handler_auth_session_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_test.go
Due: backend

refactor: move SKAuth handlers from publicapiv1 to hosting
  src/ce/api/public/v1/handler_auth_email_login.go
  src/ce/api/public/v1/handler_auth_email_login_test.go
  src/ce/api/public/v1/handler_auth_email_register.go
  src/ce/api/public/v1/handler_auth_email_register_test.go
  src/ce/api/public/v1/handler_auth_verify.go
  src/ce/api/public/v1/handler_auth_verify_test.go
  src/ce/api/public/v1/services_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_test.go
  src/ce/hosting/skauth_email.go
  src/ce/hosting/skauth_email_test.go
  src/ce/hosting/skauth_magic.go
Due: backend

feat: add shared session endpoint for admin access
  src/ce/api/user/user_model.go
  src/ce/api/user/userhandlers/handler_user_shared_session.go
  src/ce/api/user/userhandlers/handler_user_shared_session_test.go
  src/ce/api/user/userhandlers/services.go
  src/ce/api/user/userhandlers/services_test.go
  src/ui/src/pages/routes.tsx
  src/ui/src/pages/user/account/Account.tsx
  src/ui/src/pages/user/account/_components/ShareSessionModal.spec.tsx
  src/ui/src/pages/user/account/_components/ShareSessionModal.tsx
  src/ui/src/pages/user/account/actions.ts
  src/ui/src/testing/nocks/nock_user.ts
Due: backend, frontend

chore: update changelog for v2026.05.14.1
  CHANGELOG.md
Due: none

chore: update navigation items padding
  src/ui/src/layouts/AppLayout/EnvMenu.tsx
Due: frontend

feat: add run-next priority queue for deployments
  content/blog/whats-new.md
  docs/api/7-deployments.md
  docs/deployments/11-priority-deployments.md
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_start_test.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_statements.go
  src/ce/api/app/deploy/deployment_store.go
  src/ce/api/app/deployservice/deployer.go
  src/ce/api/public/v1/handler_deployment_prioritize.go
  src/ce/api/public/v1/handler_deployment_prioritize_test.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/workerserver/start.go
  src/lib/tasks/tasks.go
  src/migrations/0023_2026-05-15.up.sql
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigGeneral.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/shared/deployments/CommitInfo.tsx
  src/ui/src/shared/deployments/DeploymentRow.tsx
  src/ui/src/shared/deployments/actions.tsx
  src/ui/src/testing/nocks/nock_environment.ts
  src/ui/src/types/deployment.d.ts
  src/ui/src/types/environment.d.ts
Due: backend, frontend

feat: add run-next priority queue for deployments (#244)
  content/blog/whats-new.md
  docs/api/7-deployments.md
  docs/deployments/11-priority-deployments.md
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_start_test.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_statements.go
  src/ce/api/app/deploy/deployment_store.go
  src/ce/api/app/deployservice/deployer.go
  src/ce/api/public/v1/handler_deployment_prioritize.go
  src/ce/api/public/v1/handler_deployment_prioritize_test.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/workerserver/start.go
  src/lib/tasks/tasks.go
  src/migrations/0023_2026-05-15.up.sql
  src/ui/src/layouts/AppLayout/EnvMenu.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigGeneral.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/shared/deployments/CommitInfo.tsx
  src/ui/src/shared/deployments/DeploymentRow.tsx
  src/ui/src/shared/deployments/actions.tsx
  src/ui/src/testing/nocks/nock_environment.ts
  src/ui/src/types/deployment.d.ts
  src/ui/src/types/environment.d.ts
Due: backend, frontend

chore: update changelog for v2026.05.16.1
  CHANGELOG.md
Due: none

test: add prioritize_deployment to MCP tools list test
  src/ce/api/public/v1/handler_mcp_test.go
Due: backend

test: add prioritize_deployment to MCP tools list test (#246)
  src/ce/api/public/v1/handler_mcp_test.go
Due: backend

chore: update changelog for v2026.05.16.1 (#245)
  CHANGELOG.md
Due: none

chore: add debug logs to 500 responses
  src/ce/api/app/deploy/deployhandlers/handler_deploy_start.go
Due: backend

chore: update changelog for v2026.05.21.1
  CHANGELOG.md
Due: none

fix: disable aws-chunked encoding for Alibaba OSS
  src/lib/integrations/client_alibaba.go
  src/lib/integrations/client_alibaba_test.go
  src/www/package-lock.json
Due: backend

fix: disable aws-chunked encoding for Alibaba OSS (#248)
  src/lib/integrations/client_alibaba.go
  src/lib/integrations/client_alibaba_test.go
  src/www/package-lock.json
Due: backend

chore: update changelog for v2026.05.21.1 (#247)
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.21.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.21.2 (#249)
  CHANGELOG.md
Due: none

feat: expose schema endpoints via public v1 API
  docs/api/9-database.md
  src/ce/api/app/app_shttp.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_configure.go
  src/ce/api/app/buildconf/schemahandlers/services.go
  src/ce/api/app/buildconf/schemahandlers/services_test.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/handler_schema_configure.go
  src/ce/api/public/v1/handler_schema_configure_test.go
  src/ce/api/public/v1/handler_schema_delete.go
  src/ce/api/public/v1/handler_schema_delete_test.go
  src/ce/api/public/v1/handler_schema_get.go
  src/ce/api/public/v1/handler_schema_get_test.go
  src/ce/api/public/v1/handler_schema_set.go
  src/ce/api/public/v1/handler_schema_set_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/api/router/router.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/actions.tsx
  src/ui/src/testing/nocks/nock_schema.ts
Due: backend, frontend

feat: expose schema endpoints via public v1 API (#250)
  docs/api/9-database.md
  src/ce/api/app/app_shttp.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_configure.go
  src/ce/api/app/buildconf/schemahandlers/services.go
  src/ce/api/app/buildconf/schemahandlers/services_test.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/handler_schema_configure.go
  src/ce/api/public/v1/handler_schema_configure_test.go
  src/ce/api/public/v1/handler_schema_delete.go
  src/ce/api/public/v1/handler_schema_delete_test.go
  src/ce/api/public/v1/handler_schema_get.go
  src/ce/api/public/v1/handler_schema_get_test.go
  src/ce/api/public/v1/handler_schema_set.go
  src/ce/api/public/v1/handler_schema_set_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/api/router/router.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/actions.tsx
  src/ui/src/testing/nocks/nock_schema.ts
Due: backend, frontend

feat: drop Postgres schemas for soft-deleted envs
  src/ce/api/app/buildconf/schema_store.go
  src/ce/workerserver/job_environments.go
  src/ce/workerserver/job_environments_test.go
  src/ce/workerserver/ws_statements.go
Due: backend

feat: drop Postgres schemas for soft-deleted envs (#251)
  src/ce/api/app/buildconf/schema_store.go
  src/ce/workerserver/job_environments.go
  src/ce/workerserver/job_environments_test.go
  src/ce/workerserver/ws_statements.go
Due: backend

feat: add local file:// repo provider (dev only)
  docs/api/2-apps.md
  src/ce/api/app/app_model.go
  src/ce/api/app/app_model_test.go
  src/ce/api/app/app_shttp.go
  src/ce/api/app/apphandlers/handler_app_insert.go
  src/ce/api/app/apphandlers/handler_app_insert_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_model_test.go
  src/ce/api/oauth/local/local.go
  src/ce/api/oauth/local/local_test.go
  src/ce/api/public/v1/handler_app_create.go
  src/ce/api/public/v1/handler_app_create_test.go
  src/ce/api/public/v1/handler_app_list.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/validators.go
  src/ce/api/public/v1/validators_test.go
  src/lib/utils/string.go
  src/lib/utils/string_test.go
  src/ui/src/pages/apps/new/url/ImportURL.tsx
  src/ui/src/types/provider.d.ts
Due: backend, frontend

perf: lock-free config reads via atomic.Pointer
  src/ce/api/admin/admin_model.go
  src/ce/api/admin/admin_store.go
  src/ce/api/admin/adminhandlers/handler_admin_domains_set.go
  src/ce/api/admin/adminhandlers/handler_git_configure.go
  src/ce/api/admin/adminhandlers/handler_github_manifest_callback.go
  src/ce/api/admin/adminhandlers/handler_license_set.go
  src/ce/api/app/appconf/appconf_shttp_test.go
  src/ce/api/router/cors_test.go
  src/lib/config/config.go
Due: backend

perf: lock-free config reads via atomic.Pointer (#254)
  src/ce/api/admin/admin_model.go
  src/ce/api/admin/admin_store.go
  src/ce/api/admin/adminhandlers/handler_admin_domains_set.go
  src/ce/api/admin/adminhandlers/handler_git_configure.go
  src/ce/api/admin/adminhandlers/handler_github_manifest_callback.go
  src/ce/api/admin/adminhandlers/handler_license_set.go
  src/ce/api/app/appconf/appconf_shttp_test.go
  src/ce/api/router/cors_test.go
  src/lib/config/config.go
Due: backend

chore: ignore .claude/ directory
  .gitignore
Due: none

feat: honor AutoInstall when skipping runtimes/nix
  src/ce/api/admin/admin_model.go
  src/ce/api/app/deployservice/deployer.go
  src/ce/api/app/deployservice/deployer_service.go
  src/ce/api/app/deployservice/deployer_test.go
  src/ce/runner/builder.go
  src/ce/runner/builder_test.go
  src/ce/runner/bundler.go
  src/ce/runner/bundler_test.go
  src/ce/runner/installer.go
  src/ce/runner/installer_test.go
  src/ce/runner/runner.go
  src/ce/runner/status_checks.go
  src/ce/runner/status_checks_test.go
  src/lib/integrations/client_process_manager.go
Due: backend

feat: honor AutoInstall when skipping runtimes/nix (#255)
  .gitignore
  src/ce/api/admin/admin_model.go
  src/ce/api/app/deployservice/deployer.go
  src/ce/api/app/deployservice/deployer_service.go
  src/ce/api/app/deployservice/deployer_test.go
  src/ce/runner/builder.go
  src/ce/runner/builder_test.go
  src/ce/runner/bundler.go
  src/ce/runner/bundler_test.go
  src/ce/runner/installer.go
  src/ce/runner/installer_test.go
  src/ce/runner/runner.go
  src/ce/runner/status_checks.go
  src/ce/runner/status_checks_test.go
  src/lib/integrations/client_process_manager.go
Due: backend

chore: update changelog for v2026.05.23.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.23.1 (#256)
  CHANGELOG.md
Due: none

chore: log slow requests at debug level
  src/lib/config/config.go
  src/lib/shttp/service.go
Due: backend

chore: log slow requests at debug level (#257)
  src/lib/config/config.go
  src/lib/shttp/service.go
Due: backend

chore: update changelog for v2026.05.23.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.23.2 (#258)
  CHANGELOG.md
Due: none

perf: lock-free ZipManager to remove global serialization
  src/lib/integrations/client_aws.go
  src/lib/integrations/client_aws_s3.go
  src/lib/integrations/zip_manager.go
  src/lib/integrations/zip_manager_test.go
Due: backend

Path conditions:
  backend: any of: src/ce/, src/ee/, src/lib/
  frontend: any of: src/ui/src/
