Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: tighten api key and token checks (#568)
  docs/api/2-apps.md
  docs/api/3-environments.md
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_remove.go
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_remove_test.go
  src/ce/api/app/buildconf/domainhandlers/handler_domain_lookup.go
  src/ce/api/app/buildconf/domainhandlers/handler_domain_lookup_test.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/buildconf/env_model_test.go
  src/ce/api/public/v1/handler_app_conf.go
  src/ce/api/public/v1/handler_app_conf_test.go
  src/ce/api/public/v1/handler_env_add_test.go
  src/ce/api/public/v1/handler_env_list_test.go
  src/ce/api/public/v1/handler_schema_delete.go
  src/ce/api/public/v1/handler_schema_delete_test.go
  src/ce/api/public/v1/openapi.json
  src/ce/api/public/v1/request_context.go
  src/ce/api/public/v1/request_context_test.go
  src/ce/api/public/v1/services.go
  src/ce/hosting/oauth.go
  src/ce/hosting/oauth_test.go
  src/lib/utils/hash.go
  src/lib/utils/hash_test.go
Due: backend

docs: add manifest fix to changelog
  CHANGELOG.md
Due: none

chore: remove template deploy
  src/ce/api/app/apphandlers/handler_deploy.go
  src/ce/api/app/apphandlers/handler_deploy_test.go
  src/ce/api/app/apphandlers/services.go
  src/ce/api/app/apphandlers/services_test.go
  src/ce/api/oauth/github/github_client.go
  src/mocks/github_client.go
  src/ui/src/pages/auth/Auth.tsx
  src/ui/src/pages/clone/actions.ts
  src/ui/src/pages/clone/index.tsx
  src/ui/src/pages/routes.tsx
  src/www/public/button.svg
  src/www/public/button_generator.html
Due: backend, frontend

docs: add manifest fix to changelog (#569)
  CHANGELOG.md
Due: none

fix: require write access to create team keys
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_add.go
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_add_test.go
Due: backend

chore: remove template deploy (#570)
  src/ce/api/app/apphandlers/handler_deploy.go
  src/ce/api/app/apphandlers/handler_deploy_test.go
  src/ce/api/app/apphandlers/services.go
  src/ce/api/app/apphandlers/services_test.go
  src/ce/api/oauth/github/github_client.go
  src/mocks/github_client.go
  src/ui/src/pages/auth/Auth.tsx
  src/ui/src/pages/clone/actions.ts
  src/ui/src/pages/clone/index.tsx
  src/ui/src/pages/routes.tsx
  src/www/public/button.svg
  src/www/public/button_generator.html
Due: backend, frontend

fix: redirect auth wall logins to their own page
  src/ce/api/app/authwall/authwall_token.go
  src/ce/api/app/authwall/authwallhandlers/handler_auth.go
  src/ce/api/app/authwall/authwallhandlers/handler_auth_test.go
  src/ce/api/app/authwall/authwallhandlers/services_test.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/middleware.auth_wall.go
Due: backend

fix: compare auth wall passwords in constant time
  src/ce/api/app/authwall/authwall_store.go
Due: backend

chore: explain removed deploy button
  src/ce/api/app/apphandlers/handler_deploy_removed.go
  src/ce/api/app/apphandlers/handler_deploy_removed_test.go
  src/ce/api/app/apphandlers/services.go
  src/ce/api/app/apphandlers/services_test.go
  src/www/public/button.svg
Due: backend

test: run ui spec files with a .ts extension
  src/ui/src/layouts/AppLayout/__snapshots__/routes.spec.ts.snap
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.spec.ts
  src/ui/src/utils/helpers/providers.spec.ts
  src/ui/vitest.config.ts
Due: frontend

fix: address key creation and auth wall review
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_remove.go
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_remove_test.go
  src/ce/api/app/authwall/authwall_token.go
  src/ce/api/app/authwall/authwallhandlers/handler_auth.go
  src/ce/api/app/authwall/authwallhandlers/handler_auth_test.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/middleware.auth_wall.go
  src/ui/src/layouts/AppLayout/__snapshots__/routes.spec.ts.snap
  src/ui/src/layouts/AppLayout/routes.spec.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.spec.ts
  src/ui/src/pages/team/Settings.spec.tsx
  src/ui/src/pages/team/TeamAPIKeys.tsx
Due: backend, frontend

fix: tighten key creation and auth wall (#571)
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_add.go
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_add_test.go
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_remove.go
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_remove_test.go
  src/ce/api/app/authwall/authwall_store.go
  src/ce/api/app/authwall/authwall_token.go
  src/ce/api/app/authwall/authwallhandlers/handler_auth.go
  src/ce/api/app/authwall/authwallhandlers/handler_auth_test.go
  src/ce/api/app/authwall/authwallhandlers/services_test.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/middleware.auth_wall.go
  src/ui/src/layouts/AppLayout/__snapshots__/routes.spec.ts.snap
  src/ui/src/layouts/AppLayout/routes.spec.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.spec.ts
  src/ui/src/pages/team/Settings.spec.tsx
  src/ui/src/pages/team/TeamAPIKeys.tsx
  src/ui/src/utils/helpers/providers.spec.ts
  src/ui/vitest.config.ts
Due: backend, frontend

fix: address token purpose review
  src/ce/api/admin/adminhandlers/handler_github_manifest_test.go
  src/ce/api/app/skauth/client_x_test.go
  src/ce/api/user/token_purpose.go
  src/ce/api/user/token_purpose_test.go
  src/ce/api/user/user_shttp.go
  src/ce/api/user/userhandlers/handler_user_shared_session.go
  src/ce/api/user/userhandlers/handler_user_shared_session_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/oauth.go
Due: backend

chore: update changelog for v2026.09.29.4
  CHANGELOG.md
Due: none

chore: explain removed deploy button (#574)
  src/ce/api/app/apphandlers/handler_deploy_removed.go
  src/ce/api/app/apphandlers/handler_deploy_removed_test.go
  src/ce/api/app/apphandlers/services.go
  src/ce/api/app/apphandlers/services_test.go
  src/www/public/button.svg
Due: backend

chore: update changelog for v2026.09.29.4 (#573)
  CHANGELOG.md
Due: none

fix: hide webhook secret hint once configured
  src/ui/src/pages/admin/Git/GitHubModal.spec.tsx
  src/ui/src/pages/admin/Git/GitHubModal.tsx
Due: frontend

fix: hide webhook secret hint once configured (#575)
  src/ui/src/pages/admin/Git/GitHubModal.spec.tsx
  src/ui/src/pages/admin/Git/GitHubModal.tsx
Due: frontend

chore: update changelog for v2026.09.29.5
  CHANGELOG.md
Due: none

chore: update changelog for v2026.09.29.5 (#576)
  CHANGELOG.md
Due: none

fix: keep .git and editor dirs out of deploys
  src/ce/runner/bundler.go
  src/ce/runner/bundler_test.go
  src/lib/utils/file/zip.go
  src/lib/utils/file/zip_test.go
Due: backend

fix: keep .git and editor dirs out of deploys (#577)
  src/ce/runner/bundler.go
  src/ce/runner/bundler_test.go
  src/lib/utils/file/zip.go
  src/lib/utils/file/zip_test.go
Due: backend

chore: update changelog for v2026.10.01.1
  CHANGELOG.md
Due: none

fix: measure server time and transfer separately
  deploy/monitoring/grafana/dashboards/stormkit-requests.json
  docs/self-hosting/8-monitoring.md
  go.mod
  src/ee/hosting/main.go
  src/lib/shttp/request_timing.go
  src/lib/shttp/service.go
  src/lib/shttp/service_catchall_test.go
  src/lib/tracking/metrics.go
  src/lib/tracking/prometheus.go
  src/lib/tracking/prometheus_test.go
Due: backend

fix: stop access-log pushes piling up behind a flush
  src/ce/hosting/batcher.go
  src/lib/pool/batcher.go
  src/lib/pool/batcher_test.go
Due: backend

fix: flush queued items on close and manual flush
  src/lib/pool/batcher.go
  src/lib/pool/batcher_test.go
Due: backend

fix: measure server time and transfer separately (#579)
  deploy/monitoring/grafana/dashboards/stormkit-requests.json
  docs/self-hosting/8-monitoring.md
  go.mod
  src/ee/hosting/main.go
  src/lib/shttp/request_timing.go
  src/lib/shttp/service.go
  src/lib/shttp/service_catchall_test.go
  src/lib/tracking/metrics.go
  src/lib/tracking/prometheus.go
  src/lib/tracking/prometheus_test.go
Due: backend

chore: update changelog for v2026.10.01.1 (#578)
  CHANGELOG.md
Due: none

fix: stop access-log pushes piling up behind a flush (#580)
  src/ce/hosting/batcher.go
  src/lib/pool/batcher.go
  src/lib/pool/batcher_test.go
Due: backend

chore: update changelog for v2026.10.01.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.10.01.2 (#581)
  CHANGELOG.md
Due: none

docs: add easypanel to self-hosted alternatives
  content/blog/best-self-hosted-vercel-alternatives.md
Due: none

docs: add easypanel to self-hosted alternatives (#582)
  content/blog/best-self-hosted-vercel-alternatives.md
Due: none

perf: memoise bot detection per user agent
  src/ee/api/analytics/analytics_bots.go
  src/ee/api/analytics/analytics_bots_cache.go
  src/ee/api/analytics/analytics_bots_cache_test.go
Due: backend

docs: say what the cache size does and does not guarantee
  src/ee/api/analytics/analytics_bots_cache.go
Due: backend

perf: memoise bot detection per user agent (#583)
  src/ee/api/analytics/analytics_bots.go
  src/ee/api/analytics/analytics_bots_cache.go
  src/ee/api/analytics/analytics_bots_cache_test.go
Due: backend

chore: update changelog for v2026.10.02.1
  CHANGELOG.md
Due: none

Path conditions:
  backend: any of: src/ce/, src/ee/, src/lib/
  frontend: any of: src/ui/src/
