Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore: update changelog for v2026.07.10.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.10.2 (#350)
  CHANGELOG.md
Due: none

feat: add maintenance mode toggle
  src/ce/api/app/appconf/appconf_model.go
  src/ce/api/app/appconf/appconf_model_test.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/maintenance/maintenance_model.go
  src/ce/api/app/maintenance/maintenance_store.go
  src/ce/api/app/maintenance/maintenancehandlers/handler_config_get.go
  src/ce/api/app/maintenance/maintenancehandlers/handler_config_get_test.go
  src/ce/api/app/maintenance/maintenancehandlers/handler_config_set.go
  src/ce/api/app/maintenance/maintenancehandlers/handler_config_set_test.go
  src/ce/api/app/maintenance/maintenancehandlers/services.go
  src/ce/api/router/router.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/middleware.maintenance.go
  src/ee/api/audit/audit_model.go
  src/lib/html/html.go
  src/migrations/0025_2026-07-10.up.sql
  src/migrations/structure.sql
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/EnvironmentConfig.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/EnvironmentConfig.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabMaintenance/Maintenance.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabMaintenance/Maintenance.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabMaintenance/actions.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabMaintenance/index.ts
  src/ui/src/shared/feed/AuditMessage.tsx
  src/ui/src/testing/nocks/nock_maintenance.ts
  src/ui/src/types/audit.d.ts
Due: backend, frontend

fix: insert deploy step chronologically in logs
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_model_test.go
Due: backend

feat: structured deployment logs with explicit timings
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback.go
  src/ce/api/app/deploy/deployment_logs.go
  src/ce/api/app/deploy/deployment_logs_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_statements.go
  src/ce/runner/builder_test.go
  src/ce/runner/custom_buffer.go
  src/ce/runner/custom_buffer_test.go
  src/ce/runner/installer_test.go
  src/ce/runner/print_env_test.go
  src/ce/runner/reporter.go
  src/ce/runner/runner.go
  src/ce/runner/status_checks.go
  src/ce/runner/step_logger.go
  src/ce/runner/step_logger_test.go
Due: backend

fix: deploy step ordering + structured deployment logs (#352)
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback.go
  src/ce/api/app/deploy/deployment_logs.go
  src/ce/api/app/deploy/deployment_logs_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_model_test.go
  src/ce/api/app/deploy/deployment_statements.go
  src/ce/runner/builder_test.go
  src/ce/runner/custom_buffer.go
  src/ce/runner/custom_buffer_test.go
  src/ce/runner/installer_test.go
  src/ce/runner/print_env_test.go
  src/ce/runner/reporter.go
  src/ce/runner/runner.go
  src/ce/runner/status_checks.go
  src/ce/runner/step_logger.go
  src/ce/runner/step_logger_test.go
Due: backend

fix: store build cache per directory to skip uploads
  src/ce/runner/cache.go
  src/ce/runner/cache_test.go
  src/lib/integrations/cache_store.go
  src/lib/integrations/client_aws_cache.go
  src/lib/integrations/client_filesystem_cache.go
  src/lib/integrations/client_filesystem_cache_test.go
Due: backend

fix: store build cache per directory to skip uploads (#353)
  src/ce/runner/cache.go
  src/ce/runner/cache_test.go
  src/lib/integrations/cache_store.go
  src/lib/integrations/client_aws_cache.go
  src/lib/integrations/client_filesystem_cache.go
  src/lib/integrations/client_filesystem_cache_test.go
Due: backend

chore: update changelog for v2026.07.10.3
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.10.3 (#354)
  CHANGELOG.md
Due: none

refactor: serve /_stormkit endpoints as routes
  src/ce/hosting/analytics_script_test.go
  src/ce/hosting/export_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/middleware.analytics_script.go
  src/ce/hosting/middleware.collect.go
  src/ce/hosting/middleware.collect_handler_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/middleware.skauth_oauth_test.go
  src/ce/hosting/middleware.skauth_test.go
  src/ce/hosting/reserved_routes.go
  src/ce/hosting/services.go
  src/ce/hosting/skauth_email_test.go
Due: backend

refactor: serve /_stormkit endpoints as routes (#355)
  src/ce/hosting/analytics_script_test.go
  src/ce/hosting/export_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/middleware.analytics_script.go
  src/ce/hosting/middleware.collect.go
  src/ce/hosting/middleware.collect_handler_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/middleware.skauth_oauth_test.go
  src/ce/hosting/middleware.skauth_test.go
  src/ce/hosting/reserved_routes.go
  src/ce/hosting/services.go
  src/ce/hosting/skauth_email_test.go
Due: backend

refactor: rename reserved endpoint files
  src/ce/hosting/analytics_collect.go
  src/ce/hosting/analytics_script.go
Due: backend

feat: add oauth 2.1 authorization server (phase 1)
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/hosting/export_test.go
  src/ce/hosting/oauth.go
  src/ce/hosting/oauth_test.go
  src/ce/hosting/reserved_routes.go
Due: backend

fix: show auth menu on non-cloud editions
  src/ui/src/layouts/AppLayout/EnvMenu.spec.tsx
  src/ui/src/layouts/AppLayout/EnvMenu.tsx
  src/ui/src/layouts/AppLayout/menu_items.tsx
Due: frontend

feat: add oauth server toggle to auth ui
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: frontend

test: update skauth spec for oauth toggle
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
Due: frontend

refactor: rename oauth toggle to oauthserver
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/hosting/oauth.go
  src/ce/hosting/oauth_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

refactor: rename reserved endpoint files (#356)
  src/ce/hosting/analytics_collect.go
  src/ce/hosting/analytics_script.go
Due: backend

fix: harden oauth authorization server
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/oauth.go
  src/ce/hosting/oauth_test.go
  src/ce/hosting/onetime_code.go
  src/ce/hosting/reserved_routes.go
Due: backend

feat: add oauth 2.1 authorization server (phase 1) (#357)
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/hosting/export_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/oauth.go
  src/ce/hosting/oauth_test.go
  src/ce/hosting/onetime_code.go
  src/ce/hosting/reserved_routes.go
  src/ui/src/layouts/AppLayout/EnvMenu.spec.tsx
  src/ui/src/layouts/AppLayout/EnvMenu.tsx
  src/ui/src/layouts/AppLayout/menu_items.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

feat: add oauth dynamic client registration
  src/ce/hosting/export_test.go
  src/ce/hosting/oauth.go
  src/ce/hosting/oauth_client_store.go
  src/ce/hosting/oauth_test.go
  src/ce/hosting/reserved_routes.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
Due: backend, frontend

feat: add oauth dynamic client registration (#359)
  src/ce/hosting/export_test.go
  src/ce/hosting/oauth.go
  src/ce/hosting/oauth_client_store.go
  src/ce/hosting/oauth_test.go
  src/ce/hosting/reserved_routes.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
Due: backend, frontend

chore: update changelog for v2026.07.13.1
  CHANGELOG.md
Due: none

feat: edge OAuth WWW-Authenticate challenge
  src/ce/hosting/export_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_oauth_test.go
Due: backend

feat: edge OAuth WWW-Authenticate challenge (#361)
  src/ce/hosting/export_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_oauth_test.go
Due: backend

chore: update changelog for v2026.07.13.1 (#360)
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.14.1
  CHANGELOG.md
Due: none

feat: mcp connector support for oauth server
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_oauth_test.go
  src/ce/hosting/oauth.go
  src/ce/hosting/oauth_client_store.go
  src/ce/hosting/oauth_mcp_test.go
  src/ce/hosting/oauth_refresh_store.go
  src/ce/hosting/oauth_test.go
  src/ce/hosting/reserved_routes.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

feat: mcp connector support for oauth server (#364)
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_oauth_test.go
  src/ce/hosting/oauth.go
  src/ce/hosting/oauth_client_store.go
  src/ce/hosting/oauth_mcp_test.go
  src/ce/hosting/oauth_refresh_store.go
  src/ce/hosting/oauth_test.go
  src/ce/hosting/reserved_routes.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

chore: update changelog for v2026.07.14.1 (#362)
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.15.1
  CHANGELOG.md
Due: none

feat: cookie session mode for oauth authorize
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_cookie_test.go
  src/ce/hosting/oauth.go
  src/ce/hosting/oauth_mcp_test.go
  src/ce/hosting/oauth_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

feat: cookie session mode for oauth authorize (#366)
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_cookie_test.go
  src/ce/hosting/oauth.go
  src/ce/hosting/oauth_mcp_test.go
  src/ce/hosting/oauth_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

chore: update changelog for v2026.07.15.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.15.1 (#365)
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.15.2 (#367)
  CHANGELOG.md
Due: none

fix: cookie mode across all login routes
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/skauth_email.go
  src/ce/hosting/skauth_email_test.go
  src/ce/hosting/skauth_oauth.go
Due: backend

Path conditions:
  backend: any of: src/ce/, src/ee/, src/lib/
  frontend: any of: src/ui/src/
