Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore: return error
  src/lib/utils/file/zip.go
  src/lib/utils/file/zip_test.go
Due: backend

chore: handle error responses better
  src/ce/runner/reporter.go
Due: backend

chore: store error in db
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback_test.go
Due: backend

chore: sanitize inputs
  src/lib/utils/file/zip.go
Due: backend

chore: make sure response is not nil
  src/ce/runner/reporter.go
Due: backend

chore: pass down glob pattern
  src/ce/runner/bundler.go
Due: backend

chore: improve sanitization
  src/lib/utils/file/zip.go
Due: backend

chore: remove app_members table which is no longer used
  src/ce/api/app/app_statements.go
  src/ce/api/app/app_store.go
  src/migrations/0001_schema.all.up.sql
Due: backend

chore: minor improvements to team members logic
  src/ee/api/team/team_store.go
  src/ee/api/team/teamhandlers/handler_team_member_remove.go
  src/ee/api/team/teamhandlers/handler_team_member_remove_test.go
  src/ee/api/team/teamhandlers/handler_team_members.go
  src/ui/src/pages/team/TeamMembers.tsx
  src/ui/src/pages/team/TeamSettings.tsx
Due: backend, frontend

chore: add reset-data command
  Makefile
Due: none

feat: display migration details in deployment logs
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/buildconf/schema_store_test.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_statements.go
  src/ce/api/app/deploy/deployment_store.go
Due: backend

chore: use method from deploy package
  src/ce/runner/reporter.go
Due: backend

chore: add helper methods for acquiring db locks
  src/lib/database/store.go
Due: backend

chore: remove flaky statement
  src/ce/api/app/buildconf/schema_store_test.go
Due: backend

chore: use background context
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback.go
  src/lib/database/store.go
Due: backend

chore: return result even when storing migration fails
  src/ce/api/app/buildconf/schema_store.go
Due: backend

chore: use single test to not break transactions
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback_test.go
Due: backend

feat: endpoint to drop schema
  src/ce/api/app/buildconf/schemahandlers/handler_schema_delete.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_delete_test.go
  src/ce/api/app/buildconf/schemahandlers/services.go
  src/ce/api/app/buildconf/schemahandlers/services_test.go
Due: backend

chore: helper method to fetch a single team member
  src/ee/api/team/team_store.go
Due: backend

feat: add support for deleting schemas
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/actions.tsx
  src/ui/src/testing/nocks/nock_schema.ts
Due: frontend

chore: check if member exists
  src/ce/api/app/buildconf/schemahandlers/handler_schema_delete.go
Due: backend

feat: track audit logs
  src/ce/api/app/buildconf/schemahandlers/handler_schema_delete.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_delete_test.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_set.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_set_test.go
  src/ee/api/audit/audit_model.go
  src/ui/src/shared/feed/AuditMessage.spec.tsx
  src/ui/src/shared/feed/AuditMessage.tsx
Due: backend, frontend

chore: remove unused file
  src/ce/hosting/certmagic_dns.go
Due: backend

chore: remove unused field
  src/lib/factory/deployment.go
Due: backend

chore: inject postgres vars when migrations are enabled
  src/ce/api/app/apphandlers/handler_inbound_webhooks.go
  src/ce/api/app/deploy/deployhooks/hooks_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_model_test.go
Due: backend

chore: minor tweaks for db integration
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/deploy/deployment_statements.go
  src/ce/runner/builder.go
  src/ce/runner/builder_api.go
  src/ce/runner/builder_api_test.go
  src/lib/integrations/client_filesystem.go
Due: backend

chore: include database_url environment variable
  src/ce/api/app/buildconf/schema_model.go
  src/ce/api/app/buildconf/schema_store_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_model_test.go
Due: backend

docs: document new feature
  docs/features/14-database.md
Due: none

docs: introduce database integration
  content/blog/whats-new.md
Due: none

feat: enable database integrations for self-hosted environments
  src/ce/api/router/router.go
Due: backend

docs: add self-hosted banner
  docs/features/14-database.md
Due: none

chore: introduce database page
  src/ui/src/layouts/AppLayout/EnvMenu.spec.tsx
  src/ui/src/layouts/AppLayout/menu_items.tsx
Due: frontend

docs: add screenshots
  docs/features/14-database.md
  src/www/public/assets/docs/features/demo-database-attach.png
  src/www/public/assets/docs/features/demo-database-configure.png
  src/www/public/assets/docs/features/demo-database-migrations.png
Due: none

chore: use sql highlighter
  src/www/src/helpers/markdown.ts
Due: none

refactor: improve code quality
  src/ui/src/pages/apps/[id]/environments/[env-id]/_components/DomainStatus.tsx
Due: frontend

chore: display database icon
  src/ui/src/layouts/AppLayout/menu_items.tsx
Due: frontend

fix: failing spec
  src/ui/src/layouts/AppLayout/AppLayout.spec.tsx
Due: frontend

chore: use correct parameters
  docs/features/14-database.md
  src/ce/api/app/buildconf/schema_model.go
  src/ce/api/app/buildconf/schema_store_test.go
  src/ce/api/app/deploy/deployment_model_test.go
Due: backend

chore: display alert for cloud users
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/actions.tsx
Due: frontend

chore: do not use prepared statements for migrations
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/buildconf/schema_store_test.go
Due: backend

Path conditions:
  backend: any of: src/ce/, src/ee/, src/lib/
  frontend: any of: src/ui/src/
