Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for Stormkit
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 2%
    
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: true

  # Files to ignore in coverage reports
  ignore:
    - "**/*_test.go"
    - "**/*.test.ts"
    - "**/*.test.tsx"
    - "**/*.spec.ts"
    - "**/*.spec.tsx"
    - "**/mocks/**"
    - "**/testutils/**"
    - "src/ui/src/testing/**"
    - "**/__mocks__/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "src/migrations/**"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - src/ce/
      - src/ee/
      - src/lib/
    carryforward: true
  
  frontend:
    paths:
      - src/ui/src/
    carryforward: true

# Pull request comments configuration
github_checks:
  annotations: true

fix: add client-side /mcp route for docs alias (#317)
  src/www/src/pages/docs/[category]/[title].tsx
  src/www/src/pages/mcp.tsx
  src/www/src/routes.tsx
Due: none

feat: add trigger now action for function triggers
  src/ce/api/app/functiontrigger/function_trigger_run.go
  src/ce/api/app/functiontrigger/functiontriggerhandlers/handler_function_trigger_invoke.go
  src/ce/api/app/functiontrigger/functiontriggerhandlers/handler_function_trigger_invoke_test.go
  src/ce/api/app/functiontrigger/functiontriggerhandlers/services.go
  src/ce/api/app/functiontrigger/functiontriggerhandlers/services_test.go
  src/ce/workerserver/job_trigger_functions.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggers.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggers.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/[trigger-id]/TriggerLogs.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/[trigger-id]/TriggerLogs.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/actions.ts
  src/ui/src/testing/nocks/nock_function_triggers.ts
  src/ui/src/types/function-triggers.d.ts
Due: backend, frontend

feat: add trigger now action for function triggers (#318)
  src/ce/api/app/functiontrigger/function_trigger_run.go
  src/ce/api/app/functiontrigger/functiontriggerhandlers/handler_function_trigger_invoke.go
  src/ce/api/app/functiontrigger/functiontriggerhandlers/handler_function_trigger_invoke_test.go
  src/ce/api/app/functiontrigger/functiontriggerhandlers/services.go
  src/ce/api/app/functiontrigger/functiontriggerhandlers/services_test.go
  src/ce/workerserver/job_trigger_functions.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggers.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggers.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/[trigger-id]/TriggerLogs.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/[trigger-id]/TriggerLogs.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/actions.ts
  src/ui/src/testing/nocks/nock_function_triggers.ts
  src/ui/src/types/function-triggers.d.ts
Due: backend, frontend

chore: update changelog for v2026.06.24.1
  CHANGELOG.md
Due: none

feat: expose function triggers via api and mcp
  docs/api/10-mcp.md
  docs/api/11-triggers.md
  src/ce/api/app/functiontrigger/function_trigger_model.go
  src/ce/api/app/functiontrigger/functiontriggerhandlers/handler_function_trigger_delete.go
  src/ce/api/app/functiontrigger/functiontriggerhandlers/handler_function_trigger_update.go
  src/ce/api/app/functiontrigger/functiontriggerhandlers/services.go
  src/ce/api/app/functiontrigger/functiontriggerhandlers/services_test.go
  src/ce/api/public/v1/handler_function_trigger_create.go
  src/ce/api/public/v1/handler_function_trigger_create_test.go
  src/ce/api/public/v1/handler_function_trigger_delete.go
  src/ce/api/public/v1/handler_function_trigger_delete_test.go
  src/ce/api/public/v1/handler_function_trigger_invoke.go
  src/ce/api/public/v1/handler_function_trigger_invoke_test.go
  src/ce/api/public/v1/handler_function_trigger_logs_get.go
  src/ce/api/public/v1/handler_function_trigger_logs_get_test.go
  src/ce/api/public/v1/handler_function_trigger_update.go
  src/ce/api/public/v1/handler_function_trigger_update_test.go
  src/ce/api/public/v1/handler_function_triggers_get.go
  src/ce/api/public/v1/handler_function_triggers_get_test.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/handler_mcp_triggers_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/api/router/router.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/actions.ts
  src/ui/src/testing/nocks/nock_function_triggers.ts
Due: backend, frontend

feat: expose function triggers via api and mcp (#320)
  docs/api/10-mcp.md
  docs/api/11-triggers.md
  src/ce/api/app/functiontrigger/function_trigger_model.go
  src/ce/api/app/functiontrigger/functiontriggerhandlers/handler_function_trigger_delete.go
  src/ce/api/app/functiontrigger/functiontriggerhandlers/handler_function_trigger_update.go
  src/ce/api/app/functiontrigger/functiontriggerhandlers/services.go
  src/ce/api/app/functiontrigger/functiontriggerhandlers/services_test.go
  src/ce/api/public/v1/handler_function_trigger_create.go
  src/ce/api/public/v1/handler_function_trigger_create_test.go
  src/ce/api/public/v1/handler_function_trigger_delete.go
  src/ce/api/public/v1/handler_function_trigger_delete_test.go
  src/ce/api/public/v1/handler_function_trigger_invoke.go
  src/ce/api/public/v1/handler_function_trigger_invoke_test.go
  src/ce/api/public/v1/handler_function_trigger_logs_get.go
  src/ce/api/public/v1/handler_function_trigger_logs_get_test.go
  src/ce/api/public/v1/handler_function_trigger_update.go
  src/ce/api/public/v1/handler_function_trigger_update_test.go
  src/ce/api/public/v1/handler_function_triggers_get.go
  src/ce/api/public/v1/handler_function_triggers_get_test.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/handler_mcp_triggers_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/api/router/router.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/actions.ts
  src/ui/src/testing/nocks/nock_function_triggers.ts
Due: backend, frontend

chore: update changelog for v2026.06.24.1 (#319)
  CHANGELOG.md
Due: none

feat: analytics retention, index and drain loop
  src/ce/workerserver/job_analytics_retention.go
  src/ce/workerserver/job_analytics_retention_test.go
  src/ce/workerserver/job_handler_forward.go
  src/ce/workerserver/job_handler_forward_test.go
  src/ce/workerserver/worker_scheduler.go
  src/ce/workerserver/ws_statements.go
  src/ce/workerserver/ws_store.go
  src/migrations/0024_2026-06-27.up.sql
Due: backend

feat: analytics retention, index and drain loop (#321)
  src/ce/workerserver/job_analytics_retention.go
  src/ce/workerserver/job_analytics_retention_test.go
  src/ce/workerserver/job_handler_forward.go
  src/ce/workerserver/job_handler_forward_test.go
  src/ce/workerserver/worker_scheduler.go
  src/ce/workerserver/ws_statements.go
  src/ce/workerserver/ws_store.go
  src/migrations/0024_2026-06-27.up.sql
Due: backend

feat: improve bot detection with crawler dataset
  src/ee/api/analytics/analytics_bots.go
  src/ee/api/analytics/analytics_bots_test.go
  src/ee/api/analytics/crawler_user_agents.json
  src/ee/api/analytics/crawler_user_agents_LICENSE
Due: backend

feat: improve bot detection with crawler dataset (#322)
  src/ee/api/analytics/analytics_bots.go
  src/ee/api/analytics/analytics_bots_test.go
  src/ee/api/analytics/crawler_user_agents.json
  src/ee/api/analytics/crawler_user_agents_LICENSE
Due: backend

feat: add custom events data layer
  src/ce/workerserver/job_analytics.go
  src/ce/workerserver/job_analytics_events_test.go
  src/ce/workerserver/job_analytics_retention.go
  src/ce/workerserver/worker_scheduler.go
  src/ce/workerserver/ws_statements.go
  src/ce/workerserver/ws_store.go
  src/ee/api/analytics/analytics_events_model.go
  src/ee/api/analytics/analytics_events_store.go
  src/migrations/0024_2026-06-27.up.sql
Due: backend

feat: wire custom events ingest and read api
  src/ce/hosting/batcher.go
  src/ce/hosting/export_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/middleware.collect.go
  src/ce/hosting/middleware.collect_test.go
  src/ce/workerserver/job_analytics_events_test.go
  src/ce/workerserver/job_handler_forward.go
  src/ee/api/analytics/analytics_events_model.go
  src/ee/api/analytics/analytics_events_store.go
  src/ee/api/analytics/analytics_model.go
  src/ee/api/analytics/analytics_store.go
  src/ee/api/analytics/analytics_visitor_id.go
  src/ee/api/analytics/analyticshandlers/handler_events.go
  src/ee/api/analytics/analyticshandlers/services.go
  src/ee/api/analytics/analyticshandlers/services_test.go
Due: backend

feat: custom events backend (phase 3) (#323)
  src/ce/hosting/batcher.go
  src/ce/hosting/export_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/middleware.collect.go
  src/ce/hosting/middleware.collect_test.go
  src/ce/workerserver/job_analytics.go
  src/ce/workerserver/job_analytics_events_test.go
  src/ce/workerserver/job_analytics_retention.go
  src/ce/workerserver/job_handler_forward.go
  src/ce/workerserver/worker_scheduler.go
  src/ce/workerserver/ws_statements.go
  src/ce/workerserver/ws_store.go
  src/ee/api/analytics/analytics_events_model.go
  src/ee/api/analytics/analytics_events_store.go
  src/ee/api/analytics/analytics_model.go
  src/ee/api/analytics/analytics_store.go
  src/ee/api/analytics/analytics_visitor_id.go
  src/ee/api/analytics/analyticshandlers/handler_events.go
  src/ee/api/analytics/analyticshandlers/services.go
  src/ee/api/analytics/analyticshandlers/services_test.go
  src/migrations/0024_2026-06-27.up.sql
Due: backend

refactor: template-based analytics events insert
  src/ee/api/analytics/analytics_events_store.go
  src/ee/api/analytics/analytics_store.go
Due: backend

refactor: template-based analytics events insert (#324)
  src/ee/api/analytics/analytics_events_store.go
  src/ee/api/analytics/analytics_store.go
Due: backend

feat: display custom events on analytics page
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Analytics.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/actions.ts
  src/ui/src/testing/nocks/nock_analytics.ts
Due: frontend

refactor: use Card info prop for events empty state
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.tsx
  src/ui/src/pages/mui-theme.tsx
Due: frontend

feat: add help drawer to events with track examples
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/EventsHelpContent.tsx
Due: frontend

feat: add event property breakdown endpoint
  src/ce/workerserver/job_analytics_events_test.go
  src/ee/api/analytics/analytics_events_store.go
  src/ee/api/analytics/analytics_store.go
  src/ee/api/analytics/analyticshandlers/handler_events.go
  src/ee/api/analytics/analyticshandlers/services.go
  src/ee/api/analytics/analyticshandlers/services_test.go
  src/migrations/0024_2026-06-27.up.sql
Due: backend

feat: add event breakdown drill-down to analytics ui
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/EventBreakdown.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/actions.ts
  src/ui/src/testing/nocks/nock_analytics.ts
Due: frontend

docs: clarify event properties are queryable key-values
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/EventsHelpContent.tsx
Due: frontend

feat: custom events dashboard with property grouping (#325)
  src/ce/workerserver/job_analytics_events_test.go
  src/ee/api/analytics/analytics_events_store.go
  src/ee/api/analytics/analytics_store.go
  src/ee/api/analytics/analyticshandlers/handler_events.go
  src/ee/api/analytics/analyticshandlers/services.go
  src/ee/api/analytics/analyticshandlers/services_test.go
  src/migrations/0024_2026-06-27.up.sql
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Analytics.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/EventBreakdown.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/EventsHelpContent.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/actions.ts
  src/ui/src/pages/mui-theme.tsx
  src/ui/src/testing/nocks/nock_analytics.ts
Due: backend, frontend

fix: authorize domainId in analytics handlers
  src/ee/api/analytics/analytics_store.go
  src/ee/api/analytics/analyticshandlers/guard.go
  src/ee/api/analytics/analyticshandlers/handler_countries.go
  src/ee/api/analytics/analyticshandlers/handler_countries_test.go
  src/ee/api/analytics/analyticshandlers/handler_events.go
  src/ee/api/analytics/analyticshandlers/handler_top_paths.go
  src/ee/api/analytics/analyticshandlers/handler_top_referrers.go
  src/ee/api/analytics/analyticshandlers/handler_visitors.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/EventBreakdown.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/actions.ts
Due: backend, frontend

fix: authorize domainId in analytics handlers (#326)
  src/ee/api/analytics/analytics_store.go
  src/ee/api/analytics/analyticshandlers/guard.go
  src/ee/api/analytics/analyticshandlers/handler_countries.go
  src/ee/api/analytics/analyticshandlers/handler_countries_test.go
  src/ee/api/analytics/analyticshandlers/handler_events.go
  src/ee/api/analytics/analyticshandlers/handler_top_paths.go
  src/ee/api/analytics/analyticshandlers/handler_top_referrers.go
  src/ee/api/analytics/analyticshandlers/handler_visitors.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/EventBreakdown.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/actions.ts
Due: backend, frontend

feat: opt-in client-side analytics script
  src/ce/api/admin/admin_model.go
  src/ce/api/app/appconf/appconf_snippets.go
  src/ce/api/app/appconf/appconf_snippets_test.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/buildconf/snippets_model.go
  src/ce/api/app/buildconf/snippets_store.go
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_add_test.go
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_analytics.go
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_analytics_test.go
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_get_test.go
  src/ce/api/app/buildconf/snippetshandlers/services.go
  src/ce/api/app/buildconf/snippetshandlers/services_test.go
  src/ce/hosting/analytics.js
  src/ce/hosting/analytics_script_test.go
  src/ce/hosting/export_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/middleware.analytics_script.go
  src/ce/hosting/middleware.collect.go
  src/ee/api/analytics/analytics_model.go
  src/ee/api/analytics/analytics_store.go
  src/migrations/0025_2026-06-29.up.sql
  src/migrations/structure.sql
Due: backend

chore: go fmt
  src/ce/api/app/appconf/appconf_shttp_test.go
  src/ce/api/app/buildconf/snippetshandlers/helpers_snippets.go
  src/ce/api/router/cors_test.go
  src/ce/hosting/middleware.skauth_test.go
  src/ce/hosting/skauth_email.go
  src/ce/runner/builder_api.go
  src/ce/runner/builder_api_test.go
  src/ce/runner/installer_test.go
  src/ce/runner/repo_test.go
  src/ce/runner/runner.go
  src/lib/integrations/client_aws_s3_test.go
  src/lib/integrations/client_process_manager_test.go
Due: backend

fix: harden analytics snippet match and dedupe
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_analytics.go
  src/ce/hosting/analytics.js
  src/migrations/structure.sql
Due: backend

chore: fold 0025 alters into 0024 migration
  src/migrations/0024_2026-06-27.up.sql
  src/migrations/0025_2026-06-29.up.sql
Due: none

feat: opt-in client-side analytics script (#327)
  src/ce/api/admin/admin_model.go
  src/ce/api/app/appconf/appconf_shttp_test.go
  src/ce/api/app/appconf/appconf_snippets.go
  src/ce/api/app/appconf/appconf_snippets_test.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/buildconf/snippets_model.go
  src/ce/api/app/buildconf/snippets_store.go
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_add_test.go
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_analytics.go
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_analytics_test.go
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_get_test.go
  src/ce/api/app/buildconf/snippetshandlers/helpers_snippets.go
  src/ce/api/app/buildconf/snippetshandlers/services.go
  src/ce/api/app/buildconf/snippetshandlers/services_test.go
  src/ce/api/router/cors_test.go
  src/ce/hosting/analytics.js
  src/ce/hosting/analytics_script_test.go
  src/ce/hosting/export_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/middleware.analytics_script.go
  src/ce/hosting/middleware.collect.go
  src/ce/hosting/middleware.skauth_test.go
  src/ce/hosting/skauth_email.go
  src/ce/runner/builder_api.go
  src/ce/runner/builder_api_test.go
  src/ce/runner/installer_test.go
  src/ce/runner/repo_test.go
  src/ce/runner/runner.go
  src/ee/api/analytics/analytics_model.go
  src/ee/api/analytics/analytics_store.go
  src/lib/integrations/client_aws_s3_test.go
  src/lib/integrations/client_process_manager_test.go
  src/migrations/0024_2026-06-27.up.sql
  src/migrations/structure.sql
Due: backend

test: cover collect and events handlers
  src/ce/hosting/middleware.collect_handler_test.go
  src/ee/api/analytics/analyticshandlers/handler_events_test.go
Due: backend

feat: rate-limit analytics collect endpoint
  src/ce/hosting/middleware.collect.go
Due: backend

feat: ui toggle to enable client analytics
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_analytics.go
  src/ce/api/app/buildconf/snippetshandlers/services.go
  src/ce/api/app/buildconf/snippetshandlers/services_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Analytics.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Analytics.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/AnalyticsToggle.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/AnalyticsToggle.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/actions.ts
  src/ui/src/testing/nocks/nock_analytics.ts
Due: backend, frontend

refactor: hash visitor ip instead of storing raw
  src/ce/hosting/handler_forward.go
  src/ee/api/analytics/analytics_store.go
  src/ee/api/analytics/analytics_store_test.go
Due: backend

fix: move analytics toggle into events card
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Analytics.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Analytics.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/AnalyticsToggle.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.tsx
Due: frontend

feat: client analytics first-release hardening (#328)
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_analytics.go
  src/ce/api/app/buildconf/snippetshandlers/services.go
  src/ce/api/app/buildconf/snippetshandlers/services_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/middleware.collect.go
  src/ce/hosting/middleware.collect_handler_test.go
  src/ee/api/analytics/analytics_store.go
  src/ee/api/analytics/analytics_store_test.go
  src/ee/api/analytics/analyticshandlers/handler_events_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/AnalyticsToggle.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/AnalyticsToggle.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/actions.ts
  src/ui/src/testing/nocks/nock_analytics.ts
Due: backend, frontend

feat: partitioned raw access logs + admin viewer
  src/ce/api/accesslog/accesslog_model.go
  src/ce/api/accesslog/accesslog_store.go
  src/ce/api/accesslog/accesslog_store_test.go
  src/ce/api/admin/adminhandlers/handler_access_logs.go
  src/ce/api/admin/adminhandlers/handler_access_logs_test.go
  src/ce/api/admin/adminhandlers/services.go
  src/ce/api/admin/adminhandlers/services_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_accesslog_test.go
  src/ce/workerserver/job_access_log_retention.go
  src/ce/workerserver/job_access_log_retention_test.go
  src/ce/workerserver/job_handler_forward.go
  src/ce/workerserver/worker_scheduler.go
  src/ce/workerserver/ws_statements.go
  src/ce/workerserver/ws_store.go
  src/migrations/0024_2026-06-27.up.sql
  src/ui/src/layouts/AdminLayout/AdminLayout.tsx
  src/ui/src/pages/admin/AccessLogs.tsx
  src/ui/src/pages/routes.tsx
Due: backend, frontend

feat: partitioned raw access logs + admin viewer (#329)
  src/ce/api/accesslog/accesslog_model.go
  src/ce/api/accesslog/accesslog_store.go
  src/ce/api/accesslog/accesslog_store_test.go
  src/ce/api/admin/adminhandlers/handler_access_logs.go
  src/ce/api/admin/adminhandlers/handler_access_logs_test.go
  src/ce/api/admin/adminhandlers/services.go
  src/ce/api/admin/adminhandlers/services_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_accesslog_test.go
  src/ce/workerserver/job_access_log_retention.go
  src/ce/workerserver/job_access_log_retention_test.go
  src/ce/workerserver/job_handler_forward.go
  src/ce/workerserver/worker_scheduler.go
  src/ce/workerserver/ws_statements.go
  src/ce/workerserver/ws_store.go
  src/migrations/0024_2026-06-27.up.sql
  src/ui/src/layouts/AdminLayout/AdminLayout.tsx
  src/ui/src/pages/admin/AccessLogs.tsx
  src/ui/src/pages/routes.tsx
Due: backend, frontend

chore: update changelog for v2026.06.30.1
  CHANGELOG.md
Due: none

feat: manage registered auth users
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/client_x_test.go
  src/ce/api/app/skauth/skauthhandlers/export_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_user_delete.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_user_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_users_list.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_users_test.go
  src/ce/api/app/skauth/skauthhandlers/services.go
  src/ce/api/app/skauth/skauthhandlers/services_test.go
  src/ce/api/public/v1/handler_auth_users_list_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/hosting/skauth_email.go
  src/ce/hosting/skauth_magic.go
  src/ce/hosting/skauth_oauth.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/AuthUsers.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/AuthUsers.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/EditUserModal.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend
