Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore: update changelog for v2026.05.25.5 (#277)
  CHANGELOG.md
Due: none

fix: preserve env headers on build save (#279)
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
Due: frontend

chore: update changelog for v2026.05.25.6
  CHANGELOG.md
Due: none

feat: skauth refresh endpoint and 7d default TTL
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

feat: skauth refresh endpoint and 7d default TTL (#281)
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

chore: update changelog for v2026.05.25.6 (#280)
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.25.7
  CHANGELOG.md
Due: none

fix: reset hosting cache on skauth config update
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update_test.go
Due: backend

fix: reset hosting cache on skauth config update (#283)
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update_test.go
Due: backend

chore: update changelog for v2026.05.25.7 (#282)
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.26.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.26.1 (#284)
  CHANGELOG.md
Due: none

feat: From address for magic-link emails
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/hosting/skauth_magic.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

feat: From address for magic-link emails (#285)
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/hosting/skauth_magic.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

chore: update changelog for v2026.05.30.1
  CHANGELOG.md
Due: none

fix: use bare address as smtp envelope sender
  src/ce/api/app/buildconf/mailer_model.go
  src/ce/api/app/buildconf/mailer_model_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail_test.go
Due: backend

fix: use bare address as smtp envelope sender (#287)
  src/ce/api/app/buildconf/mailer_model.go
  src/ce/api/app/buildconf/mailer_model_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail_test.go
Due: backend

chore: update changelog for v2026.05.30.2
  CHANGELOG.md
Due: none

feat: forward x-user-email header for skauth
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/middleware.skauth_test.go
  src/ce/hosting/skauth_email.go
  src/ce/hosting/skauth_email_test.go
  src/ce/hosting/skauth_magic.go
Due: backend

feat: forward x-user-email header for skauth (#289)
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/middleware.skauth_test.go
  src/ce/hosting/skauth_email.go
  src/ce/hosting/skauth_email_test.go
  src/ce/hosting/skauth_magic.go
Due: backend

chore: update changelog for v2026.05.30.1 (#286)
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.31.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.30.2 (#288)
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.31.1 (#290)
  CHANGELOG.md
Due: none

fix: derive aes key for eml claim from skauth secret
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/skauth_email.go
  src/ce/hosting/skauth_magic.go
Due: backend

fix: derive aes key for eml claim from skauth secret (#291)
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/skauth_email.go
  src/ce/hosting/skauth_magic.go
Due: backend

chore: update changelog for v2026.06.01.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.06.01.1 (#292)
  CHANGELOG.md
Due: none

fix: remove entire deployment root dir after run
  src/ce/runner/runner.go
Due: backend

fix: remove entire deployment root dir after run (#293)
  src/ce/runner/runner.go
Due: backend

feat: add STORMKIT_DISABLE_ARI to disable ARI
  .env.example
  src/ce/hosting/certmagic_server.go
Due: backend

feat: add STORMKIT_DISABLE_ARI to disable ARI (#294)
  .env.example
  src/ce/hosting/certmagic_server.go
Due: backend

chore: update changelog for v2026.06.08.1
  CHANGELOG.md
Due: none

feat: add create_team public api and mcp tool
  docs/api/2-teams.md
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/handler_team_create.go
  src/ce/api/public/v1/request_context.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ee/api/team/teamhandlers/handler_teams_add.go
  src/ee/api/team/teamhandlers/handler_teams_add_test.go
  src/ee/api/team/teamhandlers/services.go
  src/ee/api/team/teamhandlers/services_test.go
  src/ui/src/layouts/TopMenu/Teams/actions.ts
  src/ui/src/testing/nocks/nock_team.ts
Due: backend, frontend

feat: add create_team public api and mcp tool (#296)
  docs/api/2-teams.md
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/handler_team_create.go
  src/ce/api/public/v1/request_context.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ee/api/team/teamhandlers/handler_teams_add.go
  src/ee/api/team/teamhandlers/handler_teams_add_test.go
  src/ee/api/team/teamhandlers/services.go
  src/ee/api/team/teamhandlers/services_test.go
  src/ui/src/layouts/TopMenu/Teams/actions.ts
  src/ui/src/testing/nocks/nock_team.ts
Due: backend, frontend

chore: update changelog for v2026.06.08.1 (#295)
  CHANGELOG.md
Due: none

feat: serve oauth initiate from the app hosting domain
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths_test.go
  src/ce/api/public/v1/handler_auth_redirect.go
  src/ce/api/public/v1/handler_auth_redirect_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_oauth_test.go
  src/ce/hosting/skauth_magic.go
  src/ce/hosting/skauth_oauth.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
Due: backend, frontend

feat: serve oauth initiate from the app hosting domain (#297)
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths_test.go
  src/ce/api/public/v1/handler_auth_redirect.go
  src/ce/api/public/v1/handler_auth_redirect_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_oauth_test.go
  src/ce/hosting/skauth_magic.go
  src/ce/hosting/skauth_oauth.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
Due: backend, frontend

chore: update changelog for v2026.06.17.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.06.17.1 (#298)
  CHANGELOG.md
Due: none

Path conditions:
  backend: any of: src/ce/, src/ee/, src/lib/
  frontend: any of: src/ui/src/
