Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore: move file to scripts
  src/www/src/prerender.ts
Due: none

chore: add support for new docs location
  src/www/scripts/prerender.ts
Due: none

chore: ignore dist folder
  src/www/.gitignore
Due: none

chore: update path
  src/www/src/vite-server.ts
Due: none

fix: generating doc routes
  src/www/scripts/prerender.ts
Due: none

chore: add more routes to prerender
  src/www/scripts/prerender.ts
Due: none

chore: check content
  src/www/src/helpers/markdown.ts
Due: none

docs: update authentication documentation
  docs/self-hosting/2-authentication.md
Due: none

docs: new sign up mode feature
  docs/self-hosting/3-managing-users.md
Due: none

chore: update sort order
  docs/self-hosting/5-runtimes.md
Due: none

docs: styling
  docs/self-hosting/3-managing-users.md
Due: none

feat: approval mode for ee users
  src/ce/api/admin/admin_model.go
  src/ce/api/admin/admin_model_test.go
  src/ce/api/user/user_shttp_test.go
  src/ce/api/user/user_store_test.go
  src/ui/src/pages/admin/AuthConfig/AuthConfig.spec.tsx
  src/ui/src/pages/admin/AuthConfig/AuthConfig.tsx
  src/ui/src/pages/admin/AuthConfig/PendingUsers.spec.tsx
Due: backend, frontend

chore: mv ui to home folder
  src/ce/hosting/handlers.go
Due: backend

chore: use different location
  src/ce/hosting/handlers.go
Due: backend

chore: apply sign up check for all platforms
  src/ce/api/user/user_store.go
  src/ui/src/pages/auth/actions.ts
Due: backend, frontend

chore: improve design
  src/ui/src/pages/auth/Auth.tsx
  src/ui/src/pages/auth/BasicAuthLogin.tsx
  src/ui/src/pages/auth/BasicAuthRegister.tsx
  src/ui/src/pages/auth/ProviderAuth.tsx
Due: frontend

docs: v1.25.0
  CHANGELOG.md
Due: none

chore: minor styling improvements
  src/ui/src/assets/styles/global.css
  src/ui/src/assets/styles/tailwind.css
  src/ui/src/components/Errors/Error404.tsx
  src/ui/src/index.css
  src/ui/src/layouts/CenterLayout.tsx
  src/ui/src/pages/apps/new/bitbucket/NewBitbucketApp.tsx
  src/ui/src/pages/apps/new/github/NewGithubApp.tsx
  src/ui/src/pages/apps/new/gitlab/NewGitlabApp.tsx
  src/ui/src/pages/apps/new/url/ImportURL.tsx
  src/ui/src/pages/mui-theme.tsx
  src/ui/src/pages/user/account/Account.tsx
Due: frontend

feat: update pricing
  src/www/src/components/Pricing/Pricing.tsx
  src/www/src/components/Pricing/PricingCloud.tsx
  src/www/src/components/Pricing/PricingSelfHosted.tsx
  src/www/src/components/Pricing/PricingTierCard.tsx
  src/www/src/components/Pricing/SliderCloud.tsx
  src/www/src/components/Pricing/SliderSelfHosted.tsx
  src/www/src/components/Pricing/WhatsIncludedCloud.tsx
  src/www/src/components/Pricing/WhatsIncludedSelfHosted.tsx
Due: none

refactor: use mui instead of tailwind
  src/ui/src/pages/apps/[id]/environments/[env-id]/Environment.tsx
Due: frontend

chore: implement ui structure for database access
  src/ui/src/layouts/AppLayout/menu_items.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/actions.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/index.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/routes.ts
Due: frontend

feat: endpoint to fetch env schema
  src/ce/api/app/buildconf/schema_model.go
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_get.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_get_test.go
  src/ce/api/app/buildconf/schemahandlers/services.go
  src/ce/api/app/buildconf/schemahandlers/services_test.go
Due: backend

feat: endpoint to create schema
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_set.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_set_test.go
  src/ce/api/app/buildconf/schemahandlers/services.go
  src/ce/api/app/buildconf/schemahandlers/services_test.go
Due: backend

chore: enable schema endpoints for development
  src/ce/api/router/router.go
Due: backend

chore: use appropriate names for variables
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/actions.tsx
Due: frontend

chore: add restart command
  Makefile
Due: none

chore: return nil when schema does not exist
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_get.go
Due: backend

chore: use a clearer language for feature description
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.tsx
Due: frontend

chore: handle empty schemas
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_get_test.go
Due: backend

fix: comment
  src/ce/api/app/buildconf/schema_store.go
Due: backend

chore: use restart instead of stop and start
  Makefile
Due: none

Path conditions:
  backend: any of: src/ce/, src/ee/, src/lib/
  frontend: any of: src/ui/src/
