Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore: update changelog for v2026.09.28.1
  CHANGELOG.md
Due: none

docs: document github webhook secret setup
  docs/self-hosting/2-authentication.md
Due: none

docs: document github webhook secret setup (#558)
  docs/self-hosting/2-authentication.md
Due: none

chore: update changelog for v2026.09.28.1 (#557)
  CHANGELOG.md
Due: none

fix: keep stored github secrets when left blank
  docs/self-hosting/2-authentication.md
  src/ce/api/admin/adminhandlers/handler_git_configure.go
  src/ce/api/admin/adminhandlers/handler_git_configure_test.go
  src/ui/src/pages/admin/Git/GitHubModal.spec.tsx
  src/ui/src/pages/admin/Git/GitHubModal.tsx
Due: backend, frontend

fix: address github config review
  docs/self-hosting/2-authentication.md
  src/ce/api/admin/adminhandlers/handler_git_configure.go
  src/ce/api/admin/adminhandlers/handler_git_configure_test.go
  src/ui/src/pages/admin/Git/GitHubModal.spec.tsx
  src/ui/src/pages/admin/Git/GitHubModal.tsx
Due: backend, frontend

fix: keep stored github secrets when left blank (#559)
  docs/self-hosting/2-authentication.md
  src/ce/api/admin/adminhandlers/handler_git_configure.go
  src/ce/api/admin/adminhandlers/handler_git_configure_test.go
  src/ui/src/pages/admin/Git/GitHubModal.spec.tsx
  src/ui/src/pages/admin/Git/GitHubModal.tsx
Due: backend, frontend

chore: update changelog for v2026.09.28.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.09.28.2 (#560)
  CHANGELOG.md
Due: none

docs: add webhook security notes to changelog
  CHANGELOG.md
Due: none

docs: add webhook security notes to changelog (#561)
  CHANGELOG.md
Due: none

fix: reject unverified webhooks before parsing
  src/ce/api/app/apphandlers/handler_inbound_webhooks.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_bitbucket_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_github.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_github_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_gitlab_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_test.go
Due: backend

fix: address webhook hardening review
  src/ce/api/app/apphandlers/handler_inbound_webhooks.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_bitbucket.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_bitbucket_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_github.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_github_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_gitlab.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_gitlab_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_test.go
Due: backend

fix: reject unverified webhooks before parsing (#562)
  src/ce/api/app/apphandlers/handler_inbound_webhooks.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_bitbucket.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_bitbucket_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_github.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_github_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_gitlab.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_gitlab_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_test.go
Due: backend

Merge commit from fork
  src/ce/api/admin/adminhandlers/handler_github_manifest.go
  src/ce/api/admin/adminhandlers/handler_github_manifest_callback.go
  src/ce/api/admin/adminhandlers/handler_github_manifest_callback_test.go
  src/ce/api/admin/adminhandlers/handler_github_manifest_test.go
  src/ui/src/pages/admin/Git/Git.spec.tsx
  src/ui/src/pages/admin/Git/Git.tsx
Due: backend, frontend

fix: bind auth wall tokens to purpose and env
  src/ce/api/app/authwall/authwall_token.go
  src/ce/api/app/authwall/authwallhandlers/handler_auth.go
  src/ce/api/app/authwall/authwallhandlers/handler_auth_test.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/middleware.auth_wall.go
Due: backend

fix: scope deploy triggers to their own app
  src/ce/api/app/apphandlers/handler_hooks_deploy.go
  src/ce/api/app/apphandlers/handler_hooks_deploy_test.go
Due: backend

fix: check source team when migrating an app
  src/ee/api/team/teamhandlers/handler_teams_migrate_app.go
  src/ee/api/team/teamhandlers/handler_teams_migrate_app_test.go
Due: backend

fix: only delete deployments of the caller's app
  src/ce/api/app/deploy/deployhandlers/handler_deploy_delete.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_delete_test.go
Due: backend

fix: keep sessions out of volume download urls
  src/ce/api/app/volumes/volumeshandlers/handler_volumes_download_url.go
  src/ce/api/app/volumes/volumeshandlers/handler_volumes_download_url_test.go
Due: backend

chore: update changelog for v2026.09.29.1
  CHANGELOG.md
Due: none

fix: post oauth results only to the app origin
  src/ce/api/user/authhandlers/callback_response.go
  src/ce/api/user/authhandlers/handler_auth_callback.go
  src/ce/api/user/authhandlers/handler_auth_github_installation_callback_test.go
Due: backend

fix: address authorization review
  src/ce/api/app/apphandlers/handler_hooks_deploy.go
  src/ce/api/app/apphandlers/handler_hooks_deploy_test.go
  src/ce/api/app/authwall/authwallhandlers/handler_auth.go
  src/ce/api/user/authhandlers/callback_response.go
  src/ce/api/user/authhandlers/handler_auth_github_installation_callback_test.go
  src/ui/src/utils/helpers/popup.spec.tsx
  src/ui/src/utils/helpers/popup.ts
Due: backend, frontend

fix: tighten authorization checks (#564)
  src/ce/api/app/apphandlers/handler_hooks_deploy.go
  src/ce/api/app/apphandlers/handler_hooks_deploy_test.go
  src/ce/api/app/authwall/authwall_token.go
  src/ce/api/app/authwall/authwallhandlers/handler_auth.go
  src/ce/api/app/authwall/authwallhandlers/handler_auth_test.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_delete.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_delete_test.go
  src/ce/api/app/volumes/volumeshandlers/handler_volumes_download_url.go
  src/ce/api/app/volumes/volumeshandlers/handler_volumes_download_url_test.go
  src/ce/api/user/authhandlers/callback_response.go
  src/ce/api/user/authhandlers/handler_auth_callback.go
  src/ce/api/user/authhandlers/handler_auth_github_installation_callback_test.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/middleware.auth_wall.go
  src/ee/api/team/teamhandlers/handler_teams_migrate_app.go
  src/ee/api/team/teamhandlers/handler_teams_migrate_app_test.go
  src/ui/src/utils/helpers/popup.spec.tsx
  src/ui/src/utils/helpers/popup.ts
Due: backend, frontend

chore: update changelog for v2026.09.29.1 (#563)
  CHANGELOG.md
Due: none

fix: limit app api keys to their own app
  src/ce/api/app/app_shttp.go
  src/ce/api/app/app_shttp_test.go
Due: backend

fix: limit app config to the caller's app
  src/ce/api/public/v1/handler_app_conf.go
  src/ce/api/public/v1/handler_app_conf_test.go
Due: backend

chore: update changelog for v2026.09.29.2
  CHANGELOG.md
Due: none

fix: scope app api keys and app config (#566)
  src/ce/api/app/app_shttp.go
  src/ce/api/app/app_shttp_test.go
  src/ce/api/public/v1/handler_app_conf.go
  src/ce/api/public/v1/handler_app_conf_test.go
Due: backend

chore: update changelog for v2026.09.29.2 (#565)
  CHANGELOG.md
Due: none

fix: use secure randomness for random tokens
  src/lib/utils/hash.go
  src/lib/utils/hash_test.go
Due: backend

fix: hide the auth secret in environment json
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/buildconf/env_model_test.go
Due: backend

fix: redact secrets from app config
  docs/api/2-apps.md
  src/ce/api/public/v1/handler_app_conf.go
  src/ce/api/public/v1/handler_app_conf_test.go
  src/ce/api/public/v1/handler_schema_delete.go
  src/ce/api/public/v1/handler_schema_delete_test.go
  src/ce/api/public/v1/openapi.json
Due: backend

fix: check app membership when removing api keys
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_remove.go
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_remove_test.go
Due: backend

fix: scope domain lookup to the caller's app
  src/ce/api/app/buildconf/domainhandlers/handler_domain_lookup.go
  src/ce/api/app/buildconf/domainhandlers/handler_domain_lookup_test.go
Due: backend

fix: reject oauth tokens as consent sessions
  src/ce/hosting/oauth.go
  src/ce/hosting/oauth_test.go
Due: backend

chore: update changelog for v2026.09.29.3
  CHANGELOG.md
Due: none

fix: block env keys on env list and add
  docs/api/3-environments.md
  src/ce/api/public/v1/handler_env_add_test.go
  src/ce/api/public/v1/handler_env_list_test.go
  src/ce/api/public/v1/request_context.go
  src/ce/api/public/v1/services.go
Due: backend

chore: update changelog for v2026.09.29.3 (#567)
  CHANGELOG.md
Due: none

fix: address api key review
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_remove.go
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_remove_test.go
  src/ce/api/app/buildconf/domainhandlers/handler_domain_lookup.go
  src/ce/api/app/buildconf/domainhandlers/handler_domain_lookup_test.go
  src/ce/api/public/v1/handler_env_list_test.go
  src/ce/api/public/v1/handler_schema_delete.go
  src/ce/api/public/v1/handler_schema_delete_test.go
  src/ce/api/public/v1/request_context.go
  src/ce/api/public/v1/request_context_test.go
  src/ce/api/public/v1/services.go
  src/lib/utils/hash.go
Due: backend

Path conditions:
  backend: any of: src/ce/, src/ee/, src/lib/
  frontend: any of: src/ui/src/
