Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for Stormkit
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 2%
    
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: true

  # Files to ignore in coverage reports
  ignore:
    - "**/*_test.go"
    - "**/*.test.ts"
    - "**/*.test.tsx"
    - "**/*.spec.ts"
    - "**/*.spec.tsx"
    - "**/mocks/**"
    - "**/testutils/**"
    - "src/ui/src/testing/**"
    - "**/__mocks__/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "src/migrations/**"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - src/ce/
      - src/ee/
      - src/lib/
    carryforward: true
  
  frontend:
    paths:
      - src/ui/src/
    carryforward: true

# Pull request comments configuration
github_checks:
  annotations: true

feat: manage registered auth users (#331)
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/client_x_test.go
  src/ce/api/app/skauth/skauthhandlers/export_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_user_delete.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_user_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_users_list.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_users_test.go
  src/ce/api/app/skauth/skauthhandlers/services.go
  src/ce/api/app/skauth/skauthhandlers/services_test.go
  src/ce/api/public/v1/handler_auth_users_list_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/hosting/skauth_email.go
  src/ce/hosting/skauth_magic.go
  src/ce/hosting/skauth_oauth.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/AuthUsers.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/AuthUsers.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/EditUserModal.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

chore: update changelog for v2026.06.30.1 (#330)
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.01.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.01.1 (#332)
  CHANGELOG.md
Due: none

feat: inject snippets into gzipped ssr responses
  src/ce/hosting/handler_forward.go
  src/ce/hosting/snippet_inject_test.go
Due: backend

feat: inject snippets into gzipped ssr responses (#333)
  src/ce/hosting/handler_forward.go
  src/ce/hosting/snippet_inject_test.go
Due: backend

chore: update changelog for v2026.07.02.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.02.1 (#334)
  CHANGELOG.md
Due: none

feat: collapse events help to icon once tracked
  src/ui/src/components/Help/Help.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.tsx
Due: frontend

feat: collapse events help to icon once tracked (#335)
  src/ui/src/components/Help/Help.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Events.tsx
Due: frontend

feat: add skauth /me endpoint with user metadata
  docs/features/15-authentication.md
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/buildconf/schema_model.go
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/buildconf/schema_store_test.go
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/client_x_test.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/sk_auth_model_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_test.go
  src/ce/hosting/skauth_oauth.go
  src/ce/workerserver/job_auth_schema.go
  src/ce/workerserver/job_auth_schema_test.go
  src/ce/workerserver/worker_scheduler.go
  src/ce/workerserver/ws_statements.go
Due: backend

feat: add skauth /me endpoint with user metadata (#336)
  docs/features/15-authentication.md
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/buildconf/schema_model.go
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/buildconf/schema_store_test.go
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/client_x_test.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/sk_auth_model_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_test.go
  src/ce/hosting/skauth_oauth.go
  src/ce/workerserver/job_auth_schema.go
  src/ce/workerserver/job_auth_schema_test.go
  src/ce/workerserver/worker_scheduler.go
  src/ce/workerserver/ws_statements.go
Due: backend

chore: update changelog for v2026.07.07.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.07.1 (#337)
  CHANGELOG.md
Due: none

fix: close migration store in ensure auth schema
  src/ce/api/app/buildconf/schema_model.go
  src/ce/api/app/buildconf/schema_model_test.go
  src/ce/api/app/buildconf/schema_store.go
Due: backend

fix: close migration store in ensure auth schema (#338)
  src/ce/api/app/buildconf/schema_model.go
  src/ce/api/app/buildconf/schema_model_test.go
  src/ce/api/app/buildconf/schema_store.go
Due: backend

chore: update changelog for v2026.07.08.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.08.1 (#339)
  CHANGELOG.md
Due: none

feat: add optional from address to mailer config
  src/ce/api/app/buildconf/mailer_model.go
  src/ce/api/app/buildconf/mailer_model_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/actions.ts
  src/ui/src/testing/nocks/nock_mailer.ts
Due: backend, frontend

feat: add optional from address to mailer config (#340)
  src/ce/api/app/buildconf/mailer_model.go
  src/ce/api/app/buildconf/mailer_model_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/actions.ts
  src/ui/src/testing/nocks/nock_mailer.ts
Due: backend, frontend

feat: add app selector with recent apps to layout
  src/ui/src/components/AppName/AppName.tsx
  src/ui/src/layouts/AppLayout/AppMenu.tsx
  src/ui/src/layouts/AppLayout/AppSelector.spec.tsx
  src/ui/src/layouts/AppLayout/AppSelector.tsx
  src/ui/src/layouts/AppLayout/recent_apps.ts
  src/ui/src/testing/nocks/nock_app.ts
Due: frontend

feat: add app selector with recent apps to layout (#341)
  src/ui/src/components/AppName/AppName.tsx
  src/ui/src/layouts/AppLayout/AppMenu.tsx
  src/ui/src/layouts/AppLayout/AppSelector.spec.tsx
  src/ui/src/layouts/AppLayout/AppSelector.tsx
  src/ui/src/layouts/AppLayout/recent_apps.ts
  src/ui/src/testing/nocks/nock_app.ts
Due: frontend

chore: update changelog for v2026.07.09.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.09.1 (#342)
  CHANGELOG.md
Due: none

Revert "feat: add optional from address to mailer config (#340)"
  src/ce/api/app/buildconf/mailer_model.go
  src/ce/api/app/buildconf/mailer_model_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/actions.ts
  src/ui/src/testing/nocks/nock_mailer.ts
Due: backend, frontend

feat: ask from/to addresses when sending test email
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/SendTestEmailModal.tsx
Due: frontend

feat: ask from/to when sending test email (#343)
  src/ce/api/app/buildconf/mailer_model.go
  src/ce/api/app/buildconf/mailer_model_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/SendTestEmailModal.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/actions.ts
  src/ui/src/testing/nocks/nock_mailer.ts
Due: backend, frontend

chore: update changelog for v2026.07.09.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.09.2 (#344)
  CHANGELOG.md
Due: none

fix: mobile responsive issues across ui
  src/ui/src/components/AppName/AppName.tsx
  src/ui/src/components/ButtonDropdown/ButtonDropdown.tsx
  src/ui/src/components/DotDotDotV2/DotDotDot.tsx
  src/ui/src/components/Help/Help.tsx
  src/ui/src/components/Modal/Modal.tsx
  src/ui/src/components/MultiSelect/MultiSelect.tsx
  src/ui/src/layouts/AppLayout/AppMenu.tsx
  src/ui/src/layouts/AppLayout/AppSelector.tsx
  src/ui/src/layouts/TopMenu/Teams/TeamMenu.tsx
  src/ui/src/layouts/TopMenu/UserMenu.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/_components/EnvironmentHeader.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Analytics.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/TopPaths.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/TopReferrers.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/shared/deployments/CommitInfo.tsx
Due: frontend

fix: mobile responsive issues across ui (#345)
  src/ui/src/components/AppName/AppName.tsx
  src/ui/src/components/ButtonDropdown/ButtonDropdown.tsx
  src/ui/src/components/DotDotDotV2/DotDotDot.tsx
  src/ui/src/components/Help/Help.tsx
  src/ui/src/components/Modal/Modal.tsx
  src/ui/src/components/MultiSelect/MultiSelect.tsx
  src/ui/src/layouts/AppLayout/AppMenu.tsx
  src/ui/src/layouts/AppLayout/AppSelector.tsx
  src/ui/src/layouts/TopMenu/Teams/TeamMenu.tsx
  src/ui/src/layouts/TopMenu/UserMenu.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/_components/EnvironmentHeader.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Analytics.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/TopPaths.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/TopReferrers.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/shared/deployments/CommitInfo.tsx
Due: frontend

feat: add build cache for deployments
  docs/api/3-environments.md
  src/ce/api/app/buildconf/cache_dirs_test.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/deployservice/deployer.go
  src/ce/api/app/deployservice/deployer_service.go
  src/ce/api/app/deployservice/deployer_test.go
  src/ce/api/public/v1/handler_env_add.go
  src/ce/api/public/v1/handler_env_add_test.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_env_update_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/user/user_statements.go
  src/ce/api/user/user_store.go
  src/ce/runner/cache.go
  src/ce/runner/cache_test.go
  src/ce/runner/runner.go
  src/lib/integrations/cache_store.go
  src/lib/integrations/client_aws_cache.go
  src/lib/integrations/client_filesystem_cache.go
  src/lib/integrations/client_filesystem_cache_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/types/environment.d.ts
Due: backend, frontend

feat: add build cache for deployments (#346)
  docs/api/3-environments.md
  src/ce/api/app/buildconf/cache_dirs_test.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/deployservice/deployer.go
  src/ce/api/app/deployservice/deployer_service.go
  src/ce/api/app/deployservice/deployer_test.go
  src/ce/api/public/v1/handler_env_add.go
  src/ce/api/public/v1/handler_env_add_test.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_env_update_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/user/user_statements.go
  src/ce/api/user/user_store.go
  src/ce/runner/cache.go
  src/ce/runner/cache_test.go
  src/ce/runner/runner.go
  src/lib/integrations/cache_store.go
  src/lib/integrations/client_aws_cache.go
  src/lib/integrations/client_filesystem_cache.go
  src/lib/integrations/client_filesystem_cache_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/types/environment.d.ts
Due: backend, frontend

fix: widen admin page to 1280px
  src/ui/src/layouts/AdminLayout/AdminLayout.tsx
Due: frontend

chore: update changelog for v2026.07.10.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.10.1 (#347)
  CHANGELOG.md
Due: none

fix: log building finished after cache snapshot
  src/ce/runner/runner.go
Due: backend

fix: log building finished after cache snapshot (#348)
  src/ce/runner/runner.go
Due: backend

fix: skip cache upload when contents unchanged
  src/ce/runner/cache.go
  src/ce/runner/cache_test.go
Due: backend

fix: skip cache upload when contents unchanged (#349)
  src/ce/runner/cache.go
  src/ce/runner/cache_test.go
Due: backend
