Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for Stormkit
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 2%
    
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: true

  # Files to ignore in coverage reports
  ignore:
    - "**/*_test.go"
    - "**/*.test.ts"
    - "**/*.test.tsx"
    - "**/*.spec.ts"
    - "**/*.spec.tsx"
    - "**/mocks/**"
    - "**/testutils/**"
    - "src/ui/src/testing/**"
    - "**/__mocks__/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "src/migrations/**"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - src/ce/
      - src/ee/
      - src/lib/
    carryforward: true
  
  frontend:
    paths:
      - src/ui/src/
    carryforward: true

# Pull request comments configuration
github_checks:
  annotations: true

chore: update changelog for v2026.08.08.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.08.08.1 (#419)
  CHANGELOG.md
Due: none

feat: add trigger description
  docs/api/11-triggers.md
  docs/features/13-periodic-triggers.md
  src/ce/api/app/functiontrigger/function_trigger_description_test.go
  src/ce/api/app/functiontrigger/function_trigger_model.go
  src/ce/api/app/functiontrigger/function_trigger_store.go
  src/ce/api/public/v1/handler_function_trigger_create.go
  src/ce/api/public/v1/handler_function_trigger_description_test.go
  src/ce/api/public/v1/handler_function_triggers_get_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/lib/factory/trigger_function.go
  src/migrations/0027_2026-08-09.up.sql
  src/migrations/structure.sql
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggerModal.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggerModal.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggers.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggers.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/actions.ts
  src/ui/src/testing/nocks/nock_function_triggers.ts
  src/ui/src/types/function-triggers.d.ts
Due: backend, frontend

feat: add trigger description (#420)
  docs/api/11-triggers.md
  docs/features/13-periodic-triggers.md
  src/ce/api/app/functiontrigger/function_trigger_description_test.go
  src/ce/api/app/functiontrigger/function_trigger_model.go
  src/ce/api/app/functiontrigger/function_trigger_store.go
  src/ce/api/public/v1/handler_function_trigger_create.go
  src/ce/api/public/v1/handler_function_trigger_description_test.go
  src/ce/api/public/v1/handler_function_triggers_get_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/lib/factory/trigger_function.go
  src/migrations/0027_2026-08-09.up.sql
  src/migrations/structure.sql
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggerModal.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggerModal.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggers.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggers.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/actions.ts
  src/ui/src/testing/nocks/nock_function_triggers.ts
  src/ui/src/types/function-triggers.d.ts
Due: backend, frontend

docs: clarify nix runtime scope and cloud-only functions
  docs/deployments/10-application-runtime.md
  docs/features/13-periodic-triggers.md
  docs/features/7-writing-api.md
  docs/self-hosting/5-runtimes.md
Due: none

docs: clarify nix runtime scope and cloud-only functions (#424)
  docs/deployments/10-application-runtime.md
  docs/features/13-periodic-triggers.md
  docs/features/7-writing-api.md
  docs/self-hosting/5-runtimes.md
Due: none

fix: return 503 for warm-up interstitials
  src/lib/integrations/client_process_manager.go
  src/lib/integrations/client_process_manager_test.go
Due: backend

fix: retry triggers that hit an unavailable target
  src/ce/api/app/functiontrigger/function_trigger_model.go
  src/ce/api/app/functiontrigger/function_trigger_model_test.go
  src/ce/workerserver/job_trigger_functions.go
  src/ce/workerserver/job_trigger_functions_test.go
Due: backend

fix: bound trigger retries to a grace window
  src/ce/workerserver/job_trigger_functions.go
  src/ce/workerserver/job_trigger_functions_test.go
Due: backend

fix: restore error level for trigger failures
  src/ce/workerserver/job_trigger_functions.go
Due: backend

fix: cap stored trigger response body
  src/ce/api/app/functiontrigger/function_trigger_run.go
  src/ce/api/app/functiontrigger/function_trigger_run_test.go
Due: backend

test: collapse retry window tests into a table
  src/ce/workerserver/job_trigger_functions_test.go
Due: backend

fix: return 503 for warm-up interstitials (#426)
  src/ce/api/app/functiontrigger/function_trigger_model.go
  src/ce/api/app/functiontrigger/function_trigger_model_test.go
  src/ce/api/app/functiontrigger/function_trigger_run.go
  src/ce/api/app/functiontrigger/function_trigger_run_test.go
  src/ce/workerserver/job_trigger_functions.go
  src/ce/workerserver/job_trigger_functions_test.go
  src/lib/integrations/client_process_manager.go
  src/lib/integrations/client_process_manager_test.go
Due: backend

chore: update changelog for v2026.08.10.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.08.10.1 (#429)
  CHANGELOG.md
Due: none

fix: evict service when process start fails
  src/lib/integrations/client_process_manager.go
  src/lib/integrations/client_process_manager_test.go
Due: backend

fix: evict service when process start fails (#430)
  src/lib/integrations/client_process_manager.go
  src/lib/integrations/client_process_manager_test.go
Due: backend

chore: prune old function trigger logs
  src/ce/workerserver/job_analytics_retention.go
  src/ce/workerserver/job_analytics_retention_test.go
  src/ce/workerserver/job_logs.go
  src/ce/workerserver/job_trigger_logs_retention_test.go
  src/ce/workerserver/ws_statements.go
  src/ce/workerserver/ws_store.go
Due: backend

chore: update changelog for v2026.08.13.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.08.13.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.08.13.1 (#432)
  CHANGELOG.md
Due: none

fix: seo quick wins from search console data
  src/ui/src/index.html
  src/www/package.json
  src/www/public/sitemap.xml
  src/www/redirects.json
  src/www/scripts/generate-sitemap.ts
  src/www/src/entry-server.tsx
  src/www/src/helpers/seo.test.ts
  src/www/src/helpers/seo.ts
  src/www/src/pages/vs/netlify.tsx
  src/www/src/pages/vs/vercel.tsx
Due: frontend

fix: seo quick wins from search console data (#434)
  src/ui/src/index.html
  src/www/package.json
  src/www/public/sitemap.xml
  src/www/redirects.json
  src/www/scripts/generate-sitemap.ts
  src/www/src/entry-server.tsx
  src/www/src/helpers/seo.test.ts
  src/www/src/helpers/seo.ts
  src/www/src/pages/vs/netlify.tsx
  src/www/src/pages/vs/vercel.tsx
Due: frontend

chore: remove unused www redirects.json
  src/www/redirects.json
Due: none

chore: remove unused www redirects.json (#435)
  src/www/redirects.json
Due: none

content: rewrite strapi tutorial for hosting intent
  content/tutorials/how-to-deploy-your-self-hosted-strapi-instance.md
Due: none

content: add self-hosted vercel alternatives roundup
  content/blog/best-self-hosted-vercel-alternatives.md
Due: none

content: add self-hosted vercel alternatives roundup (#437)
  content/blog/best-self-hosted-vercel-alternatives.md
Due: none

fix: noindex llms.txt
  src/www/_headers
Due: none

fix: noindex llms.txt (#439)
  src/www/_headers
Due: none

content: rewrite strapi tutorial for hosting intent (#436)
  content/tutorials/how-to-deploy-your-self-hosted-strapi-instance.md
Due: none

content: add eu residency and on-premise posts
  content/blog/best-self-hosted-vercel-alternatives.md
  content/blog/vercel-data-residency-and-eu-alternatives.md
  content/blog/vercel-on-premise.md
  src/www/public/sitemap.xml
Due: none

content: add eu residency and on-premise posts (#438)
  content/blog/best-self-hosted-vercel-alternatives.md
  content/blog/vercel-data-residency-and-eu-alternatives.md
  content/blog/vercel-on-premise.md
  src/www/public/sitemap.xml
Due: none

fix: correct frontend-only positioning
  content/blog/case-study-elham.md
  content/blog/faq.md
  docs/self-hosting/1-getting-started.md
  docs/welcome/1-getting-started.md
  src/www/src/pages/about-us/AboutUs.tsx
  src/www/src/pages/vs/netlify.tsx
  src/www/src/pages/vs/vercel.tsx
Due: none

fix: correct frontend-only positioning (#441)
  content/blog/case-study-elham.md
  content/blog/faq.md
  docs/self-hosting/1-getting-started.md
  docs/welcome/1-getting-started.md
  src/www/src/pages/about-us/AboutUs.tsx
  src/www/src/pages/vs/netlify.tsx
  src/www/src/pages/vs/vercel.tsx
Due: none

docs: rewrite readme around what stormkit does
  README.md
Due: none

docs: rewrite readme around what stormkit does (#442)
  README.md
Due: none

fix: correct docs metadata and broken links
  content/blog/faq.md
  docs/development/1-image-optimization.md
  docs/development/2-troubleshooting.md
  src/www/src/helpers/markdown.test.ts
  src/www/src/helpers/markdown.ts
  src/www/src/pages/blog/_ssr.ts
  src/www/src/pages/tutorials/_ssr.ts
Due: none

fix: correct docs metadata and broken links (#443)
  content/blog/faq.md
  docs/development/1-image-optimization.md
  docs/development/2-troubleshooting.md
  src/www/src/helpers/markdown.test.ts
  src/www/src/helpers/markdown.ts
  src/www/src/pages/blog/_ssr.ts
  src/www/src/pages/tutorials/_ssr.ts
Due: none

content: refresh stormkit vs netlify page
  content/blog/best-self-hosted-vercel-alternatives.md
  content/blog/vercel-data-residency-and-eu-alternatives.md
  src/www/src/pages/vs/netlify.tsx
Due: none
