Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for Stormkit
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 2%
    
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: true

  # Files to ignore in coverage reports
  ignore:
    - "**/*_test.go"
    - "**/*.test.ts"
    - "**/*.test.tsx"
    - "**/*.spec.ts"
    - "**/*.spec.tsx"
    - "**/mocks/**"
    - "**/testutils/**"
    - "src/ui/src/testing/**"
    - "**/__mocks__/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "src/migrations/**"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - src/ce/
      - src/ee/
      - src/lib/
    carryforward: true
  
  frontend:
    paths:
      - src/ui/src/
    carryforward: true

# Pull request comments configuration
github_checks:
  annotations: true

feat: add publish warm-up job plumbing
  src/ce/api/app/deploy/publish_warmup.go
  src/ce/api/app/deploy/publish_warmup_test.go
  src/ce/api/app/deploy/publisher.go
  src/lib/rediscache/service.go
  src/mocks/micro_service_interface.go
Due: backend

feat: add publish warm-up job plumbing (#515)
  src/ce/api/app/deploy/publish_warmup.go
  src/ce/api/app/deploy/publish_warmup_test.go
  src/ce/api/app/deploy/publisher.go
  src/lib/rediscache/service.go
  src/mocks/micro_service_interface.go
Due: backend

feat: warm a deployment up before publishing it
  src/ce/api/app/deploy/publish_export_test.go
  src/ce/api/app/deploy/publish_gate.go
  src/ce/api/app/deploy/publish_warmup.go
  src/ce/api/app/deploy/publish_warmup_test.go
  src/ce/hosting/listeners.go
  src/ce/hosting/publish_probe.go
  src/ce/hosting/publish_probe_test.go
Due: backend

feat: warm a deployment up before publishing it (#516)
  src/ce/api/app/deploy/publish_export_test.go
  src/ce/api/app/deploy/publish_gate.go
  src/ce/api/app/deploy/publish_warmup.go
  src/ce/api/app/deploy/publish_warmup_test.go
  src/ce/hosting/listeners.go
  src/ce/hosting/publish_probe.go
  src/ce/hosting/publish_probe_test.go
Due: backend

chore: update changelog for v2026.09.04.1 (#513)
  CHANGELOG.md
Due: none

feat: publish only once the deployment answers
  docs/api/7-deployments.md
  src/ce/api/app/appconf/appconf_model_test.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_start_test.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments_test.go
  src/ce/api/app/deploy/deployhandlers/handler_publish.go
  src/ce/api/app/deploy/deployhandlers/handler_publish_test.go
  src/ce/api/app/deploy/deployhooks/hooks.go
  src/ce/api/app/deploy/deployhooks/hooks_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/publish_export_test.go
  src/ce/api/app/deploy/publish_gate.go
  src/ce/api/app/deploy/publish_gate_fake_test.go
  src/ce/api/app/deploy/publish_gate_test.go
  src/ce/api/app/deploy/publisher.go
  src/ce/api/app/deploy/publisher_test.go
  src/ce/api/public/v1/handler_deployment_get.go
  src/ce/api/public/v1/handler_deployment_publish.go
  src/ce/api/public/v1/handler_deployment_publish_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/openapi.json
  src/ee/api/audit/audit_model.go
  src/ui/src/shared/deployments/CommitInfo.tsx
  src/ui/src/testing/data/mock_deployment.ts
  src/ui/src/testing/data/mock_deployments_v2.ts
  src/ui/src/types/deployment.d.ts
Due: backend, frontend

feat: publish only once the deployment answers (#517)
  docs/api/7-deployments.md
  src/ce/api/app/appconf/appconf_model_test.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_start_test.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments_test.go
  src/ce/api/app/deploy/deployhandlers/handler_publish.go
  src/ce/api/app/deploy/deployhandlers/handler_publish_test.go
  src/ce/api/app/deploy/deployhooks/hooks.go
  src/ce/api/app/deploy/deployhooks/hooks_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/publish_export_test.go
  src/ce/api/app/deploy/publish_gate.go
  src/ce/api/app/deploy/publish_gate_fake_test.go
  src/ce/api/app/deploy/publish_gate_test.go
  src/ce/api/app/deploy/publisher.go
  src/ce/api/app/deploy/publisher_test.go
  src/ce/api/public/v1/handler_deployment_get.go
  src/ce/api/public/v1/handler_deployment_publish.go
  src/ce/api/public/v1/handler_deployment_publish_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/openapi.json
  src/ee/api/audit/audit_model.go
  src/ui/src/shared/deployments/CommitInfo.tsx
  src/ui/src/testing/data/mock_deployment.ts
  src/ui/src/testing/data/mock_deployments_v2.ts
  src/ui/src/types/deployment.d.ts
Due: backend, frontend

feat: show a publish while it is happening
  src/ui/src/pages/apps/[id]/environments/[env-id]/deployments/actions.ts
  src/ui/src/shared/deployments/PublishModal.spec.tsx
  src/ui/src/shared/deployments/PublishModal.tsx
  src/ui/src/shared/deployments/actions.tsx
  src/ui/src/testing/nocks/nock_deployments_v2.ts
Due: frontend

feat: show a publish while it is happening (#518)
  src/ui/src/pages/apps/[id]/environments/[env-id]/deployments/actions.ts
  src/ui/src/shared/deployments/PublishModal.spec.tsx
  src/ui/src/shared/deployments/PublishModal.tsx
  src/ui/src/shared/deployments/actions.tsx
  src/ui/src/testing/nocks/nock_deployments_v2.ts
Due: frontend

feat: skip unchanged monorepo build roots
  src/ce/api/app/apphandlers/handler_inbound_webhooks.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_github.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_github_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_gitlab.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_gitlab_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_test.go
Due: backend

feat: show a spinner while a deployment is publishing
  src/ui/src/shared/deployments/CommitInfo.spec.tsx
  src/ui/src/shared/deployments/CommitInfo.tsx
Due: frontend

chore: retire percentage-based releases
  src/ce/api/app/appconf/appconf_model.go
  src/ce/api/app/appconf/appconf_model_test.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/buildconf/env_statements.go
  src/ce/api/app/buildconf/errors.go
  src/ce/api/app/deploy/deployhandlers/handler_publish.go
  src/ce/api/app/deploy/deployhandlers/handler_publish_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_statements.go
  src/ce/api/app/deploy/deployment_store.go
  src/ce/api/app/deploy/publish_gate.go
  src/ce/api/app/deploy/publish_warmup.go
  src/ce/api/app/deploy/publish_warmup_test.go
  src/ce/api/app/deploy/publisher.go
  src/ce/api/app/deploy/publisher_test.go
  src/ce/api/app/redirects/redirectshandlers/handler_playground_test.go
  src/ce/api/public/v1/handler_app_conf_test.go
  src/ce/api/public/v1/openapi.json
  src/ce/hosting/handler_forward.go
  src/ce/hosting/host_model.go
  src/ce/hosting/host_model_test.go
  src/ce/hosting/publish_probe.go
  src/ce/workerserver/job_deployments_test.go
  src/lib/factory/deployment.go
  src/migrations/0028_2026-09-07.up.sql
  src/migrations/structure.sql
  src/ui/src/pages/apps/[id]/environments/[env-id]/_components/EnvironmentHeader.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/deployments/actions.ts
  src/ui/src/pages/apps/[id]/environments/_components/EnvironmentStatus.spec.tsx
  src/ui/src/shared/deployments/PublishModal.spec.tsx
  src/ui/src/shared/deployments/PublishModal.tsx
  src/ui/src/shared/deployments/actions.tsx
  src/ui/src/testing/nocks/nock_deployments.ts
  src/ui/src/testing/nocks/nock_deployments_v2.ts
  src/ui/src/types/deployment.d.ts
  src/ui/src/types/environment.d.ts
Due: backend, frontend

chore: retire percentage-based releases (#519)
  src/ce/api/app/appconf/appconf_model.go
  src/ce/api/app/appconf/appconf_model_test.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/buildconf/env_statements.go
  src/ce/api/app/buildconf/errors.go
  src/ce/api/app/deploy/deployhandlers/handler_publish.go
  src/ce/api/app/deploy/deployhandlers/handler_publish_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_statements.go
  src/ce/api/app/deploy/deployment_store.go
  src/ce/api/app/deploy/publish_gate.go
  src/ce/api/app/deploy/publish_warmup.go
  src/ce/api/app/deploy/publish_warmup_test.go
  src/ce/api/app/deploy/publisher.go
  src/ce/api/app/deploy/publisher_test.go
  src/ce/api/app/redirects/redirectshandlers/handler_playground_test.go
  src/ce/api/public/v1/handler_app_conf_test.go
  src/ce/api/public/v1/openapi.json
  src/ce/hosting/handler_forward.go
  src/ce/hosting/host_model.go
  src/ce/hosting/host_model_test.go
  src/ce/hosting/publish_probe.go
  src/ce/workerserver/job_deployments_test.go
  src/lib/factory/deployment.go
  src/migrations/0028_2026-09-07.up.sql
  src/migrations/structure.sql
  src/ui/src/pages/apps/[id]/environments/[env-id]/_components/EnvironmentHeader.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/deployments/actions.ts
  src/ui/src/pages/apps/[id]/environments/_components/EnvironmentStatus.spec.tsx
  src/ui/src/shared/deployments/PublishModal.spec.tsx
  src/ui/src/shared/deployments/PublishModal.tsx
  src/ui/src/shared/deployments/actions.tsx
  src/ui/src/testing/nocks/nock_deployments.ts
  src/ui/src/testing/nocks/nock_deployments_v2.ts
  src/ui/src/types/deployment.d.ts
  src/ui/src/types/environment.d.ts
Due: backend, frontend

feat: show a spinner while a deployment is publishing (#522)
  src/ui/src/shared/deployments/CommitInfo.spec.tsx
  src/ui/src/shared/deployments/CommitInfo.tsx
Due: frontend

fix: show the publishing badge on the deployment page
  src/ui/src/shared/deployments/CommitInfo.tsx
  src/ui/src/shared/deployments/DeploymentRow.spec.tsx
  src/ui/src/shared/deployments/DeploymentRow.tsx
  src/ui/src/shared/deployments/PublishModal.spec.tsx
  src/ui/src/shared/deployments/PublishModal.tsx
Due: frontend

fix: show the publishing badge on the deployment page (#523)
  src/ui/src/shared/deployments/CommitInfo.tsx
  src/ui/src/shared/deployments/DeploymentRow.spec.tsx
  src/ui/src/shared/deployments/DeploymentRow.tsx
  src/ui/src/shared/deployments/PublishModal.spec.tsx
  src/ui/src/shared/deployments/PublishModal.tsx
Due: frontend

chore: update changelog for v2026.09.08.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.09.08.1 (#524)
  CHANGELOG.md
Due: none

chore: position stormkit as an application platform
  src/www/public/stormkit-og-image-1200x628.png
  src/www/public/stormkit-og-image-1500x500.png
  src/www/public/stormkit-og-image-1920x1080.png
  src/www/public/stormkit-og-image.png
  src/www/src/entry-server.tsx
Due: none

chore: position stormkit as an application platform (#525)
  src/www/public/stormkit-og-image-1200x628.png
  src/www/public/stormkit-og-image-1500x500.png
  src/www/public/stormkit-og-image-1920x1080.png
  src/www/public/stormkit-og-image.png
  src/www/src/entry-server.tsx
Due: none

feat: skip unchanged monorepo build roots (#521)
  src/ce/api/app/apphandlers/handler_inbound_webhooks.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_github.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_github_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_gitlab.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_gitlab_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_test.go
Due: backend

feat: make monorepo build root filter opt-in
  docs/api/3-environments.md
  src/ce/api/app/apphandlers/handler_inbound_webhooks.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_github_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_gitlab_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_test.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_get_test.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/buildconf/watch_paths_test.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments_test.go
  src/ce/api/public/v1/handler_env_add.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/openapi.json
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/types/environment.d.ts
Due: backend, frontend

docs: document isPublished on the app config response
  docs/api/2-apps.md
Due: none

feat: make monorepo build root filter opt-in (#526)
  docs/api/3-environments.md
  src/ce/api/app/apphandlers/handler_inbound_webhooks.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_github_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_gitlab_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_test.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_get_test.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/buildconf/watch_paths_test.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments_test.go
  src/ce/api/public/v1/handler_env_add.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/openapi.json
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/types/environment.d.ts
Due: backend, frontend

docs: document isPublished on the app config response (#527)
  docs/api/2-apps.md
Due: none

chore: update changelog for v2026.09.08.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.09.08.2 (#528)
  CHANGELOG.md
Due: none

docs: say application platform where we define ourselves
  docs/self-hosting/1-getting-started.md
  docs/welcome/1-getting-started.md
  src/ce/api/public/v1/openapi.json
  src/ui/package.json
  src/www/README.md
  src/www/package.json
  src/www/public/index.md
  src/www/src/helpers/structured-data.ts
  src/www/src/pages/_components/FAQ.tsx
  src/www/src/pages/vs/vercel.tsx
Due: backend

docs: say application platform where we define ourselves (#529)
  docs/self-hosting/1-getting-started.md
  docs/welcome/1-getting-started.md
  src/ce/api/public/v1/openapi.json
  src/ui/package.json
  src/www/README.md
  src/www/package.json
  src/www/public/index.md
  src/www/src/helpers/structured-data.ts
  src/www/src/pages/_components/FAQ.tsx
  src/www/src/pages/vs/vercel.tsx
Due: backend

chore: re-cut the intro for the application platform line
  src/www/public/stormkit-intro-4k.mp4
  src/www/public/stormkit-intro.mp4
Due: none

chore: re-cut the intro for the application platform line (#530)
  src/www/public/stormkit-intro-4k.mp4
  src/www/public/stormkit-intro.mp4
Due: none

test: stop specs racing the mock instead of the DOM
  src/ui/src/pages/admin/Git/Git.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/AuthUsers.spec.tsx
  src/ui/src/testing/setup.tsx
  src/ui/vitest.config.ts
Due: frontend

test: stop specs racing the mock instead of the DOM (#531)
  src/ui/src/pages/admin/Git/Git.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/AuthUsers.spec.tsx
  src/ui/src/testing/setup.tsx
  src/ui/vitest.config.ts
Due: frontend

test: wait on the DOM, not the mock, in the remaining specs
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Visitors.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabAuthWall/AuthWallUsers.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabDomainConfig/DomainVerifyModal.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/SentEmails.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/volumes/Volumes.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/volumes/VolumesDropzone.spec.tsx
  src/ui/src/pages/apps/new/github/NewGithubApp.spec.tsx
  src/ui/src/shared/deployments/DeploymentRow.spec.tsx
  src/ui/src/shared/deployments/PublishModal.spec.tsx
Due: frontend

test: wait on the DOM, not the mock, in the remaining specs (#532)
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Visitors.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabAuthWall/AuthWallUsers.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabDomainConfig/DomainVerifyModal.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/SentEmails.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/volumes/Volumes.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/volumes/VolumesDropzone.spec.tsx
  src/ui/src/pages/apps/new/github/NewGithubApp.spec.tsx
  src/ui/src/shared/deployments/DeploymentRow.spec.tsx
  src/ui/src/shared/deployments/PublishModal.spec.tsx
Due: frontend

chore: block assistant attribution in history
  .githooks/commit-msg
  .githooks/forbidden-attribution.sh
  .githooks/pre-push
  .github/workflows/no-assistant-attribution.yml
  Makefile
Due: none

chore: block assistant attribution in history (#534)
  .githooks/commit-msg
  .githooks/forbidden-attribution.sh
  .githooks/pre-push
  .github/workflows/no-assistant-attribution.yml
  Makefile
Due: none

fix: recover from redis read-only failover
  src/ce/workerserver/job_handler_forward.go
  src/ce/workerserver/leader.go
  src/lib/config/config.go
  src/lib/rediscache/failover_stub_test.go
  src/lib/rediscache/failover_test.go
  src/lib/rediscache/rediscache.go
  src/lib/rediscache/rediscache_test.go
  src/lib/rediscache/reset_lockout_test.go
Due: backend

fix: recover from a failover without caller help
  src/ce/hosting/certmagic_redis.go
  src/ce/hosting/certmagic_redis_reset_test.go
  src/ce/hosting/certmagic_server.go
  src/ce/workerserver/job_handler_forward.go
  src/ce/workerserver/leader.go
  src/lib/rediscache/failover_test.go
  src/lib/rediscache/rediscache.go
Due: backend

fix: bound recovery and narrow the read-only match
  src/ce/hosting/certmagic_redis.go
  src/lib/rediscache/failover_stub_test.go
  src/lib/rediscache/failover_test.go
  src/lib/rediscache/rediscache.go
  src/lib/rediscache/rediscache_test.go
  src/lib/rediscache/reset_lockout_test.go
Due: backend
