Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for Stormkit
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 2%
    
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: true

  # Files to ignore in coverage reports
  ignore:
    - "**/*_test.go"
    - "**/*.test.ts"
    - "**/*.test.tsx"
    - "**/*.spec.ts"
    - "**/*.spec.tsx"
    - "**/mocks/**"
    - "**/testutils/**"
    - "src/ui/src/testing/**"
    - "**/__mocks__/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "src/migrations/**"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - src/ce/
      - src/ee/
      - src/lib/
    carryforward: true
  
  frontend:
    paths:
      - src/ui/src/
    carryforward: true

# Pull request comments configuration
github_checks:
  annotations: true

chore: log only if there are artifacts to be deleted
  src/ce/workerserver/job_deployments.go
Due: backend

chore: update theme
  src/ui/src/pages/mui-theme.tsx
Due: frontend

chore: add specs for new functionality in auth callback
  src/ce/api/app/skauth/skauthhandlers/handler_auth_callback_test.go
Due: backend

chore: start using version format
  src/migrations/0015_2025-04-28.up.sql
  src/migrations/0016_2025-09-29.up.sql
  src/migrations/0017_2025-10-21.up.sql
  src/migrations/0018_2025-11-13.up.sql
  src/migrations/0019_2025-12-09.up.sql
  src/migrations/0020_2026-01-04.up.sql
  src/migrations/0021_v1-26-5.up.sql
Due: none

feat: stormkit auth
  src/ce/api/app/skauth/client_google.go
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/sk_auth_store.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_callback.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths_test.go
  src/ce/api/app/skauth/skauthhandlers/services.go
  src/ce/api/app/skauth/skauthhandlers/services_test.go
  src/migrations/0001_schema.all.up.sql
  src/migrations/0020_2026-01-04.up.sql
  src/mocks/client.go
  src/ui/src/layouts/AppLayout/menu_items.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/routes.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/index.ts
Due: backend, frontend

fix: endpoints order
  src/ce/api/app/skauth/skauthhandlers/services_test.go
Due: backend

chore: disable stormkit authentication url
  src/ui/src/layouts/AppLayout/menu_items.tsx
Due: frontend

chore: add specs for switch component
  src/ui/src/components/Form/Switch.spec.tsx
Due: frontend

chore: comment out group icon for now
  src/ui/src/layouts/AppLayout/menu_items.tsx
Due: frontend

chore: update packages
  src/ui/package-lock.json
Due: none

chore: add specs
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: frontend

chore: wait for selectors
  src/ui/src/pages/admin/AuthConfig/PendingUsers.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.spec.tsx
Due: frontend

chore: add specs
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
Due: frontend

chore: use correct tag
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
Due: frontend

chore: add global code tag styling and UI improvements
  src/ce/api/app/buildconf/schema_model.go
  src/ui/src/assets/styles/global.css
  src/ui/src/components/Form/Switch.tsx
  src/ui/src/components/Help/Help.tsx
  src/ui/src/components/Help/index.ts
  src/ui/src/pages/mui-theme.tsx
Due: backend, frontend

feat: inject db environment variables
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_configure.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_configure_test.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_get.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_get_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_model_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/actions.tsx
  src/ui/src/testing/nocks/nock_schema.ts
Due: backend, frontend

chore: new helper component to display info tables
  src/ui/src/components/Help/HelpTable.tsx
  src/ui/src/components/Help/index.ts
Due: frontend

chore: minor ui improvements
  src/ui/src/pages/mui-theme.tsx
Due: frontend

fix(hosting): reduce lock contention in FetchAppConf
  src/ce/hosting/host_model.go
  src/ce/hosting/host_model_test.go
Due: backend

feat: move mailer to its own section
  src/ce/runner/runner.go
  src/ui/src/layouts/AppLayout/menu_items.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/EnvironmentConfig.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/actions.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/index.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/routes.ts
Due: backend, frontend

refactor: move mailer under buildconf package
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/buildconf/env_statements.go
  src/ce/api/app/buildconf/env_store.go
  src/ce/api/app/buildconf/mailer_model.go
  src/ce/api/app/buildconf/mailer_store.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mail_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_get_test.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set.go
  src/ce/api/app/buildconf/mailerhandlers/handler_mailer_config_set_test.go
  src/ce/api/app/buildconf/mailerhandlers/services.go
  src/ce/api/app/buildconf/mailerhandlers/services_test.go
  src/ce/api/app/mailer/mailerhandlers/handler_mailer_config_get.go
  src/ce/api/public/v1/services.go
  src/ce/api/router/router.go
  src/lib/factory/environment.go
Due: backend

feat: inject mailer variables into the deployment
  src/ce/api/app/app_statements.go
  src/ce/api/app/app_store.go
  src/ce/api/app/app_store_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks.go
  src/ce/api/app/buildconf/env_store.go
  src/ce/api/app/buildconf/mailer_model.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_model_test.go
Due: backend

chore: add clarification on existing vars
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.tsx
Due: frontend

docs: document MAILER_URL injection and override behavior
  docs/features/12-mailer.md
Due: none

chore: reset form errors on submission
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.tsx
Due: frontend

fix: failing specs
  src/ui/src/layouts/AppLayout/AppLayout.spec.tsx
  src/ui/src/layouts/AppLayout/EnvMenu.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/EnvironmentConfig.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.spec.tsx
Due: frontend

chore: ensure object is initialized
  src/ce/api/app/deploy/deployment_model.go
Due: backend

chore: fallback to default port number
  src/ce/api/app/buildconf/mailer_model.go
  src/ce/api/app/buildconf/mailer_model_test.go
Due: backend

fix: URL-encode credentials in SMTP connection string
  docs/features/12-mailer.md
  src/ce/api/app/buildconf/mailer_model.go
  src/ce/api/app/buildconf/mailer_model_test.go
Due: backend

docs: update MAILER_URL description to SMTP connection string
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.tsx
Due: frontend

fix: add missing dependencies to useEffect hook
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/actions.ts
Due: frontend

fix: update mailer url description value
  src/ui/src/pages/apps/[id]/environments/[env-id]/mailer/Mailer.spec.tsx
Due: frontend

chore: use advisory lock instead of lock table
  src/lib/database/databasetest/databasetest.go
  src/migrations/migrate.go
Due: backend

fix: handle lon referrer and request paths
  src/ce/workerserver/job_analytics_test.go
  src/ce/workerserver/ws_statements.go
  src/migrations/0022_v1-26-8.up.sql
Due: backend

chore: rename files
  src/migrations/0001_v1-26-4.all.up.sql
  src/migrations/0001_v1-26-4.cloud.up.sql
Due: none

feat: job to dump schema into structure.sql
  Makefile
  src/migrations/structure.sql
Due: none

fix: null values
  src/ee/api/analytics/analyticshandlers/handler_top_paths_test.go
  src/migrations/0022_v1-26-8.up.sql
Due: backend

fix: redirect to correct page
  src/ui/src/pages/apps/new/url/ImportURL.tsx
Due: frontend

fix: failing spec
  src/ee/api/analytics/analyticshandlers/handler_top_referrers_test.go
Due: backend

feat: add support for user-level api keys
  src/ce/api/app/apikey/apikey_store.go
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_add.go
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_add_test.go
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_get.go
Due: backend
