Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore: use a better path
  src/lib/utils/file/rsync_test.go
Due: backend

feat: add support for rsyc on windows
  src/ce/runner/bundler.go
  src/lib/utils/file/rsync.go
  src/lib/utils/file/rsync_test.go
Due: backend

chore: use filepath instead of path
  src/ce/runner/bundler.go
  src/ce/runner/dependency_tree.go
Due: backend

chore: use filepath dir instead of path dir
  src/ce/runner/bundler.go
Due: backend

feat: remove stormkit ui auto installation
  src/ce/api/admin/admin_model.go
  src/ce/api/admin/admin_model_test.go
  src/ee/hosting/main.go
Due: backend

fix: make sure not to return 0
  src/ce/api/user/userhandlers/handler_user_session.go
  src/ce/api/user/userhandlers/handler_user_session_test.go
Due: backend

chore: remove unused import
  src/ui/src/pages/admin/System.tsx
Due: frontend

chore: add watch mode for fe tests
  Makefile
Due: none

chore: minor style adjustments
  src/ui/src/pages/mui-theme.tsx
Due: frontend

feat: allow managing auth config
  src/ui/src/layouts/AdminLayout/AdminLayout.tsx
  src/ui/src/pages/admin/AuthConfig/AuthConfig.spec.tsx
  src/ui/src/pages/admin/AuthConfig/AuthConfig.tsx
  src/ui/src/pages/admin/AuthConfig/actions.ts
  src/ui/src/pages/admin/AuthConfig/index.ts
  src/ui/src/pages/routes.tsx
Due: frontend

feat: add whitelist logic
  src/ce/api/admin/admin_model.go
  src/ce/api/admin/admin_model_test.go
  src/ce/api/admin/adminhandlers/handler_user_management_set.go
  src/ce/api/admin/adminhandlers/handler_user_management_set_test.go
  src/ce/api/user/user_store.go
  src/ce/api/user/user_store_test.go
Due: backend

chore: use any instead of interface
  src/lib/factory/user.go
Due: backend

feat: endpoint to retrieve pending users
  src/ce/api/admin/adminhandlers/handler_users_pending.go
  src/ce/api/admin/adminhandlers/handler_users_pending_test.go
  src/ce/api/admin/adminhandlers/services.go
  src/ce/api/admin/adminhandlers/services_test.go
  src/ce/api/user/user_store.go
Due: backend

feat: allow managing pending users
  src/ce/api/admin/adminhandlers/handler_users_manage.go
  src/ce/api/admin/adminhandlers/handler_users_manage_test.go
  src/ce/api/admin/adminhandlers/services.go
  src/ce/api/admin/adminhandlers/services_test.go
  src/ce/api/user/user_statements.go
  src/ce/api/user/user_store.go
Due: backend

chore: allow modifying modal title
  src/ui/src/components/ConfirmModal/ConfirmModal.tsx
Due: frontend

feat: allow modifying pending users
  src/ui/src/layouts/AdminLayout/AdminLayout.tsx
  src/ui/src/pages/admin/AuthConfig/AuthConfig.tsx
  src/ui/src/pages/admin/AuthConfig/PendingUsers.spec.tsx
  src/ui/src/pages/admin/AuthConfig/PendingUsers.tsx
  src/ui/src/pages/admin/AuthConfig/actions.ts
  src/ui/src/pages/auth/actions.ts
Due: frontend

chore: improve approval logic
  src/ce/api/user/authhandlers/handler_auth_callback.go
  src/ce/api/user/user_model.go
  src/ce/api/user/user_shttp.go
Due: backend

chore: add specs for new method
  src/ce/api/user/user_model_test.go
Due: backend

chore: allow setting config in test envs
  src/ce/api/admin/admin_store.go
Due: backend

chore: remove wrapping brackets
  src/ui/src/layouts/AdminLayout/AdminLayout.tsx
Due: frontend

fix: grammar
  src/ce/api/user/user_model_test.go
Due: backend

fix: typescript warnings
  src/www/tsconfig.json
  src/www/tsconfig.node.json
Due: none

feat: run www service
  Procfile
Due: none

chore: remove license
  src/www/LICENSE
Due: none

chore: parse port flag
  src/www/src/vite-server.ts
Due: none

docs: update docs for www
  README.md
Due: none

Path conditions:
  backend: any of: src/ce/, src/ee/, src/lib/
  frontend: any of: src/ui/src/
