Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for Stormkit
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 2%
    
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: true

  # Files to ignore in coverage reports
  ignore:
    - "**/*_test.go"
    - "**/*.test.ts"
    - "**/*.test.tsx"
    - "**/*.spec.ts"
    - "**/*.spec.tsx"
    - "**/mocks/**"
    - "**/testutils/**"
    - "src/ui/src/testing/**"
    - "**/__mocks__/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "src/migrations/**"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - src/ce/
      - src/ee/
      - src/lib/
    carryforward: true
  
  frontend:
    paths:
      - src/ui/src/
    carryforward: true

# Pull request comments configuration
github_checks:
  annotations: true

feat: allow creating user level api key
  src/ui/src/pages/user/account/Account.tsx
  src/ui/src/pages/user/account/_components/APIKeys.spec.tsx
  src/ui/src/pages/user/account/_components/APIKeys.tsx
  src/ui/src/shared/api-keys/actions.ts
  src/ui/src/testing/nocks/nock_api_keys.ts
Due: frontend

chore: improve code resilience
  src/ui/src/pages/admin/AuthConfig/PendingUsers.spec.tsx
Due: frontend

chore: better log
  src/ce/hosting/host_model.go
Due: backend

feat: add support for user api key
  src/ce/api/app/app_shttp.go
  src/ce/api/app/app_shttp_test.go
Due: backend

chore: add debug statements for failed queries
  src/ee/api/team/team_store.go
Due: backend

docs: user level api key
  docs/api/1-authentication.md
Due: none

docs: announce user level api keys
  content/blog/whats-new.md
Due: none

fix: failing spec
  src/ce/api/public/v1/handler_app_conf_test.go
Due: backend

chore: do not populate user id automatically
  src/lib/factory/environment.go
Due: backend

fix: parameter order
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_add.go
Due: backend

chore: improve test coverage
  src/ce/api/app/app_shttp.go
  src/ce/api/app/app_shttp_test.go
Due: backend

fix: failing spec
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_remove_test.go
Due: backend

chore: improve test resilience
  src/ui/src/pages/admin/System.spec.tsx
Due: frontend

fix: user api key removal
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_remove.go
  src/ce/api/app/apikey/apikeyhandlers/handler_api_key_remove_test.go
Due: backend

fix: typography
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabAPIKey.tsx
  src/ui/src/pages/team/TeamAPIKeys.tsx
  src/ui/src/pages/user/account/_components/APIKeys.tsx
Due: frontend

fix: zip deployments with empty configs
  src/ce/api/app/deploy/deployment_store.go
Due: backend

chore: add specs for fetch config flow
  src/ce/api/app/appconf/appconf_shttp_test.go
Due: backend

chore: remove empty line
  src/ce/api/app/appconf/appconf_store_test.go
Due: backend

chore: add auth behind feature flag
  src/ui/src/layouts/AppLayout/menu_items.tsx
Due: frontend

chore: follow api standards for auth public apis
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths_test.go
  src/ce/api/app/skauth/skauthhandlers/services.go
  src/ce/api/app/skauth/skauthhandlers/services_test.go
  src/ce/api/public/v1/handler_auth_callback.go
  src/ce/api/public/v1/handler_auth_callback_test.go
  src/ce/api/public/v1/handler_auth_redirect.go
  src/ce/api/public/v1/handler_auth_redirect_test.go
  src/ce/api/public/v1/handler_auth_session.go
  src/ce/api/public/v1/handler_auth_session_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
Due: backend

chore: improve documentation steps
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: frontend

feat: refresh list after saving provider
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: frontend

chore: improve provider and auth logic
  src/ce/api/app/skauth/client_google.go
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/sk_auth_store.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths_test.go
  src/ce/api/app/skauth/skauthhandlers/services.go
  src/ce/api/public/v1/handler_auth_callback.go
  src/ce/api/public/v1/handler_auth_callback_test.go
  src/ce/api/public/v1/handler_auth_redirect.go
  src/ce/api/public/v1/handler_auth_redirect_test.go
  src/ce/api/public/v1/services.go
  src/mocks/client.go
Due: backend

feat: guide user through the authentication process
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: frontend

feat: stop the flow for disabled providers
  src/ce/api/public/v1/handler_auth_redirect.go
  src/ce/api/public/v1/handler_auth_redirect_test.go
Due: backend

chore: add client-specific oauth2 methods
  src/ce/api/app/skauth/client_google.go
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/skauthhandlers/services.go
  src/ce/api/public/v1/handler_auth_callback.go
  src/ce/api/public/v1/handler_auth_callback_test.go
  src/ce/api/public/v1/handler_auth_redirect.go
  src/mocks/client.go
Due: backend

feat: implement pcke verification for x auth
  src/ce/api/app/skauth/client_google.go
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/client_x_test.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/public/v1/handler_auth_callback.go
  src/ce/api/public/v1/handler_auth_callback_test.go
  src/ce/api/public/v1/handler_auth_redirect.go
  src/lib/utils/crypt.go
  src/lib/utils/hash.go
  src/mocks/client.go
Due: backend

feat: allow deleting production environments
  src/ce/api/admin/adminhandlers/handler_admin_app_delete.go
  src/ce/api/admin/adminhandlers/handler_admin_app_delete_test.go
  src/ce/api/app/app_model.go
  src/ce/api/app/app_statements.go
  src/ce/api/app/app_store.go
  src/ce/api/app/apphandlers/handler_app_get_test.go
  src/ce/api/app/apphandlers/handler_app_list.go
  src/ce/api/app/apphandlers/handler_app_list_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_test.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_delete.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_delete_test.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_insert.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_insert_test.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_update.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_update_test.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_envs.go
  src/ce/api/app/buildconf/errors.go
  src/ce/api/public/v1/handler_env_add.go
  src/migrations/0001_v1-26-4.all.up.sql
  src/migrations/structure.sql
  src/ui/src/layouts/AppLayout/AppLayout.tsx
  src/ui/src/pages/apps/[id]/environments/Environment.context.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigGeneral.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

feat: allow deleting production environments
  src/ce/api/admin/adminhandlers/handler_admin_app_delete.go
  src/ce/api/admin/adminhandlers/handler_admin_app_delete_test.go
  src/ce/api/app/app_model.go
  src/ce/api/app/app_statements.go
  src/ce/api/app/app_store.go
  src/ce/api/app/apphandlers/handler_app_get_test.go
  src/ce/api/app/apphandlers/handler_app_list.go
  src/ce/api/app/apphandlers/handler_app_list_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_test.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_delete.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_delete_test.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_insert.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_insert_test.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_update.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_update_test.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_envs.go
  src/ce/api/app/buildconf/errors.go
  src/ce/api/public/v1/handler_env_add.go
  src/migrations/0001_v1-26-4.all.up.sql
  src/migrations/structure.sql
  src/ui/src/layouts/AppLayout/AppLayout.tsx
  src/ui/src/pages/apps/[id]/environments/Environment.context.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigGeneral.tsx
Due: backend, frontend

chore: remove unused file
  scripts/tag.sh
Due: none

docs: announce calver
  content/blog/whats-new.md
  content/blog/why-we-are-migrating-from-semver-to-calver.md
Due: none

chore: allow specifying success url callback
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: frontend

chore: rename object
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/public/v1/handler_auth_callback_test.go
  src/ce/api/public/v1/handler_auth_session_test.go
Due: backend

fix: import vitest utils
  src/ui/src/layouts/AppLayout/routes.spec.ts
Due: frontend

chore: reorder items
  src/ui/src/layouts/AppLayout/menu_items.tsx
Due: frontend

chore: allow modifying chip sx
  src/ui/src/components/CardRow/CardRow.tsx
Due: frontend

feat: handle redirect and session flow
  src/ce/api/app/appconf/appconf_model.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/appconf/appconf_store_test.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/buildconf/env_statements.go
  src/ce/api/app/buildconf/env_store.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths_test.go
  src/ce/api/app/skauth/skauthhandlers/services.go
  src/ce/api/public/v1/handler_auth_callback.go
  src/ce/api/public/v1/handler_auth_callback_test.go
  src/ce/api/public/v1/handler_auth_redirect.go
  src/ce/api/public/v1/handler_auth_redirect_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_test.go
Due: backend

chore: minor ui changes
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: frontend

fix: failing specs
  src/ce/api/app/skauth/skauthhandlers/services_test.go
Due: backend

chore: do not expose authconf
  src/ce/api/app/appconf/appconf_model.go
Due: backend
