Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for Stormkit
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 2%
    
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: true

  # Files to ignore in coverage reports
  ignore:
    - "**/*_test.go"
    - "**/*.test.ts"
    - "**/*.test.tsx"
    - "**/*.spec.ts"
    - "**/*.spec.tsx"
    - "**/mocks/**"
    - "**/testutils/**"
    - "src/ui/src/testing/**"
    - "**/__mocks__/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "src/migrations/**"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - src/ce/
      - src/ee/
      - src/lib/
    carryforward: true
  
  frontend:
    paths:
      - src/ui/src/
    carryforward: true

# Pull request comments configuration
github_checks:
  annotations: true

fix: cookie mode across all login routes (#368)
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/skauth_email.go
  src/ce/hosting/skauth_email_test.go
  src/ce/hosting/skauth_oauth.go
Due: backend

chore: update changelog for v2026.07.15.3
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.15.3 (#369)
  CHANGELOG.md
Due: none

feat: add session logout endpoint
  src/ce/hosting/export_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_cookie_test.go
  src/ce/hosting/reserved_routes.go
Due: backend

feat: cookie-only sessions, bearer for native
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_cookie_test.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/middleware.skauth_test.go
  src/ce/hosting/oauth_mcp_test.go
  src/ce/hosting/oauth_test.go
  src/ce/hosting/reserved_routes.go
  src/ce/hosting/skauth_email_test.go
  src/ce/hosting/skauth_oauth.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

refactor: register auth routes per-method
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_test.go
  src/ce/hosting/reserved_routes.go
Due: backend

feat: cookie-only sessions, bearer for native (#371)
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_cookie_test.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/middleware.skauth_test.go
  src/ce/hosting/oauth_mcp_test.go
  src/ce/hosting/oauth_test.go
  src/ce/hosting/reserved_routes.go
  src/ce/hosting/skauth_email_test.go
  src/ce/hosting/skauth_oauth.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

refactor: register auth routes per-method (#373)
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_test.go
  src/ce/hosting/reserved_routes.go
Due: backend

feat: add session logout endpoint (#374)
  src/ce/hosting/export_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_cookie_test.go
  src/ce/hosting/reserved_routes.go
Due: backend

feat: add oauth token revocation endpoint
  src/ce/hosting/export_test.go
  src/ce/hosting/oauth.go
  src/ce/hosting/oauth_mcp_test.go
  src/ce/hosting/oauth_refresh_store.go
  src/ce/hosting/reserved_routes.go
Due: backend

feat: add oauth token revocation endpoint (#375)
  src/ce/hosting/export_test.go
  src/ce/hosting/oauth.go
  src/ce/hosting/oauth_mcp_test.go
  src/ce/hosting/oauth_refresh_store.go
  src/ce/hosting/reserved_routes.go
Due: backend

refactor: remove dead auth code
  src/ce/hosting/oauth.go
  src/ce/hosting/skauth_oauth.go
Due: backend

fix: prevent nil-deref panic in oauth callback
  src/ce/api/user/authhandlers/handler_auth_callback.go
Due: backend

fix: harden auth-wall session cookie
  src/ce/hosting/middleware.auth_wall.go
Due: backend

fix: harden admin password auth
  src/ce/api/user/authhandlers/handler_admin_login.go
  src/ce/api/user/authhandlers/handler_admin_login_test.go
  src/ce/api/user/authhandlers/handler_admin_register.go
  src/ce/api/user/authhandlers/handler_admin_register_test.go
  src/ce/api/user/authhandlers/services.go
Due: backend

fix: harden skauth end-user identity handling
  src/ce/api/app/skauth/client_google.go
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/skauth_email.go
  src/ce/hosting/skauth_magic.go
  src/ce/hosting/skauth_oauth.go
Due: backend

fix: scope and re-validate skauth oauth state
  src/ce/api/app/skauth/client_google.go
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/middleware.skauth_oauth_test.go
  src/ce/hosting/skauth_oauth.go
Due: backend

fix: enforce oauth token audience at the edge
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_test.go
Due: backend

test: assert hardened auth-wall cookie flags
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/user/authhandlers/handler_admin_login.go
  src/ce/api/user/authhandlers/handler_auth_callback.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/skauth_oauth.go
Due: backend

fix: auth security hardening (#376)
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/skauth/client_google.go
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/user/authhandlers/handler_admin_login.go
  src/ce/api/user/authhandlers/handler_admin_login_test.go
  src/ce/api/user/authhandlers/handler_admin_register.go
  src/ce/api/user/authhandlers/handler_admin_register_test.go
  src/ce/api/user/authhandlers/handler_auth_callback.go
  src/ce/api/user/authhandlers/services.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/middleware.auth_wall.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/middleware.skauth_oauth_test.go
  src/ce/hosting/middleware.skauth_test.go
  src/ce/hosting/oauth.go
  src/ce/hosting/skauth_email.go
  src/ce/hosting/skauth_magic.go
  src/ce/hosting/skauth_oauth.go
Due: backend

chore: update changelog for v2026.07.16.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.16.1 (#377)
  CHANGELOG.md
Due: none

feat: public api + mcp tools to configure auth
  docs/features/15-authentication.md
  docs/features/16-oauth-server.md
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/public/v1/handler_auth_config.go
  src/ce/api/public/v1/handler_auth_config_test.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
Due: backend

feat: public api + mcp tools to configure auth (#378)
  docs/features/15-authentication.md
  docs/features/16-oauth-server.md
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/public/v1/handler_auth_config.go
  src/ce/api/public/v1/handler_auth_config_test.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
Due: backend

fix: verify x oauth state with env secret
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/client_x_test.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/hosting/skauth_oauth.go
Due: backend

fix: verify x oauth state with env secret (#379)
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/client_x_test.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/hosting/skauth_oauth.go
Due: backend

chore: update changelog for v2026.07.16.2
  CHANGELOG.md
Due: none

chore: update mise version to v2026.7.7
  src/lib/utils/mise/mise.go
Due: backend

chore: update mise version to v2026.7.7 (#381)
  src/lib/utils/mise/mise.go
Due: backend

chore: update changelog for v2026.07.16.2 (#380)
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.18.1
  CHANGELOG.md
Due: none

feat: resolve volume and defanged urls in admin search
  src/ce/api/admin/adminhandlers/handler_admin_app_get.go
  src/ce/api/admin/adminhandlers/handler_admin_app_get_test.go
  src/ui/src/pages/admin/CloudApps.spec.tsx
  src/ui/src/pages/admin/CloudApps.tsx
Due: backend, frontend

feat: resolve volume and defanged urls in admin search (#384)
  src/ce/api/admin/adminhandlers/handler_admin_app_get.go
  src/ce/api/admin/adminhandlers/handler_admin_app_get_test.go
  src/ui/src/pages/admin/CloudApps.spec.tsx
  src/ui/src/pages/admin/CloudApps.tsx
Due: backend, frontend

chore: update changelog for v2026.07.18.1 (#382)
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.28.1
  CHANGELOG.md
Due: none

fix: stop serving public volume files for deleted apps
  src/ce/api/app/volumes/volumeshandlers/handler_volumes_public_file.go
  src/ce/api/app/volumes/volumeshandlers/handler_volumes_public_file_test.go
Due: backend

fix: stop serving public volume files for deleted apps (#386)
  src/ce/api/app/volumes/volumeshandlers/handler_volumes_public_file.go
  src/ce/api/app/volumes/volumeshandlers/handler_volumes_public_file_test.go
Due: backend

fix: purge volume files of deleted environments
  src/ce/workerserver/job_environments.go
  src/ce/workerserver/job_volumes_test.go
  src/ce/workerserver/ws_statements.go
Due: backend
