Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for Stormkit
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 2%
    
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: true

  # Files to ignore in coverage reports
  ignore:
    - "**/*_test.go"
    - "**/*.test.ts"
    - "**/*.test.tsx"
    - "**/*.spec.ts"
    - "**/*.spec.tsx"
    - "**/mocks/**"
    - "**/testutils/**"
    - "src/ui/src/testing/**"
    - "**/__mocks__/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "src/migrations/**"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - src/ce/
      - src/ee/
      - src/lib/
    carryforward: true
  
  frontend:
    paths:
      - src/ui/src/
    carryforward: true

# Pull request comments configuration
github_checks:
  annotations: true

chore: migrate snippets/domains/mail endpoints to local WithAPIKey
  src/ce/api/public/v1/handler_adapter.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
Due: backend

chore: migrate /v1/snippets to local WithAPIKey and consolidate shared logic
  docs/api/6-snippets.md
  src/ce/api/app/buildconf/snippets_model.go
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_add.go
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_add_test.go
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_delete.go
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_delete_test.go
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_get.go
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_put.go
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_put_test.go
  src/ce/api/app/buildconf/snippetshandlers/helpers_snippets.go
  src/ce/api/app/buildconf/snippetshandlers/services.go
  src/ce/api/public/v1/handler_snippets_add.go
  src/ce/api/public/v1/handler_snippets_delete.go
  src/ce/api/public/v1/handler_snippets_get.go
  src/ce/api/public/v1/handler_snippets_put.go
  src/ce/api/public/v1/request_context.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ui/src/components/Card/Card.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/snippets/SnippetModal.tsx
Due: backend, frontend

fix: nil pointer panic when restarting a failed deployment
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_statements.go
  src/ce/api/app/deploy/deployment_store.go
  src/ce/api/app/deployservice/deployer.go
  src/ce/api/app/deployservice/deployer_local.go
Due: backend

fix: evict stale service discovery entries via TTL heartbeat
  src/lib/rediscache/service.go
Due: backend

fix: handle Set error and re-register on heartbeat failure
  src/lib/rediscache/service.go
Due: backend

chore: make TTL/interval configurable and add heartbeat tests
  src/lib/rediscache/service.go
  src/lib/rediscache/service_test.go
Due: backend

chore: address PR review comments on TTL heartbeat
  src/lib/rediscache/service.go
  src/lib/rediscache/service_test.go
Due: backend

fix: flaky instancehandlers services test due to map iteration order
  src/ce/api/user/instancehandlers/services_test.go
Due: backend

fix: bypass http.TimeoutHandler for SSE streaming endpoint
  src/ce/api/router/cors.go
  src/ce/hosting/services.go
  src/lib/shttp/request_context.go
Due: backend

feat: configurable http timeouts via env vars
  docs/self-hosting/6-advanced-configuration.md
  src/lib/config/config.go
  src/lib/config/config_test.go
Due: backend

fix: guard nil keys and paginate deleteS3Folder for Alibaba OSS
  src/lib/integrations/client_aws_s3.go
  src/lib/integrations/client_aws_s3_test.go
Due: backend

feat: increase hosting queue batch size to 1000 and make it configurable
  docs/self-hosting/6-advanced-configuration.md
  src/ce/workerserver/job_handler_forward.go
  src/ce/workerserver/job_handler_forward_test.go
Due: backend

fix: add Content-MD5 header to Alibaba OSS DeleteObjects requests
  src/lib/integrations/client_alibaba.go
  src/lib/integrations/client_alibaba_oss_test.go
Due: backend

fix: treat VersionNotFound 404 as success in DeleteArtifacts
  src/lib/integrations/client_alibaba.go
  src/lib/integrations/client_alibaba_functions_test.go
Due: backend

feat: show deleted record count in jobs success message
  src/ui/src/pages/admin/Jobs.spec.tsx
  src/ui/src/pages/admin/Jobs.tsx
Due: frontend

fix: prevent thundering herd and data races in FetchAppConf
  src/ce/hosting/export_test.go
  src/ce/hosting/host_model.go
  src/ce/hosting/host_model_test.go
  src/lib/integrations/client.go
Due: backend

fix: disable aws-chunked encoding for S3 compatible storage
  src/lib/integrations/client_aws.go
Due: backend

fix: prevent codemirror from overflowing its container
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/EnvironmentConfig.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/Editor.tsx
Due: frontend

fix: use UTC timezone in deployment timeout and cleanup queries
  src/ce/workerserver/ws_statements.go
Due: backend

feat: add MCP server endpoint
  AGENTS.md
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/request_context.go
  src/ce/api/public/v1/request_context_mcp.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
Due: backend

docs: document blank line between blocks convention in AGENTS.md
  AGENTS.md
Due: none

feat: add DELETE /v1/deployments/{id} endpoint
  docs/api/7-deployments.md
  src/ce/api/public/v1/handler_deployment_delete.go
  src/ce/api/public/v1/handler_deployment_delete_test.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
Due: backend

feat: add POST /v1/deployments/{id}/restart endpoint
  docs/api/7-deployments.md
  src/ce/api/public/v1/handler_deployment_restart.go
  src/ce/api/public/v1/handler_deployment_restart_test.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ee/api/audit/audit_model.go
  src/ui/src/shared/feed/AuditMessage.spec.tsx
  src/ui/src/shared/feed/AuditMessage.tsx
  src/ui/src/types/audit.d.ts
Due: backend, frontend

fix: disable aws-chunked encoding for Alibaba OSS multipart uploads
  src/lib/integrations/client_alibaba.go
  src/lib/integrations/client_alibaba_oss_test.go
Due: backend

fix: scope Content-MD5 header to DeleteObjects only on Alibaba OSS
  src/lib/integrations/client_alibaba.go
  src/lib/integrations/client_alibaba_oss_test.go
Due: backend

feat: add GET /v1/deployments endpoint to list deployments
  docs/api/7-deployments.md
  src/ce/api/app/deploy/deployment_store.go
  src/ce/api/public/v1/handler_app_get_test.go
  src/ce/api/public/v1/handler_app_list.go
  src/ce/api/public/v1/handler_app_list_test.go
  src/ce/api/public/v1/handler_deployment_get_test.go
  src/ce/api/public/v1/handler_deployment_list.go
  src/ce/api/public/v1/handler_deployment_list_test.go
  src/ce/api/public/v1/handler_deployment_publish.go
  src/ce/api/public/v1/handler_deployment_publish_test.go
  src/ce/api/public/v1/handler_deployment_restart.go
  src/ce/api/public/v1/handler_deployment_restart_test.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
Due: backend

feat: add JWT support to publicapiv1.WithAPIKey
  docs/api/2-apps.md
  src/ce/api/app/apphandlers/handler_app_get.go
  src/ce/api/app/apphandlers/handler_app_get_test.go
  src/ce/api/app/apphandlers/services.go
  src/ce/api/app/apphandlers/services_test.go
  src/ce/api/public/v1/request_context.go
  src/ce/api/public/v1/request_context_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/api/user/user_shttp.go
  src/ui/src/pages/apps/[id]/actions.ts
Due: backend, frontend

chore: update changelog for v2026.04.09.1
  CHANGELOG.md
Due: none

feat: retire internal GET /apps and add filter param to public app list
  src/ce/api/app/apphandlers/handler_app_list.go
  src/ce/api/app/apphandlers/handler_app_list_test.go
  src/ce/api/app/apphandlers/services.go
  src/ce/api/app/apphandlers/services_test.go
  src/ce/api/public/v1/handler_app_list.go
Due: backend

feat: switch UI app list to /v1/apps and remove useFetchApp
  src/ui/src/pages/apps/actions.ts
  src/ui/src/testing/nocks/nock_app.ts
Due: frontend

chore: move UI test assertions inside waitFor blocks
  src/ui/src/pages/admin/AuthConfig/PendingUsers.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Visitors.spec.tsx
  src/ui/src/pages/team/TeamAPIKeys.spec.tsx
  src/ui/src/shared/api-keys/APIKeyList.spec.tsx
Due: frontend

feat: add GET /v1/envs endpoint to list environments
  docs/api/3-environments.md
  src/ce/api/app/buildconf/buildconfhandlers/handler_envs.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_envs_test.go
  src/ce/api/app/buildconf/buildconfhandlers/services.go
  src/ce/api/app/buildconf/buildconfhandlers/services_test.go
  src/ce/api/public/v1/handler_env_list.go
  src/ce/api/public/v1/handler_env_list_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ui/src/pages/apps/[id]/environments/actions.ts
  src/ui/src/testing/nocks/nock_environment.ts
Due: backend, frontend

feat: add POST /v1/deployments/{id}/stop endpoint
  docs/api/7-deployments.md
  src/ce/api/app/deploy/deployhandlers/handler_deploy_stop.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_stop_test.go
  src/ce/api/app/deploy/deployhandlers/services.go
  src/ce/api/app/deploy/deployhandlers/services_test.go
  src/ce/api/public/v1/handler_deployment_stop.go
  src/ce/api/public/v1/handler_deployment_stop_test.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/deployments/actions.ts
  src/ui/src/shared/deployments/DeploymentRow.spec.tsx
  src/ui/src/shared/deployments/DeploymentRow.tsx
  src/ui/src/shared/deployments/actions.tsx
  src/ui/src/testing/nocks/nock_deployments.ts
  src/ui/src/testing/nocks/nock_deployments_v2.ts
Due: backend, frontend

feat: add stopped field to audit diff for deployment stop action
  src/ce/api/public/v1/handler_deployment_stop.go
  src/ee/api/audit/audit_model.go
  src/ui/src/shared/feed/AuditMessage.spec.tsx
  src/ui/src/shared/feed/AuditMessage.tsx
  src/ui/src/types/audit.d.ts
Due: backend, frontend

chore: use user name as token name
  src/ce/api/public/v1/request_context.go
Due: backend

chore: retire internal restart endpoint
  src/ui/src/shared/deployments/DeploymentRow.spec.tsx
  src/ui/src/shared/deployments/DeploymentRow.tsx
  src/ui/src/testing/nocks/nock_deployments_v2.ts
Due: frontend

chore: retire internal restart endpoint (Go side)
  src/ce/api/app/deploy/deployhandlers/handler_deploy_restart.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_restart_test.go
  src/ce/api/app/deploy/deployhandlers/services.go
  src/ce/api/app/deploy/deployhandlers/services_test.go
  src/ce/api/public/v1/request_context.go
  src/ui/src/shared/deployments/actions.tsx
Due: backend, frontend

chore: update changelog for v2026.04.10.1
  CHANGELOG.md
Due: none

fix: wire auth config form submission to API
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: frontend

feat: add email provider foundation for SkAuth
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/skauth/client_email.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert_test.go
Due: backend
