Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for Stormkit
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 2%
    
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: true

  # Files to ignore in coverage reports
  ignore:
    - "**/*_test.go"
    - "**/*.test.ts"
    - "**/*.test.tsx"
    - "**/*.spec.ts"
    - "**/*.spec.tsx"
    - "**/mocks/**"
    - "**/testutils/**"
    - "src/ui/src/testing/**"
    - "**/__mocks__/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "src/migrations/**"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - src/ce/
      - src/ee/
      - src/lib/
    carryforward: true
  
  frontend:
    paths:
      - src/ui/src/
    carryforward: true

# Pull request comments configuration
github_checks:
  annotations: true

chore: update changelog for v2026.04.25.1
  CHANGELOG.md
Due: none

feat: add flake.nix support and fix mise trust for subdirectories
  src/ce/runner/builder.go
  src/ce/runner/builder_test.go
  src/ce/runner/installer.go
  src/ce/runner/installer_test.go
  src/lib/utils/mise/mise.go
Due: backend

fix: detect flake.nix in repoDir when build runs from subdir
  src/ce/runner/builder.go
  src/ce/runner/builder_test.go
  src/ce/runner/installer.go
  src/lib/utils/mise/mise.go
Due: backend

chore: update changelog for v2026.04.25.2
  CHANGELOG.md
Due: none

feat: copy flake.nix to server output and wrap command with nix develop
  src/ce/runner/bundler.go
  src/ce/runner/bundler_test.go
  src/lib/integrations/client_process_manager.go
  src/lib/integrations/client_process_manager_test.go
Due: backend

chore: update changelog for v2026.04.25.3
  CHANGELOG.md
Due: none

chore: update changelog for v2026.04.25.4
  CHANGELOG.md
Due: none

fix: invalid SQL in function trigger bulk update
  src/ce/api/app/functiontrigger/function_trigger_store.go
Due: backend

feat: add billing checkout redirect endpoint
  src/ce/api/user/subscriptionhandlers/handler_selfhosted_checkout.go
  src/ce/api/user/subscriptionhandlers/handler_selfhosted_checkout_test.go
  src/ce/api/user/subscriptionhandlers/services.go
  src/ce/api/user/subscriptionhandlers/services_test.go
  src/lib/config/config.go
Due: backend

feat: add SMTP config and mailer utility
  src/lib/config/config.go
  src/lib/mailer/mailer.go
  src/lib/mailer/mailer_test.go
Due: backend

feat: pass client_reference_id in self-hosted checkout
  src/ce/api/user/subscriptionhandlers/handler_selfhosted_checkout.go
  src/ce/api/user/subscriptionhandlers/handler_selfhosted_checkout_test.go
Due: backend

feat: self-hosted license generation via Stripe checkout
  src/ce/api/admin/adminhandlers/handler_license_generate.go
  src/ce/api/admin/adminhandlers/handler_license_generate_test.go
  src/ce/api/admin/adminhandlers/handler_license_set_test.go
  src/ce/api/admin/adminhandlers/services.go
  src/ce/api/admin/adminhandlers/services_test.go
  src/ce/api/admin/license.go
  src/ce/api/admin/license_test.go
  src/ce/api/public/v1/handler_license_check.go
  src/ce/api/public/v1/handler_license_check_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/api/user/subscriptionhandlers/handler_selfhosted_license_test.go
  src/ce/api/user/subscriptionhandlers/handler_subscription_update.go
  src/ce/api/user/subscriptionhandlers/handler_subscription_update_test.go
  src/ce/api/user/subscriptionhandlers/handler_utils.go
  src/ce/api/user/user_statements.go
  src/ce/api/user/user_store.go
  src/ce/api/user/user_store_test.go
  src/ce/api/user/userhandlers/handler_license_generate.go
  src/ce/api/user/userhandlers/handler_license_generate_test.go
  src/ce/api/user/userhandlers/handler_license_get.go
  src/ce/api/user/userhandlers/handler_license_get_test.go
  src/ce/api/user/userhandlers/services.go
  src/ce/api/user/userhandlers/services_test.go
  src/ee/hosting/main.go
  src/migrations/cloud_data.go
  src/mocks/stripe_client.go
  src/ui/src/components/UpgradeButton/UpgradeButton.spec.tsx
  src/ui/src/components/UpgradeButton/UpgradeButton.tsx
  src/ui/src/pages/user/account/_components/UserProfile.spec.tsx
  src/ui/src/pages/user/account/_components/UserProfile.tsx
  src/ui/src/utils/billing.ts
Due: backend, frontend

chore: update changelog for v2026.04.28.1
  CHANGELOG.md
Due: none

feat: route self-hosted billing through api.stormkit.io deeplink
  src/ce/api/user/subscriptionhandlers/handler_selfhosted_checkout.go
  src/ce/api/user/subscriptionhandlers/handler_selfhosted_checkout_test.go
  src/ui/src/components/UpgradeButton/UpgradeButton.spec.tsx
  src/ui/src/components/UpgradeButton/UpgradeButton.tsx
  src/ui/src/utils/billing.ts
Due: backend, frontend

chore: update changelog for v2026.04.28.2
  CHANGELOG.md
Due: none

feat: separate cloud and self-hosted Stripe product IDs
  src/ce/api/user/subscriptionhandlers/handler_subscription_update.go
  src/ce/api/user/subscriptionhandlers/handler_subscription_update_test.go
Due: backend

feat: add cloud premium payment link and rename SH env vars
  src/ce/api/user/subscriptionhandlers/handler_selfhosted_checkout.go
  src/ce/api/user/subscriptionhandlers/handler_selfhosted_checkout_test.go
  src/lib/config/config.go
  src/ui/src/components/UpgradeButton/UpgradeButton.spec.tsx
  src/ui/src/components/UpgradeButton/UpgradeButton.tsx
  src/ui/src/utils/billing.ts
Due: backend, frontend

chore: update changelog for v2026.04.28.3
  CHANGELOG.md
Due: none

chore: update changelog for v2026.04.28.4
  CHANGELOG.md
Due: none

fix: nix deployment path and process manager reliability
  src/ce/runner/bundler.go
  src/ce/runner/bundler_test.go
  src/lib/integrations/client_filesystem_test.go
  src/lib/integrations/client_process_manager.go
  src/lib/integrations/client_process_manager_test.go
Due: backend

chore: update changelog for v2026.04.29.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.04.29.2
  CHANGELOG.md
Due: none

feat: show info modal for non-admin self-hosted users on upgrade
  src/ui/src/components/UpgradeButton/UpgradeButton.spec.tsx
  src/ui/src/components/UpgradeButton/UpgradeButton.tsx
Due: frontend

feat: configurable artifact retention days
  src/ce/api/admin/admin_model.go
  src/ce/api/admin/adminhandlers/handler_jobs_remove_old_artifacts.go
  src/ce/api/admin/adminhandlers/handler_system_settings.go
  src/ce/api/admin/adminhandlers/handler_system_settings_test.go
  src/ce/api/admin/adminhandlers/handler_system_settings_update.go
  src/ce/api/admin/adminhandlers/handler_system_settings_update_test.go
  src/ce/api/admin/adminhandlers/services.go
  src/ce/workerserver/job_deployments.go
  src/ui/src/pages/admin/System.spec.tsx
  src/ui/src/pages/admin/System.tsx
Due: backend, frontend

fix: add new system/settings routes to services test
  src/ce/api/admin/adminhandlers/services_test.go
Due: backend

docs: add system configuration page for self-hosting
  docs/self-hosting/7-system-configuration.md
Due: none

chore: update changelog for v2026.04.30.1
  CHANGELOG.md
Due: none

feat: fail build when schema migration path is invalid
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback_test.go
  src/ce/runner/bundler.go
  src/ce/runner/bundler_test.go
Due: backend

feat: add Feb–Apr 2026 recap blog post
  content/blog/what-we-built-feb-apr-2026.md
Due: none

chore: add blog post to sitemap and note SkAuth feature flag
  content/blog/what-we-built-feb-apr-2026.md
  src/www/public/sitemap.xml
Due: none

docs: note SkAuth is behind a feature flag
  content/blog/what-we-built-feb-apr-2026.md
Due: none

chore: add blog post to sitemap
  src/www/public/sitemap.xml
Due: none

chore: update author profile picture across blog posts
  content/blog/how-we-migrated-from-aws-to-hetzner-without-downtime.md
  content/blog/hunting-zombie-processes-in-go-and-docker.md
  content/blog/what-we-built-feb-apr-2026.md
  content/blog/why-we-are-migrating-from-semver-to-calver.md
Due: none

feat: expose GET /v1/teams in public API
  docs/api/2-teams.md
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/handler_team_list.go
  src/ce/api/public/v1/handler_team_list_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ee/api/team/teamhandlers/handler_teams_get.go
  src/ee/api/team/teamhandlers/handler_teams_get_test.go
  src/ee/api/team/teamhandlers/services.go
  src/ee/api/team/teamhandlers/services_test.go
  src/ui/src/pages/auth/actions.ts
  src/ui/src/testing/nocks/nock_team.ts
Due: backend, frontend

fix: license managament for development environments
  src/ce/api/user/user_shttp.go
Due: backend

fix: text styling
  src/ui/src/pages/admin/Subscription.tsx
Due: frontend

fix: add list_teams to MCP tools list test
  src/ce/api/public/v1/handler_mcp_test.go
Due: backend

fix: use cloud mode in Test_License to avoid dev-mode short-circuit
  src/ce/api/public/v1/request_context_test.go
Due: backend

chore: update changelog for v2026.05.06.1
  CHANGELOG.md
Due: none

feat: add email/password login endpoint
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/public/v1/handler_auth_email_login.go
  src/ce/api/public/v1/handler_auth_email_login_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_test.go
Due: backend
