Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for Stormkit
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 2%
    
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: true

  # Files to ignore in coverage reports
  ignore:
    - "**/*_test.go"
    - "**/*.test.ts"
    - "**/*.test.tsx"
    - "**/*.spec.ts"
    - "**/*.spec.tsx"
    - "**/mocks/**"
    - "**/testutils/**"
    - "src/ui/src/testing/**"
    - "**/__mocks__/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "src/migrations/**"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - src/ce/
      - src/ee/
      - src/lib/
    carryforward: true
  
  frontend:
    paths:
      - src/ui/src/
    carryforward: true

# Pull request comments configuration
github_checks:
  annotations: true

refactor: drop past triggers page for the drawer
  src/ce/api/app/functiontrigger/function_trigger_run.go
  src/ce/api/public/v1/handler_function_trigger_invoke_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggers.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggers.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/[trigger-id]/TriggerLogs.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/[trigger-id]/TriggerLogs.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/[trigger-id]/index.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/TriggerLogDetails.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/TriggerLogList.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/TriggerLogsDrawer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/statusColor.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/actions.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/routes.ts
  src/ui/src/testing/data/mock_function_triggers.ts
Due: backend, frontend

feat: show trigger responses in a drawer (#406)
  src/ce/api/app/functiontrigger/function_trigger_run.go
  src/ce/api/public/v1/handler_function_trigger_invoke_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggers.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggers.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/[trigger-id]/TriggerLogs.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/[trigger-id]/TriggerLogs.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/[trigger-id]/index.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/TriggerLogDetails.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/TriggerLogList.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/TriggerLogsDrawer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/prettyPrint.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/prettyPrint.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/statusColor.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/actions.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/routes.ts
  src/ui/src/testing/data/mock_function_triggers.ts
  src/ui/src/testing/nocks/nock_function_triggers.ts
  src/ui/src/types/function-triggers.d.ts
Due: backend, frontend

chore: update changelog for v2026.08.02.1
  CHANGELOG.md
Due: none

feat: node_exporter scraper for machine stats
  go.mod
  src/lib/sysstats/collector.go
  src/lib/sysstats/collector_test.go
  src/lib/sysstats/parser.go
  src/lib/sysstats/parser_test.go
  src/lib/sysstats/process.go
  src/lib/sysstats/process_test.go
  src/lib/sysstats/sample.go
  src/lib/sysstats/testdata/node_exporter.txt
Due: backend

feat: store 24h of machine stats and dependency health
  src/ce/api/admin/admin_model.go
  src/ce/workerserver/job_sysstats.go
  src/ce/workerserver/job_sysstats_test.go
  src/ce/workerserver/worker_scheduler.go
  src/lib/rediscache/service.go
  src/lib/sysstats/dependencies.go
  src/lib/sysstats/dependencies_test.go
  src/lib/sysstats/info.go
  src/lib/sysstats/store.go
  src/lib/sysstats/store_test.go
  src/lib/sysstats/targets.go
  src/lib/sysstats/targets_test.go
Due: backend

feat: admin metrics endpoints
  src/ce/api/admin/adminhandlers/handler_metrics.go
  src/ce/api/admin/adminhandlers/handler_metrics_history.go
  src/ce/api/admin/adminhandlers/handler_metrics_targets.go
  src/ce/api/admin/adminhandlers/handler_metrics_test.go
  src/ce/api/admin/adminhandlers/services.go
  src/ce/api/admin/adminhandlers/services_test.go
Due: backend

feat: admin health page
  src/ui/src/layouts/AdminLayout/AdminLayout.tsx
  src/ui/src/pages/admin/Health/Health.spec.tsx
  src/ui/src/pages/admin/Health/Health.tsx
  src/ui/src/pages/admin/Health/MachineChart.tsx
  src/ui/src/pages/admin/Health/ManualTargets.tsx
  src/ui/src/pages/admin/Health/actions.ts
  src/ui/src/pages/admin/Health/index.ts
  src/ui/src/pages/routes.tsx
Due: frontend

feat: document metrics and export deployment storage
  deploy/.env.example
  deploy/docker-compose.yaml
  docs/self-hosting/8-monitoring.md
  go.mod
  src/lib/tracking/prometheus.go
  src/lib/tracking/storage.go
  src/lib/tracking/storage_test.go
Due: backend

feat: report per-instance process usage
  src/ce/api/admin/adminhandlers/handler_metrics.go
  src/ee/hosting/main.go
  src/ee/workerserver/main.go
  src/lib/sysstats/reporter.go
  src/lib/sysstats/reporter_test.go
  src/ui/src/pages/admin/Health/Health.spec.tsx
  src/ui/src/pages/admin/Health/Health.tsx
  src/ui/src/pages/admin/Health/actions.ts
Due: backend, frontend

refactor: use typography inside unreachable chip
  src/ui/src/pages/admin/Health/Health.tsx
Due: frontend

fix: honour start command for .stormkit/server
  docs/api/3-environments.md
  docs/deployments/10-application-runtime.md
  docs/deployments/6-how-do-we-deploy.md
  docs/deployments/9-troubleshooting.md
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/deployservice/deployer.go
  src/ce/api/app/deployservice/deployer_service.go
  src/ce/api/public/v1/handler_env_add.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/runner/bundler.go
  src/ce/runner/bundler_test.go
  src/ce/runner/dependency_tree_test.go
  src/ce/runner/runner.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/types/environment.d.ts
Due: backend, frontend

fix: honour start command for .stormkit/server (#410)
  docs/api/3-environments.md
  docs/deployments/10-application-runtime.md
  docs/deployments/6-how-do-we-deploy.md
  docs/deployments/9-troubleshooting.md
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/deployservice/deployer.go
  src/ce/api/app/deployservice/deployer_service.go
  src/ce/api/public/v1/handler_env_add.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/runner/bundler.go
  src/ce/runner/bundler_test.go
  src/ce/runner/dependency_tree_test.go
  src/ce/runner/runner.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/types/environment.d.ts
Due: backend, frontend

chore: update changelog for v2026.08.02.1 (#407)
  CHANGELOG.md
Due: none

fix(tracking): harden metrics listener startup
  src/ee/workerserver/main.go
  src/lib/config/config.go
  src/lib/tracking/prometheus.go
  src/lib/tracking/prometheus_test.go
Due: backend

feat(tracking): add database pool collector
  src/lib/database/connection.go
  src/lib/tracking/dbpool.go
  src/lib/tracking/dbpool_test.go
  src/lib/tracking/prometheus.go
Due: backend

chore(deploy): add monitoring compose profile
  deploy/.env.example
  deploy/docker-compose.yaml
Due: none

chore: update changelog for v2026.08.03.1
  CHANGELOG.md
Due: none

feat(deploy): add prometheus and exporter configs
  deploy/monitoring/grafana/provisioning/dashboards/dashboards.yml
  deploy/monitoring/grafana/provisioning/datasources/prometheus.yml
  deploy/monitoring/prometheus.yml
Due: none

feat(deploy): add grafana dashboards
  deploy/monitoring/grafana/dashboards/stormkit-dependencies.json
  deploy/monitoring/grafana/dashboards/stormkit-host.json
Due: none

feat(install): ship monitoring configs by default
  src/www/public/install.sh
Due: none

ci: lint monitoring configs
  .github/workflows/lint-monitoring.yml
Due: none

docs: add self-hosted monitoring guide
  docs/self-hosting/8-monitoring.md
Due: none

fix(deploy): drop rslave from the node exporter mount
  deploy/docker-compose.yaml
  src/lib/tracking/prometheus_test.go
Due: backend

ci: restrict token permissions on lint workflow
  .github/workflows/lint-monitoring.yml
Due: none

fix: address review findings on monitoring
  deploy/.env.example
  deploy/docker-compose.yaml
  docs/self-hosting/8-monitoring.md
  src/lib/database/connection.go
  src/lib/tracking/prometheus.go
  src/lib/tracking/prometheus_test.go
  src/www/public/install.sh
Due: backend

feat: monitoring stack for self-hosted instances (#412)
  .github/workflows/lint-monitoring.yml
  deploy/.env.example
  deploy/docker-compose.yaml
  deploy/monitoring/grafana/dashboards/stormkit-dependencies.json
  deploy/monitoring/grafana/dashboards/stormkit-host.json
  deploy/monitoring/grafana/provisioning/dashboards/dashboards.yml
  deploy/monitoring/grafana/provisioning/datasources/prometheus.yml
  deploy/monitoring/prometheus.yml
  docs/self-hosting/8-monitoring.md
  src/ee/workerserver/main.go
  src/lib/config/config.go
  src/lib/database/connection.go
  src/lib/tracking/dbpool.go
  src/lib/tracking/dbpool_test.go
  src/lib/tracking/prometheus.go
  src/lib/tracking/prometheus_test.go
  src/www/public/install.sh
Due: backend

chore: update changelog for v2026.08.03.1 (#411)
  CHANGELOG.md
Due: none

chore: update changelog for v2026.08.04.1
  CHANGELOG.md
Due: none

feat(monitoring): add request metrics dashboard
  deploy/monitoring/grafana/dashboards/stormkit-requests.json
Due: none

chore: update changelog for v2026.08.04.1 (#413)
  CHANGELOG.md
Due: none

fix(monitoring): apdex, delivery and doc fixes
  .github/workflows/lint-monitoring.yml
  deploy/.env.example
  deploy/docker-compose.yaml
  deploy/monitoring/grafana/dashboards/stormkit-requests.json
  docs/self-hosting/8-monitoring.md
  src/www/public/install.sh
Due: none

feat(monitoring): add request metrics dashboard (#414)
  .github/workflows/lint-monitoring.yml
  deploy/.env.example
  deploy/docker-compose.yaml
  deploy/monitoring/grafana/dashboards/stormkit-requests.json
  docs/self-hosting/8-monitoring.md
  src/www/public/install.sh
Due: none

fix: reject publishing running deployments
  src/ce/api/public/v1/handler_deployment_publish.go
  src/ce/api/public/v1/handler_deployment_publish_test.go
  src/ce/api/public/v1/handler_mcp_test.go
Due: backend

fix: reject publishing running deployments (#415)
  src/ce/api/public/v1/handler_deployment_publish.go
  src/ce/api/public/v1/handler_deployment_publish_test.go
  src/ce/api/public/v1/handler_mcp_test.go
Due: backend

chore: lead hero copy with agent operability
  src/www/src/pages/_components/Hero.tsx
Due: none

chore: lead hero copy with agent operability (#416)
  src/www/src/pages/_components/Hero.tsx
Due: none

feat: add markdown documentation to triggers
  docs/api/10-mcp.md
  docs/api/11-triggers.md
  docs/features/13-periodic-triggers.md
  src/ce/api/app/functiontrigger/function_trigger_model.go
  src/ce/api/app/functiontrigger/function_trigger_store.go
  src/ce/api/app/functiontrigger/function_trigger_store_test.go
  src/ce/api/public/v1/handler_function_trigger_create.go
  src/ce/api/public/v1/handler_function_trigger_create_test.go
  src/ce/api/public/v1/handler_function_trigger_update.go
  src/ce/api/public/v1/handler_function_trigger_update_test.go
  src/ce/api/public/v1/handler_function_triggers_get_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/handler_mcp_triggers_test.go
  src/lib/factory/trigger_function.go
  src/migrations/0026_2026-08-08.up.sql
  src/migrations/structure.sql
  src/ui/package-lock.json
  src/ui/package.json
  src/ui/src/components/CodeBlock/CodeBlock.spec.tsx
  src/ui/src/components/CodeBlock/CodeBlock.tsx
  src/ui/src/components/CodeBlock/index.ts
  src/ui/src/components/Markdown/Markdown.spec.tsx
  src/ui/src/components/Markdown/Markdown.tsx
  src/ui/src/components/Markdown/index.ts
  src/ui/src/layouts/TopMenu/UserButtons.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggerModal.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggerModal.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggers.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/TriggerLogDetails.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/TriggerLogDetails.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/TriggerLogsDrawer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/actions.ts
  src/ui/src/testing/nocks/nock_function_triggers.ts
  src/ui/src/types/function-triggers.d.ts
  src/ui/src/utils/helpers/highlight.spec.tsx
  src/ui/src/utils/helpers/highlight.ts
Due: backend, frontend

feat: add markdown documentation to triggers (#417)
  docs/api/10-mcp.md
  docs/api/11-triggers.md
  docs/features/13-periodic-triggers.md
  src/ce/api/app/functiontrigger/function_trigger_model.go
  src/ce/api/app/functiontrigger/function_trigger_store.go
  src/ce/api/app/functiontrigger/function_trigger_store_test.go
  src/ce/api/public/v1/handler_function_trigger_create.go
  src/ce/api/public/v1/handler_function_trigger_create_test.go
  src/ce/api/public/v1/handler_function_trigger_update.go
  src/ce/api/public/v1/handler_function_trigger_update_test.go
  src/ce/api/public/v1/handler_function_triggers_get_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/handler_mcp_triggers_test.go
  src/lib/factory/trigger_function.go
  src/migrations/0026_2026-08-08.up.sql
  src/migrations/structure.sql
  src/ui/package-lock.json
  src/ui/package.json
  src/ui/src/components/CodeBlock/CodeBlock.spec.tsx
  src/ui/src/components/CodeBlock/CodeBlock.tsx
  src/ui/src/components/CodeBlock/index.ts
  src/ui/src/components/Markdown/Markdown.spec.tsx
  src/ui/src/components/Markdown/Markdown.tsx
  src/ui/src/components/Markdown/index.ts
  src/ui/src/layouts/TopMenu/UserButtons.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggerModal.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggerModal.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggers.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/TriggerLogDetails.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/TriggerLogDetails.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/TriggerLogsDrawer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/actions.ts
  src/ui/src/testing/nocks/nock_function_triggers.ts
  src/ui/src/types/function-triggers.d.ts
  src/ui/src/utils/helpers/highlight.spec.tsx
  src/ui/src/utils/helpers/highlight.ts
Due: backend, frontend

feat: allow excluding domains from analytics
  docs/api/2-domains.md
  docs/features/1-analytics.md
  src/ce/api/app/appconf/appconf_model.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/buildconf/domain_model.go
  src/ce/api/app/buildconf/domain_store.go
  src/ce/api/public/v1/domain_lookup.go
  src/ce/api/public/v1/handler_domain_custom_cert_delete.go
  src/ce/api/public/v1/handler_domain_custom_cert_put.go
  src/ce/api/public/v1/handler_domain_delete.go
  src/ce/api/public/v1/handler_domain_update.go
  src/ce/api/public/v1/handler_domain_update_test.go
  src/ce/api/public/v1/handler_domains_list.go
  src/ce/api/public/v1/handler_domains_list_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/hosting/analytics_collect.go
  src/ce/hosting/export_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/middleware.collect_handler_test.go
  src/ee/api/audit/audit_model.go
  src/migrations/0026_2026-08-08.up.sql
  src/migrations/structure.sql
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Analytics.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabDomainConfig/TabDomainConfig.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabDomainConfig/TabDomainConfig.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabDomainConfig/actions.ts
  src/ui/src/shared/domains/DomainSelector.spec.tsx
  src/ui/src/shared/domains/DomainSelector.tsx
  src/ui/src/shared/domains/actions.ts
  src/ui/src/testing/nocks/nock_domains.ts
  src/ui/src/types/environment.d.ts
Due: backend, frontend

feat: allow excluding domains from analytics (#418)
  docs/api/2-domains.md
  docs/features/1-analytics.md
  src/ce/api/app/appconf/appconf_model.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/buildconf/domain_model.go
  src/ce/api/app/buildconf/domain_store.go
  src/ce/api/public/v1/domain_lookup.go
  src/ce/api/public/v1/handler_domain_custom_cert_delete.go
  src/ce/api/public/v1/handler_domain_custom_cert_put.go
  src/ce/api/public/v1/handler_domain_delete.go
  src/ce/api/public/v1/handler_domain_update.go
  src/ce/api/public/v1/handler_domain_update_test.go
  src/ce/api/public/v1/handler_domains_list.go
  src/ce/api/public/v1/handler_domains_list_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/hosting/analytics_collect.go
  src/ce/hosting/export_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/middleware.collect_handler_test.go
  src/ee/api/audit/audit_model.go
  src/migrations/0026_2026-08-08.up.sql
  src/migrations/structure.sql
  src/ui/src/pages/apps/[id]/environments/[env-id]/analytics/Analytics.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabDomainConfig/TabDomainConfig.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabDomainConfig/TabDomainConfig.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabDomainConfig/actions.ts
  src/ui/src/shared/domains/DomainSelector.spec.tsx
  src/ui/src/shared/domains/DomainSelector.tsx
  src/ui/src/shared/domains/actions.ts
  src/ui/src/testing/nocks/nock_domains.ts
  src/ui/src/types/environment.d.ts
Due: backend, frontend
