Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for Stormkit
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 2%
    
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: true

  # Files to ignore in coverage reports
  ignore:
    - "**/*_test.go"
    - "**/*.test.ts"
    - "**/*.test.tsx"
    - "**/*.spec.ts"
    - "**/*.spec.tsx"
    - "**/mocks/**"
    - "**/testutils/**"
    - "src/ui/src/testing/**"
    - "**/__mocks__/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "src/migrations/**"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - src/ce/
      - src/ee/
      - src/lib/
    carryforward: true
  
  frontend:
    paths:
      - src/ui/src/
    carryforward: true

# Pull request comments configuration
github_checks:
  annotations: true

docs: list the agent-facing resources in llms.txt (#472)
  src/www/public/llms.txt
  src/www/src/components/Error404/Error404.tsx
Due: none

feat: publish the company address in json-ld
  src/www/src/helpers/structured-data.test.ts
  src/www/src/helpers/structured-data.ts
Due: none

chore: update changelog for v2026.08.22.1
  CHANGELOG.md
Due: none

feat: publish the company address in json-ld (#474)
  src/www/src/helpers/structured-data.test.ts
  src/www/src/helpers/structured-data.ts
Due: none

chore: update changelog for v2026.08.22.1 (#475)
  CHANGELOG.md
Due: none

feat: make the 404 page useful
  src/www/src/components/Error404/Error404.tsx
Due: none

feat: make the 404 page useful (#476)
  src/www/src/components/Error404/Error404.tsx
Due: none

fix: prefer explicitly accepted type in negotiation
  docs/deployments/6-how-do-we-deploy.md
  src/ce/hosting/content_negotiation.go
  src/ce/hosting/content_negotiation_test.go
Due: backend

fix: clamp accept q-values into range
  docs/deployments/6-how-do-we-deploy.md
  src/ce/hosting/content_negotiation.go
  src/ce/hosting/content_negotiation_test.go
Due: backend

fix: prefer explicitly accepted type in negotiation (#477)
  docs/deployments/6-how-do-we-deploy.md
  src/ce/hosting/content_negotiation.go
  src/ce/hosting/content_negotiation_test.go
Due: backend

feat: expose the markdown flag on environments
  docs/api/3-environments.md
  docs/deployments/6-how-do-we-deploy.md
  src/ce/api/public/v1/handler_env_add.go
  src/ce/api/public/v1/handler_env_add_test.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_env_update_test.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/openapi.json
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigRedirects.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigRedirects.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/types/environment.d.ts
Due: backend, frontend

feat: expose the markdown flag on environments (#480)
  docs/api/3-environments.md
  docs/deployments/6-how-do-we-deploy.md
  src/ce/api/public/v1/handler_env_add.go
  src/ce/api/public/v1/handler_env_add_test.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_env_update_test.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/openapi.json
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigRedirects.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigRedirects.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/types/environment.d.ts
Due: backend, frontend

chore: update changelog for v2026.08.23.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.08.23.1 (#481)
  CHANGELOG.md
Due: none

fix: prefer etag over date on conditional requests
  src/ce/hosting/content_negotiation_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
Due: backend

fix: prefer etag over date on conditional requests (#482)
  src/ce/hosting/content_negotiation_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
Due: backend

chore: update changelog for v2026.08.23.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.08.23.2 (#483)
  CHANGELOG.md
Due: none

fix: bound accept header parsing on the edge
  src/ce/hosting/certmagic_server.go
  src/ce/hosting/content_negotiation.go
  src/ce/hosting/content_negotiation_internal_test.go
  src/ce/hosting/content_negotiation_test.go
  src/ee/hosting/main.go
Due: backend

fix: bound accept header parsing on the edge (#484)
  src/ce/hosting/certmagic_server.go
  src/ce/hosting/content_negotiation.go
  src/ce/hosting/content_negotiation_internal_test.go
  src/ce/hosting/content_negotiation_test.go
  src/ee/hosting/main.go
Due: backend

fix: don't flash empty state while envs load
  src/ui/src/pages/apps/[id]/App.context.tsx
  src/ui/src/pages/apps/[id]/environments/Environment.context.tsx
  src/ui/src/pages/apps/[id]/environments/actions.ts
Due: frontend

fix: scroll to config section after it mounts
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/EnvironmentConfig.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/EnvironmentConfig.tsx
  src/ui/src/testing/setup.tsx
Due: frontend

fix: environment page loading flash and config scroll (#486)
  src/ui/src/pages/apps/[id]/App.context.tsx
  src/ui/src/pages/apps/[id]/environments/Environment.context.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/EnvironmentConfig.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/EnvironmentConfig.tsx
  src/ui/src/pages/apps/[id]/environments/actions.ts
  src/ui/src/testing/setup.tsx
Due: frontend

fix: hide resource existence from unowned callers
  src/ce/api/public/v1/request_context.go
  src/ce/api/public/v1/request_context_test.go
Due: backend

fix: hide orphaned-env body and align 403->404 tests
  src/ce/api/public/v1/handler_access_logs_get_test.go
  src/ce/api/public/v1/handler_deployment_create_test.go
  src/ce/api/public/v1/handler_deployment_delete_test.go
  src/ce/api/public/v1/handler_deployment_get_test.go
  src/ce/api/public/v1/handler_deployment_list_test.go
  src/ce/api/public/v1/handler_deployment_prioritize_test.go
  src/ce/api/public/v1/handler_deployment_publish_test.go
  src/ce/api/public/v1/handler_deployment_restart_test.go
  src/ce/api/public/v1/handler_deployment_runtime_logs_get_test.go
  src/ce/api/public/v1/handler_deployment_stop_test.go
  src/ce/api/public/v1/handler_env_list_test.go
  src/ce/api/public/v1/handler_mailer_test.go
  src/ce/api/public/v1/request_context.go
Due: backend

fix: hide resource existence from unowned callers (#487)
  src/ce/api/public/v1/handler_access_logs_get_test.go
  src/ce/api/public/v1/handler_deployment_create_test.go
  src/ce/api/public/v1/handler_deployment_delete_test.go
  src/ce/api/public/v1/handler_deployment_get_test.go
  src/ce/api/public/v1/handler_deployment_list_test.go
  src/ce/api/public/v1/handler_deployment_prioritize_test.go
  src/ce/api/public/v1/handler_deployment_publish_test.go
  src/ce/api/public/v1/handler_deployment_restart_test.go
  src/ce/api/public/v1/handler_deployment_runtime_logs_get_test.go
  src/ce/api/public/v1/handler_deployment_stop_test.go
  src/ce/api/public/v1/handler_env_list_test.go
  src/ce/api/public/v1/handler_mailer_test.go
  src/ce/api/public/v1/request_context.go
  src/ce/api/public/v1/request_context_test.go
Due: backend

refactor: drop redundant env request assignment
  src/ce/api/public/v1/request_context.go
Due: backend

refactor: drop redundant env request assignment (#490)
  src/ce/api/public/v1/request_context.go
Due: backend

feat: surface failure reason in deployment object
  docs/api/7-deployments.md
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_model_test.go
  src/ce/api/public/v1/handler_deployment_get.go
  src/ce/api/public/v1/handler_deployment_get_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
Due: backend

refactor: scope deployment failure fields to get
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_model_test.go
  src/ce/api/public/v1/handler_deployment_get.go
  src/ce/api/public/v1/handler_deployment_list_test.go
Due: backend

feat: surface failure reason in deployment object (#491)
  docs/api/7-deployments.md
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_model_test.go
  src/ce/api/public/v1/handler_deployment_get.go
  src/ce/api/public/v1/handler_deployment_get_test.go
  src/ce/api/public/v1/handler_deployment_list_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
Due: backend

chore: update changelog for v2026.08.24.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.08.24.1 (#492)
  CHANGELOG.md
Due: none

docs: add content negotiation for llms blog post
  content/blog/serve-markdown-to-llms-content-negotiation.md
Due: none

feat: convert html to markdown when no .md twin exists
  docs/api/3-environments.md
  docs/deployments/6-how-do-we-deploy.md
  src/ce/api/app/appconf/appconf_model.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_markdown.go
  src/ce/hosting/html_markdown.go
  src/ce/hosting/html_markdown_test.go
  src/ce/hosting/markdown_conversion_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigRedirects.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigRedirects.tsx
  src/ui/src/types/environment.d.ts
Due: backend, frontend

fix: address review findings on markdown conversion
  docs/deployments/6-how-do-we-deploy.md
  go.mod
  go.sum
  src/ce/api/public/v1/handler_env_add.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_env_update_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/openapi.json
  src/ce/hosting/handler_markdown.go
  src/ce/hosting/html_markdown.go
  src/ce/hosting/html_markdown_test.go
  src/ce/hosting/markdown_conversion_test.go
Due: backend

test: add markdownConvert to env json assertions
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_get_test.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments_test.go
Due: backend

fix: treat .md urls as addressing, not negotiation
  docs/deployments/6-how-do-we-deploy.md
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_markdown.go
  src/ce/hosting/html_markdown.go
  src/ce/hosting/html_markdown_test.go
  src/ce/hosting/markdown_conversion_test.go
Due: backend

feat: convert html to markdown when no .md twin exists (#494)
  docs/api/3-environments.md
  docs/deployments/6-how-do-we-deploy.md
  go.mod
  go.sum
  src/ce/api/app/appconf/appconf_model.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_get_test.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments_test.go
  src/ce/api/public/v1/handler_env_add.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_env_update_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/openapi.json
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_markdown.go
  src/ce/hosting/html_markdown.go
  src/ce/hosting/html_markdown_test.go
  src/ce/hosting/markdown_conversion_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigRedirects.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigRedirects.tsx
  src/ui/src/types/environment.d.ts
Due: backend, frontend

chore: update changelog for v2026.08.25.1
  CHANGELOG.md
Due: none
