Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: add skauth email registration endpoint
  src/ce/api/public/v1/handler_auth_email_register.go
  src/ce/api/public/v1/handler_auth_email_register_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/lib/database/databasetest/databasetest.go
  src/lib/shttp/shttptest/shttptest.go
Due: backend

feat: retire buildconfhandlers env update handler
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_update.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_update_test.go
  src/ce/api/app/buildconf/buildconfhandlers/services.go
  src/ce/api/app/buildconf/buildconfhandlers/services_test.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_env_update_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/testing/nocks/nock_environment.ts
Due: backend, frontend

feat: add email auth provider to SkAuth and expose /_stormkit/auth/register endpoint
  src/ce/api/public/v1/handler_auth_email_register.go
  src/ce/api/public/v1/handler_auth_email_register_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

feat: add GET /v1/auth/users public API endpoint
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/public/v1/export_test.go
  src/ce/api/public/v1/handler_auth_email_register_test.go
  src/ce/api/public/v1/handler_auth_users_list.go
  src/ce/api/public/v1/handler_auth_users_list_test.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
Due: backend

fix: eliminate data race and ordering flakiness in TestCacheSuite/TestResetCache
  src/ce/api/app/appcache/cache_service_test.go
Due: backend

feat: add auth users UI, secondary nav, and fix schema store connections
  src/ce/api/app/buildconf/schema_model.go
  src/ce/api/app/buildconf/schema_store.go
  src/ui/src/components/MenuLink/MenuLink.tsx
  src/ui/src/layouts/AppLayout/AppMenu.tsx
  src/ui/src/layouts/AppLayout/EnvMenu.tsx
  src/ui/src/layouts/AppLayout/menu_items.tsx
  src/ui/src/pages/admin/AuthConfig/PendingUsers.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/routes.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/AuthUsers.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

chore: update changelog for v2026.04.16.1
  CHANGELOG.md
Due: none

fix: avoid duplicate mise activation in .bashrc and update default version
  src/lib/utils/mise/mise.go
Due: backend

chore: generate mock file
  src/mocks/audit_context.go
Due: none

feat: inject mise tool paths into deployment CI environment
  src/ce/api/app/appconf/appconf_shttp_test.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/buildconf/env_model.go
  src/ce/runner/builder.go
  src/ce/runner/builder_api.go
  src/ce/runner/builder_api_test.go
  src/ce/runner/bundler_test.go
  src/ce/runner/dependency_tree_test.go
  src/ce/runner/installer.go
  src/ce/runner/installer_test.go
  src/ce/runner/repo.go
  src/ce/runner/repo_test.go
  src/ce/runner/runner.go
  src/ce/runner/status_checks.go
  src/ce/runner/status_checks_test.go
  src/lib/utils/mise/mise.go
  src/mocks/mise_interface.go
Due: backend

chore: update changelog for v2026.04.17.1
  CHANGELOG.md
Due: none

feat: return email and userId in auth register response
  src/ce/api/public/v1/handler_auth_email_register.go
  src/ce/api/public/v1/handler_auth_email_register_test.go
Due: backend

chore: update changelog for v2026.04.17.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.04.17.3
  CHANGELOG.md
Due: none

chore: update changelog for v2026.04.21.1
  CHANGELOG.md
Due: none

fix: stream request body through proxy to avoid buffering large uploads
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/lib/integrations/client.go
  src/lib/integrations/client_process_manager.go
  src/lib/shttp/request_v2.go
  src/mocks/request_interface.go
Due: backend

chore: update changelog for v2026.04.22.1
  CHANGELOG.md
Due: none

fix: remove zombie service from map when cmd.Start fails
  src/lib/integrations/client_process_manager.go
Due: backend

fix: install runtimes before pruning to avoid binary availability gap
  src/ce/api/admin/admin_model.go
  src/ce/api/admin/admin_model_test.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback_test.go
  src/ce/api/app/deployservice/deployer_local_test.go
  src/ce/api/public/v1/handler_app_conf_test.go
  src/lib/integrations/client_process_manager.go
  src/lib/utils/mise/mise.go
  src/mocks/mise_interface.go
Due: backend

chore: update changelog for v2026.04.22.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.04.22.3
  CHANGELOG.md
Due: none

fix: disable proxy timeout for streaming uploads to prevent large file failures
  docs/self-hosting/6-advanced-configuration.md
  src/ce/api/app/appcache/cache_service_test.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/services.go
  src/ee/api/main.go
  src/lib/config/config.go
  src/lib/config/config_test.go
  src/lib/integrations/client_process_manager.go
  src/lib/shttp/request_v2.go
Due: backend

chore: update changelog for v2026.04.22.4
  CHANGELOG.md
Due: none

chore: update changelog for v2026.04.22.5
  CHANGELOG.md
Due: none

feat: add create_app MCP tool
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/lib/utils/string.go
  src/lib/utils/string_test.go
Due: backend

fix: add --yes flag to mise trust to prevent silent no-op in non-interactive shells
  src/lib/utils/mise/mise.go
Due: backend

fix: address PR review comments on create_app MCP tool
  src/ce/api/public/v1/handler_mcp_test.go
  src/lib/utils/string.go
  src/lib/utils/string_test.go
Due: backend

fix: support GitLab nested namespaces in ParseRepoWithProvider
  src/lib/utils/string.go
  src/lib/utils/string_test.go
Due: backend

fix: trim trailing slash from repo URL path
  src/lib/utils/string.go
  src/lib/utils/string_test.go
Due: backend

fix: replace conn-level SetReadDeadline with context cancellation for client_body_timeout
  docs/self-hosting/6-advanced-configuration.md
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/services.go
  src/ee/hosting/main.go
  src/lib/config/config.go
  src/lib/config/config_test.go
  src/lib/shttp/idle_timeout_reader.go
  src/lib/shttp/idle_timeout_reader_test.go
  src/lib/shttp/request_v2.go
Due: backend

fix: prevent X-Forwarded-For spoofing at the edge
  docs/self-hosting/6-advanced-configuration.md
  src/lib/config/config.go
  src/lib/shttp/limiter/limiter.go
  src/lib/shttp/request_context.go
  src/lib/shttp/request_v2.go
Due: backend

fix: address PR review on proxy header handling
  docs/self-hosting/6-advanced-configuration.md
  src/ce/hosting/handler_forward_test.go
  src/lib/shttp/limiter/limiter_test.go
  src/lib/shttp/request_v2.go
Due: backend

chore: update changelog for v2026.04.24.1
  CHANGELOG.md
Due: none

feat: pass remoteAddress and remotePort to lambda invocations
  src/ce/hosting/handler_forward.go
  src/lib/integrations/client.go
  src/lib/integrations/helpers.go
  src/lib/shttp/request_context.go
  src/lib/shttp/request_context_test.go
Due: backend

chore: update changelog for v2026.04.24.2
  CHANGELOG.md
Due: none

feat: add PROXY protocol support for L4 load balancers
  go.mod
  go.sum
  src/ce/hosting/certmagic_server.go
  src/ee/hosting/main.go
  src/lib/config/config.go
Due: backend

docs: document PROXY protocol and load balancer configuration
  docs/self-hosting/6-advanced-configuration.md
Due: none

chore: update changelog for v2026.04.24.3
  CHANGELOG.md
Due: none

docs: document Nix store persistence for existing users
  docs/self-hosting/5-runtimes.md
Due: none

feat: support flake.nix and persist nix store
  docs/self-hosting/5-runtimes.md
  src/ce/runner/installer.go
  src/ce/runner/installer_test.go
Due: backend

Path conditions:
  backend: any of: src/ce/, src/ee/, src/lib/
  frontend: any of: src/ui/src/
