Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for Stormkit
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 2%
    
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: true

  # Files to ignore in coverage reports
  ignore:
    - "**/*_test.go"
    - "**/*.test.ts"
    - "**/*.test.tsx"
    - "**/*.spec.ts"
    - "**/*.spec.tsx"
    - "**/mocks/**"
    - "**/testutils/**"
    - "src/ui/src/testing/**"
    - "**/__mocks__/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "src/migrations/**"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - src/ce/
      - src/ee/
      - src/lib/
    carryforward: true
  
  frontend:
    paths:
      - src/ui/src/
    carryforward: true

# Pull request comments configuration
github_checks:
  annotations: true

fix: default slow-request threshold to 0 (off)
  src/lib/config/config.go
Due: backend

chore: update changelog for v2026.05.23.3
  CHANGELOG.md
Due: none

perf: lock-free ZipManager (#259)
  src/lib/config/config.go
  src/lib/integrations/client_aws.go
  src/lib/integrations/client_aws_s3.go
  src/lib/integrations/zip_manager.go
  src/lib/integrations/zip_manager_test.go
Due: backend

chore: update changelog for v2026.05.23.3 (#260)
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.23.4
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.23.4 (#261)
  CHANGELOG.md
Due: none

perf: skip client-body timeout wrapping for bodyless requests
  src/ce/hosting/services.go
Due: backend

perf: skip client-body timeout wrapping for bodyless requests (#262)
  src/ce/hosting/services.go
Due: backend

chore: update changelog for v2026.05.24.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.24.1 (#263)
  CHANGELOG.md
Due: none

feat: opt-in pprof endpoint on hosting binary
  src/ee/hosting/main.go
Due: backend

feat: opt-in pprof endpoint on hosting binary (#264)
  src/ee/hosting/main.go
Due: backend

feat: per-origin magic link redirect support
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/skauth_magic.go
Due: backend

feat: per-origin magic link redirect support (#265)
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/skauth_magic.go
Due: backend

feat: allowed origins field on auth config UI
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: frontend

feat: allowed origins field on auth config UI (#266)
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: frontend

chore: update changelog for v2026.05.25.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.25.1 (#267)
  CHANGELOG.md
Due: none

fix: parse header values with colons; clear redirects via MCP
  src/ce/api/app/deploy/custom_headers.go
  src/ce/api/app/deploy/custom_headers_test.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_mcp_tools.go
Due: backend

fix: parse header values with colons; clear redirects via MCP (#268)
  src/ce/api/app/deploy/custom_headers.go
  src/ce/api/app/deploy/custom_headers_test.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_mcp_tools.go
Due: backend

feat: apply custom headers to all responses
  content/blog/whats-new.md
  docs/features/9-custom-headers.md
  src/ce/api/app/appconf/appconf_model.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigHeaders.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigHeaders.tsx
Due: backend, frontend

feat: apply custom headers to all responses (#269)
  content/blog/whats-new.md
  docs/features/9-custom-headers.md
  src/ce/api/app/appconf/appconf_model.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigHeaders.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigHeaders.tsx
Due: backend, frontend

chore: update changelog for v2026.05.25.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.25.2 (#270)
  CHANGELOG.md
Due: none

fix: apply custom headers to middleware-returned responses
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
Due: backend

fix: apply custom headers to middleware-returned responses (#271)
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
Due: backend

chore: update changelog for v2026.05.25.3
  CHANGELOG.md
Due: none

fix: respond 204 to CORS preflight on skauth endpoints
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_test.go
Due: backend

fix: respond 204 to CORS preflight on skauth endpoints (#273)
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_test.go
Due: backend

chore: update changelog for v2026.05.25.3 (#272)
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.25.4
  CHANGELOG.md
Due: none

chore: update changelog for v2026.05.25.4 (#274)
  CHANGELOG.md
Due: none

feat: emit UUID in X-User-Id header instead of internal id
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/skauth_email.go
  src/ce/hosting/skauth_magic.go
Due: backend

feat: dedicated workDir field for build working directory
  docs/api/3-environments.md
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/deployservice/deployer.go
  src/ce/api/public/v1/handler_env_add.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/runner/normalize_test.go
  src/ce/runner/runner.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/testing/nocks/nock_environment.ts
  src/ui/src/types/environment.d.ts
Due: backend, frontend

feat: emit UUID in X-User-Id header instead of internal id (#276)
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/skauth_email.go
  src/ce/hosting/skauth_magic.go
Due: backend

feat: dedicated workDir field for build working directory (#275)
  docs/api/3-environments.md
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/deployservice/deployer.go
  src/ce/api/public/v1/handler_env_add.go
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/runner/normalize_test.go
  src/ce/runner/runner.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigBuild.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
  src/ui/src/testing/nocks/nock_environment.ts
  src/ui/src/types/environment.d.ts
Due: backend, frontend

chore: update changelog for v2026.05.25.5
  CHANGELOG.md
Due: none

fix: schema delete permission check uses user_id
  src/ce/api/public/v1/handler_schema_delete.go
  src/ee/api/team/team_store.go
Due: backend

fix: schema delete permission check uses user_id (#278)
  src/ce/api/public/v1/handler_schema_delete.go
  src/ee/api/team/team_store.go
Due: backend

fix: preserve env headers on build save
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
Due: frontend
