Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: attach schema to env
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/actions.tsx
Due: frontend

feat: create dedicated users for schemas
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/buildconf/env_statements.go
  src/ce/api/app/buildconf/env_store.go
  src/ce/api/app/buildconf/schema_model.go
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/buildconf/schema_store_test.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_set.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_set_test.go
  src/lib/database/connection.go
  src/migrations/0001_schema.all.up.sql
  src/migrations/0019_2025-12-09.up.sql
Due: backend

refactor: code styling
  src/ce/api/app/apphandlers/handler_hooks_deploy_test.go
Due: backend

chore: parameterize ssl mode
  src/ce/api/app/buildconf/schema_model.go
Due: backend

chore: quote role names
  src/ce/api/app/buildconf/schema_store.go
Due: backend

chore: remove if not exists
  src/ce/api/app/buildconf/schema_store.go
Due: backend

chore: return status conflict when schema already exists
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_set.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_set_test.go
Due: backend

chore: improve code quality
  src/ce/api/app/buildconf/errors.go
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_set.go
Due: backend

chore: add limits to app user
  src/ce/api/app/buildconf/schema_store.go
Due: backend

chore: rename variable
  src/ce/api/app/buildconf/schema_store.go
Due: backend

feat: configure schema migrations
  src/ce/api/app/buildconf/schema_model.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_configure.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_configure_test.go
  src/ce/api/app/buildconf/schemahandlers/services.go
  src/ce/api/app/buildconf/schemahandlers/services_test.go
Due: backend

feat: move env navigation on the side
  src/ui/src/components/MenuLink/MenuLink.tsx
  src/ui/src/layouts/AppLayout/AppLayout.tsx
  src/ui/src/layouts/AppLayout/EnvMenu.tsx
  src/ui/src/layouts/AppLayout/menu_items.tsx
  src/ui/src/pages/mui-theme.tsx
Due: frontend

chore: improve subtitle
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.tsx
Due: frontend

feat: configure schema
  src/ce/api/app/buildconf/schemahandlers/handler_schema_configure.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_get.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_get_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/actions.tsx
  src/ui/src/testing/nocks/nock_schema.ts
Due: backend, frontend

chore: better mobile support
  src/ui/src/layouts/AppLayout/AppLayout.tsx
  src/ui/src/layouts/AppLayout/EnvMenu.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/_components/EnvironmentHeader.tsx
Due: frontend

refactor: use switch
  src/ce/api/app/apphandlers/handler_hooks_deploy.go
Due: backend

chore: remove unused fields and endpoints
  src/ce/api/app/buildconf/buildconfhandlers/handler_envs_test.go
  src/ce/api/app/deploy/deployhandlers/handler_deployments.go
  src/ce/api/app/deploy/deployhandlers/handler_deployments_test.go
  src/ce/api/app/deploy/deployhandlers/services.go
  src/ce/api/app/deploy/deployhandlers/services_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_store.go
  src/lib/factory/deployment.go
  src/lib/factory/factory_test.go
  src/ui/src/testing/nocks/nock_deployments.ts
Due: backend, frontend

chore: remove unused field
  src/ce/api/app/deploy/deployment_model.go
  src/lib/integrations/client_aws_lambda.go
  src/lib/integrations/client_aws_s3.go
  src/lib/integrations/helpers.go
Due: backend

feat: store migrations path for deployment
  src/ce/api/app/app_statements.go
  src/ce/api/app/app_store.go
  src/ce/api/app/apphandlers/handler_hooks_deploy.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_configure.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback_test.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_get.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_get_test.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_start.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_start_test.go
  src/ce/api/app/deploy/deployhandlers/services.go
  src/ce/api/app/deploy/deployhandlers/services_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_statements.go
  src/ce/api/app/deploy/deployment_store.go
  src/ce/api/app/deployservice/deployer.go
  src/ce/api/app/deployservice/deployer_service.go
  src/ce/api/app/deployservice/deployer_test.go
  src/lib/factory/deployment.go
  src/migrations/0001_schema.all.up.sql
  src/migrations/0019_2025-12-09.up.sql
Due: backend

chore: remove unused types and methods
  src/ce/api/app/deploy/deployment_model.go
Due: backend

chore: remove development guard
  src/lib/utils/mise/mise.go
Due: backend

refactor: rename field
  src/ce/api/app/buildconf/buildconfhandlers/handler_envs_test.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_store.go
  src/ce/api/app/redirects/redirectshandlers/handler_playground_test.go
  src/ce/api/public/v1/handler_app_conf_test.go
  src/ce/hosting/host_model_test.go
  src/ce/workerserver/job_deployments_test.go
  src/lib/factory/deployment.go
Due: backend

feat: migrate deployment upload results to jsonb structure
  src/ce/api/app/appconf/appconf_model_test.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_envs_test.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback_test.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_start_test.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments.go
  src/ce/api/app/deploy/deployhandlers/handler_my_deployments_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_model_test.go
  src/ce/api/app/deploy/deployment_statements.go
  src/ce/api/app/deploy/deployment_store.go
  src/ce/workerserver/job_deployments.go
  src/ce/workerserver/job_deployments_test.go
  src/ce/workerserver/ws_statements.go
  src/ce/workerserver/ws_store.go
  src/lib/factory/deployment.go
  src/migrations/0001_schema.all.up.sql
  src/migrations/0019_2025-12-09.up.sql
  src/ui/src/pages/apps/[id]/environments/[env-id]/deployments/[deployment-id]/Deployment.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/deployments/runtime-logs/RuntimeLogs.spec.tsx
  src/ui/src/testing/data/mock_deployment.ts
  src/ui/src/testing/data/mock_deployments_v2.ts
  src/ui/src/testing/nocks/nock_deployments.ts
  src/ui/src/types/deployment.d.ts
Due: backend, frontend

feat: store migrations zip with deployment artifacts
  src/ce/api/app/apphandlers/handler_inbound_webhooks.go
  src/ce/api/app/buildconf/schema_model.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_configure.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_configure_test.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_get.go
  src/ce/api/app/buildconf/schemahandlers/handler_schema_get_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_statements.go
  src/ce/api/app/deploy/deployment_store.go
  src/ce/api/app/deployservice/deployer.go
  src/ce/api/app/deployservice/deployer_service.go
  src/ce/api/app/deployservice/deployer_test.go
  src/ce/runner/bundler.go
  src/ce/runner/bundler_test.go
  src/ce/runner/runner.go
  src/ce/runner/uploader.go
  src/ce/runner/uploader_test.go
  src/lib/factory/deployment.go
  src/lib/integrations/client_alibaba.go
  src/lib/integrations/client_alibaba_oss_test.go
  src/lib/integrations/client_alibaba_test.go
  src/lib/integrations/client_aws.go
  src/lib/integrations/client_aws_lambda.go
  src/lib/integrations/client_aws_lambda_test.go
  src/lib/integrations/client_aws_s3.go
  src/lib/integrations/client_aws_s3_test.go
  src/lib/integrations/client_filesystem.go
  src/lib/integrations/client_filesystem_test.go
  src/lib/integrations/helpers.go
  src/migrations/0001_schema.all.up.sql
  src/migrations/0019_2025-12-09.up.sql
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/Database.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/database/actions.tsx
  src/ui/src/testing/nocks/nock_schema.ts
Due: backend, frontend

chore: add support for zipping only certain files
  src/lib/utils/file/zip.go
  src/lib/utils/file/zip_test.go
Due: backend

feat: include only sql files in the migrations zip
  src/ce/runner/bundler.go
Due: backend

chore: new zip iterator method
  src/lib/utils/file/zip.go
  src/lib/utils/file/zip_test.go
Due: backend

chore: default ssl mode to disable
  src/lib/database/connection.go
Due: backend

chore: get file should download zip content only for sk-client files
  src/lib/integrations/client_aws_s3.go
Due: backend

chore: helper method to create zips in memory
  src/lib/utils/file/zip.go
  src/lib/utils/file/zip_test.go
Due: backend

chore: export variable
  src/lib/integrations/client.go
Due: backend

chore: ignore vite folder
  src/www/.gitignore
Due: none

feat: run schema migrations
  src/ce/api/app/buildconf/schema_model.go
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/buildconf/schema_store_test.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback_test.go
  src/lib/database/connection.go
  src/lib/factory/environment.go
Due: backend

chore: add migration id column
  src/ce/api/app/buildconf/schema_store.go
Due: backend

chore: use path instead of filepath
  src/lib/integrations/client_aws_s3.go
Due: backend

chore: return 204
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback.go
Due: backend

chore: move mutex one level above
  src/ce/api/app/buildconf/schema_store.go
Due: backend

chore: handle close properly
  src/lib/utils/file/zip.go
Due: backend

chore: skip migrations when not on default branch
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback_test.go
Due: backend

Path conditions:
  backend: any of: src/ce/, src/ee/, src/lib/
  frontend: any of: src/ui/src/
