Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: purge volume files of deleted environments (#387)
  src/ce/workerserver/job_environments.go
  src/ce/workerserver/job_volumes_test.go
  src/ce/workerserver/ws_statements.go
Due: backend

chore: update changelog for v2026.07.28.1 (#385)
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.28.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.28.2 (#388)
  CHANGELOG.md
Due: none

feat: agent install flag with owner bootstrap
  deploy/.env.example
  deploy/docker-compose.yaml
  src/ce/api/admin/admin_model.go
  src/ce/api/bootstrap/bootstrap.go
  src/ce/api/bootstrap/bootstrap_test.go
  src/ce/api/oauth/oauth_model.go
  src/ce/api/user/authhandlers/handler_admin_register.go
  src/ee/hosting/main.go
  src/www/public/install.sh
Due: backend

feat: interpolate env vars in periodic triggers
  content/blog/whats-new.md
  docs/features/13-periodic-triggers.md
  src/ce/api/app/functiontrigger/function_trigger_interpolate.go
  src/ce/api/app/functiontrigger/function_trigger_interpolate_test.go
  src/ce/api/public/v1/handler_function_trigger_invoke.go
  src/ce/workerserver/job_trigger_functions.go
Due: backend

feat: agent install flag with owner bootstrap (#383)
  deploy/.env.example
  deploy/docker-compose.yaml
  src/ce/api/admin/admin_model.go
  src/ce/api/bootstrap/bootstrap.go
  src/ce/api/bootstrap/bootstrap_test.go
  src/ce/api/oauth/oauth_model.go
  src/ce/api/user/authhandlers/handler_admin_register.go
  src/ee/hosting/main.go
  src/www/public/install.sh
Due: backend

feat: interpolate env vars in periodic triggers (#389)
  content/blog/whats-new.md
  docs/features/13-periodic-triggers.md
  src/ce/api/app/functiontrigger/function_trigger_interpolate.go
  src/ce/api/app/functiontrigger/function_trigger_interpolate_test.go
  src/ce/api/public/v1/handler_function_trigger_invoke.go
  src/ce/workerserver/job_trigger_functions.go
Due: backend

chore: update changelog for v2026.07.29.1
  CHANGELOG.md
Due: none

feat: add humans/agents install toggle to hero
  src/www/src/pages/_components/Hero.tsx
Due: none

feat: add humans/agents install toggle to hero (#391)
  src/www/src/pages/_components/Hero.tsx
Due: none

chore: update changelog for v2026.07.29.1 (#390)
  CHANGELOG.md
Due: none

feat: expose runtime logs over public api and mcp
  docs/api/10-mcp.md
  docs/api/7-deployments.md
  src/ce/api/applog/apploghandlers/handler_logs_get.go
  src/ce/api/applog/apploghandlers/handler_logs_get_test.go
  src/ce/api/applog/apploghandlers/services.go
  src/ce/api/applog/apploghandlers/services_test.go
  src/ce/api/public/v1/handler_deployment_runtime_logs_get.go
  src/ce/api/public/v1/handler_deployment_runtime_logs_get_test.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_runtime_logs_test.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/api/router/router.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/deployments/runtime-logs/RuntimeLogs.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/deployments/runtime-logs/RuntimeLogs.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/deployments/runtime-logs/actions.ts
  src/ui/src/testing/nocks/nock_logs.ts
Due: backend, frontend

feat: expose runtime logs over public api and mcp (#392)
  docs/api/10-mcp.md
  docs/api/7-deployments.md
  src/ce/api/applog/apploghandlers/handler_logs_get.go
  src/ce/api/applog/apploghandlers/handler_logs_get_test.go
  src/ce/api/applog/apploghandlers/services.go
  src/ce/api/applog/apploghandlers/services_test.go
  src/ce/api/public/v1/handler_deployment_runtime_logs_get.go
  src/ce/api/public/v1/handler_deployment_runtime_logs_get_test.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_runtime_logs_test.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
  src/ce/api/router/router.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/deployments/runtime-logs/RuntimeLogs.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/deployments/runtime-logs/RuntimeLogs.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/deployments/runtime-logs/actions.ts
  src/ui/src/testing/nocks/nock_logs.ts
Due: backend, frontend

chore: update changelog for v2026.07.30.1
  CHANGELOG.md
Due: none

feat: expose access logs over public api and mcp
  docs/api/10-mcp.md
  docs/api/12-access-logs.md
  src/ce/api/accesslog/accesslog_query.go
  src/ce/api/accesslog/accesslog_store.go
  src/ce/api/public/v1/handler_access_logs_get.go
  src/ce/api/public/v1/handler_access_logs_get_test.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_access_logs_test.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
Due: backend

feat: expose access logs over public api and mcp (#394)
  docs/api/10-mcp.md
  docs/api/12-access-logs.md
  src/ce/api/accesslog/accesslog_query.go
  src/ce/api/accesslog/accesslog_store.go
  src/ce/api/public/v1/handler_access_logs_get.go
  src/ce/api/public/v1/handler_access_logs_get_test.go
  src/ce/api/public/v1/handler_mcp.go
  src/ce/api/public/v1/handler_mcp_access_logs_test.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/services.go
  src/ce/api/public/v1/services_test.go
Due: backend

chore: update changelog for v2026.07.30.1 (#393)
  CHANGELOG.md
Due: none

docs: note why each base64 variant is required
  src/ce/hosting/oauth.go
  src/ce/hosting/oauth_refresh_store.go
  src/lib/integrations/client_alibaba_functions.go
  src/lib/integrations/client_aws_lambda.go
  src/lib/integrations/client_filesystem.go
  src/lib/utils/crypt.go
  src/lib/utils/hash.go
Due: backend

perf: speed up access log pagination
  docs/api/12-access-logs.md
  src/ce/api/accesslog/accesslog_model.go
  src/ce/api/accesslog/accesslog_query.go
  src/ce/api/accesslog/accesslog_query_test.go
  src/ce/api/accesslog/accesslog_store.go
  src/ce/api/accesslog/accesslog_store_test.go
  src/ce/api/admin/adminhandlers/handler_access_logs.go
  src/ce/api/public/v1/handler_access_logs_get.go
  src/ce/api/public/v1/handler_access_logs_get_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ui/src/pages/admin/AccessLogs.tsx
Due: backend, frontend

perf: speed up access log pagination (#395)
  docs/api/12-access-logs.md
  src/ce/api/accesslog/accesslog_model.go
  src/ce/api/accesslog/accesslog_query.go
  src/ce/api/accesslog/accesslog_query_test.go
  src/ce/api/accesslog/accesslog_store.go
  src/ce/api/accesslog/accesslog_store_test.go
  src/ce/api/admin/adminhandlers/handler_access_logs.go
  src/ce/api/public/v1/handler_access_logs_get.go
  src/ce/api/public/v1/handler_access_logs_get_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/hosting/oauth.go
  src/ce/hosting/oauth_refresh_store.go
  src/lib/integrations/client_alibaba_functions.go
  src/lib/integrations/client_aws_lambda.go
  src/lib/integrations/client_filesystem.go
  src/lib/utils/crypt.go
  src/lib/utils/hash.go
  src/ui/src/pages/admin/AccessLogs.tsx
Due: backend, frontend

chore: update changelog for v2026.07.31.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.31.1 (#397)
  CHANGELOG.md
Due: none

feat: deliver session token to native deep links
  docs/features/15-authentication.md
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/skauth_oauth.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
Due: backend, frontend

test: cover allowed-origin scheme validation
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update_test.go
Due: backend

feat: deliver session token to native deep links (#399)
  docs/features/15-authentication.md
  src/ce/api/app/skauth/skauthhandlers/handler_auth_config_update_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/skauth_oauth.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
Due: backend, frontend

chore: update changelog for v2026.07.31.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.07.31.2 (#400)
  CHANGELOG.md
Due: none

feat: record request duration in access logs
  docs/api/12-access-logs.md
  docs/features/15-authentication.md
  src/ce/api/accesslog/accesslog_model.go
  src/ce/api/accesslog/accesslog_query.go
  src/ce/api/accesslog/accesslog_query_test.go
  src/ce/api/accesslog/accesslog_store.go
  src/ce/api/accesslog/accesslog_store_test.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/hosting/export_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_accesslog_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/reserved_routes.go
  src/ce/hosting/skauth_magic.go
  src/ce/hosting/skauth_native.go
  src/ce/hosting/skauth_oauth.go
  src/migrations/0025_2026-07-31.up.sql
  src/ui/src/pages/admin/AccessLogs.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
Due: backend, frontend

feat: record request duration in access logs (#401)
  docs/api/12-access-logs.md
  docs/features/15-authentication.md
  src/ce/api/accesslog/accesslog_model.go
  src/ce/api/accesslog/accesslog_query.go
  src/ce/api/accesslog/accesslog_query_test.go
  src/ce/api/accesslog/accesslog_store.go
  src/ce/api/accesslog/accesslog_store_test.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/hosting/export_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_accesslog_test.go
  src/ce/hosting/middleware.skauth.go
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/middleware.skauth_oauth_callback_test.go
  src/ce/hosting/reserved_routes.go
  src/ce/hosting/skauth_magic.go
  src/ce/hosting/skauth_native.go
  src/ce/hosting/skauth_oauth.go
  src/migrations/0025_2026-07-31.up.sql
  src/ui/src/pages/admin/AccessLogs.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
Due: backend, frontend

chore: update changelog for v2026.08.01.1
  CHANGELOG.md
Due: none

feat: filtered search for access logs
  src/ui/src/components/FilteredSearch/FilteredSearch.spec.tsx
  src/ui/src/components/FilteredSearch/FilteredSearch.tsx
  src/ui/src/components/FilteredSearch/Token.tsx
  src/ui/src/components/FilteredSearch/datetime.ts
  src/ui/src/components/FilteredSearch/index.ts
  src/ui/src/components/FilteredSearch/types.ts
  src/ui/src/pages/admin/AccessLogs.spec.tsx
  src/ui/src/pages/admin/AccessLogs.tsx
Due: frontend

chore: update changelog for v2026.08.01.1 (#402)
  CHANGELOG.md
Due: none

fix: harden access-log filtered search
  src/ui/src/components/FilteredSearch/FilteredSearch.spec.tsx
  src/ui/src/components/FilteredSearch/FilteredSearch.tsx
  src/ui/src/components/FilteredSearch/datetime.ts
  src/ui/src/components/FilteredSearch/index.ts
  src/ui/src/components/FilteredSearch/types.ts
  src/ui/src/pages/admin/AccessLogs.spec.tsx
  src/ui/src/pages/admin/AccessLogs.tsx
Due: frontend

feat: filtered search for access logs (#403)
  src/ui/src/components/FilteredSearch/FilteredSearch.spec.tsx
  src/ui/src/components/FilteredSearch/FilteredSearch.tsx
  src/ui/src/components/FilteredSearch/Token.tsx
  src/ui/src/components/FilteredSearch/datetime.ts
  src/ui/src/components/FilteredSearch/index.ts
  src/ui/src/components/FilteredSearch/types.ts
  src/ui/src/pages/admin/AccessLogs.spec.tsx
  src/ui/src/pages/admin/AccessLogs.tsx
Due: frontend

chore: update changelog for v2026.08.01.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.08.01.2 (#404)
  CHANGELOG.md
Due: none

feat: configurable access-log page size
  docs/api/10-mcp.md
  docs/api/12-access-logs.md
  src/ce/api/accesslog/accesslog_query.go
  src/ce/api/accesslog/accesslog_query_test.go
  src/ce/api/accesslog/accesslog_store.go
  src/ce/api/admin/adminhandlers/handler_access_logs.go
  src/ce/api/public/v1/handler_access_logs_get.go
  src/ce/api/public/v1/handler_access_logs_get_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
Due: backend

feat: configurable access-log page size (#405)
  docs/api/10-mcp.md
  docs/api/12-access-logs.md
  src/ce/api/accesslog/accesslog_query.go
  src/ce/api/accesslog/accesslog_query_test.go
  src/ce/api/accesslog/accesslog_store.go
  src/ce/api/admin/adminhandlers/handler_access_logs.go
  src/ce/api/public/v1/handler_access_logs_get.go
  src/ce/api/public/v1/handler_access_logs_get_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
Due: backend

feat: show trigger response in a drawer
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggers.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/FunctionTriggers.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/[trigger-id]/TriggerLogs.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/[trigger-id]/TriggerLogs.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/TriggerLogDetails.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/TriggerLogList.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/TriggerLogsDrawer.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/prettyPrint.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/_components/prettyPrint.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/function-triggers/actions.ts
  src/ui/src/testing/data/mock_function_triggers.ts
  src/ui/src/testing/nocks/nock_function_triggers.ts
  src/ui/src/types/function-triggers.d.ts
Due: frontend

Path conditions:
  backend: any of: src/ce/, src/ee/, src/lib/
  frontend: any of: src/ui/src/
