Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore: update package locks
  src/ui/package-lock.json
  src/www/package-lock.json
Due: none

chore: use filepath instead of path
  src/ce/runner/builder.go
Due: backend

feat: stop next steps if migrations fail
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_callback_test.go
  src/ce/api/app/deploy/deployhandlers/handler_deploy_stop_test.go
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_store.go
Due: backend

chore: remove environments page
  docs/features/3-multiple-environments.md
  src/ce/api/app/app_model.go
  src/ce/api/app/app_statements.go
  src/ce/api/app/app_store.go
  src/ce/api/app/apphandlers/handler_app_get_test.go
  src/ce/api/app/apphandlers/handler_app_insert_test.go
  src/ce/api/app/apphandlers/handler_app_list.go
  src/ce/api/app/apphandlers/handler_app_list_test.go
  src/ce/api/app/apphandlers/handler_app_update_test.go
  src/ui/src/components/AppName/AppName.spec.tsx
  src/ui/src/components/AppName/AppName.tsx
  src/ui/src/components/MenuLink/MenuLink.tsx
  src/ui/src/layouts/AppLayout/AppLayout.spec.tsx
  src/ui/src/layouts/AppLayout/AppMenu.tsx
  src/ui/src/layouts/AppLayout/EnvMenu.tsx
  src/ui/src/layouts/AppLayout/menu_items.tsx
  src/ui/src/layouts/AppLayout/routes.tsx
  src/ui/src/pages/apps/Apps.tsx
  src/ui/src/pages/apps/[id]/environments/Default.tsx
  src/ui/src/pages/apps/[id]/environments/Environments.spec.tsx
  src/ui/src/pages/apps/[id]/environments/Environments.tsx
  src/ui/src/pages/apps/[id]/environments/index.ts
  src/ui/src/testing/data/mock_app.ts
  src/ui/src/types/app.d.ts
  src/www/public/assets/docs/features/env-screen.png
Due: backend, frontend

chore: regenerate files with new mockery version
  src/mocks/alibaba_sdk.go
  src/mocks/builder_interface.go
  src/mocks/bundler_interface.go
  src/mocks/cache_interface.go
  src/mocks/client.go
  src/mocks/client_interface.go
  src/mocks/command_interface.go
  src/mocks/deployer.go
  src/mocks/deployer_service.go
  src/mocks/download_func.go
  src/mocks/file_header.go
  src/mocks/flusher.go
  src/mocks/flusher_func.go
  src/mocks/github_client.go
  src/mocks/handler.go
  src/mocks/handler_func.go
  src/mocks/hetzner_interface.go
  src/mocks/image_optimizer.go
  src/mocks/installer_interface.go
  src/mocks/micro_service_interface.go
  src/mocks/mise_interface.go
  src/mocks/mock_object.go
  src/mocks/model.go
  src/mocks/option.go
  src/mocks/release_client.go
  src/mocks/repo_interface.go
  src/mocks/request_func.go
  src/mocks/request_interface.go
  src/mocks/runner_uploader_interface.go
  src/mocks/service_func.go
  src/mocks/stripe_client.go
  src/mocks/task_client.go
  src/mocks/task_func.go
  src/mocks/upload_func.go
Due: none

chore: update packages
  go.mod
  go.sum
Due: none

feat: prepare endpoints for stormkit auth
  src/ce/api/app/buildconf/env_model.go
  src/ce/api/app/buildconf/env_statements.go
  src/ce/api/app/buildconf/env_store.go
  src/ce/api/app/buildconf/schema_model.go
  src/ce/api/app/buildconf/schema_store.go
  src/ce/api/app/skauth/client_google.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/sk_auth_store.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_callback.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_callback_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_enable.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_enable_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_redirect.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_redirect_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_session.go
  src/ce/api/app/skauth/skauthhandlers/handler_session_test.go
  src/ce/api/app/skauth/skauthhandlers/services.go
  src/ce/api/app/skauth/skauthhandlers/services_test.go
  src/ce/api/router/router.go
  src/migrations/0001_schema.all.up.sql
  src/migrations/0020_2026-01-04.up.sql
Due: backend

chore: remove redundant row
  src/lib/database/store.go
Due: backend

chore: allow using different secrets
  src/ce/api/user/user_shttp.go
Due: backend

chore: helper functions for scanning bytea columns
  src/lib/utils/crypt.go
Due: backend

chore: add support for new features
  src/lib/factory/environment.go
Due: backend

fix: failing specs
  src/ce/api/app/app_store.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_env_get_test.go
  src/ce/api/app/buildconf/buildconfhandlers/handler_envs_test.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/sk_auth_store.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_callback.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_redirect.go
Due: backend

chore: remove fmt
  src/ce/api/app/skauth/skauthhandlers/handler_auth_redirect.go
Due: backend

chore: add eof
  src/migrations/0020_2026-01-04.up.sql
Due: none

fix: json name
  src/ce/api/app/skauth/sk_auth_model.go
Due: backend

chore: remove fmt debug
  src/ce/api/app/buildconf/schema_store.go
Due: backend

chore: store account id and make provider unique for each user
  src/ce/api/app/buildconf/schema_store.go
Due: backend

fix: add missing mock methods
  src/mocks/alibaba_sdk.go
Due: none

docs: add mockery docs
  README.md
Due: none

chore: remove debug
  src/ce/api/app/buildconf/schema_store.go
Due: backend

chore: take into account the provider status
  src/ce/api/app/skauth/skauthhandlers/handler_auth_callback.go
Due: backend

chore: handle timed out deployments
  src/ce/api/app/deploy/deployment_model.go
  src/ce/api/app/deploy/deployment_statements.go
  src/ce/api/app/deploy/deployment_statements_test.go
  src/ce/api/app/deploy/deployment_store.go
  src/ce/workerserver/job_deployments.go
  src/ce/workerserver/job_deployments_test.go
  src/ce/workerserver/worker_scheduler.go
  src/ce/workerserver/ws_statements.go
  src/ce/workerserver/ws_store.go
Due: backend

fix: flaky test
  src/ce/api/app/buildconf/snippetshandlers/handler_snippets_put_test.go
Due: backend

docs: blog post on recent migration
  content/blog/how-we-migrated-from-aws-to-hetzner-without-downtime.md
Due: none

chore: new switch component
  src/ui/src/components/Form/Switch.tsx
  src/ui/src/components/Form/index.ts
Due: frontend

feat: stormkit auth
  src/ce/api/app/skauth/client_google.go
  src/ce/api/app/skauth/client_x.go
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/sk_auth_store.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_callback.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert_test.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths.go
  src/ce/api/app/skauth/skauthhandlers/handler_auths_test.go
  src/ce/api/app/skauth/skauthhandlers/services.go
  src/ce/api/app/skauth/skauthhandlers/services_test.go
  src/migrations/0001_schema.all.up.sql
  src/migrations/0020_2026-01-04.up.sql
  src/mocks/client.go
  src/ui/src/layouts/AppLayout/menu_items.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/routes.ts
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/SkAuth.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/index.ts
Due: backend, frontend

chore: log only if there are artifacts to be deleted
  src/ce/workerserver/job_deployments.go
Due: backend

chore: update theme
  src/ui/src/pages/mui-theme.tsx
Due: frontend

chore: new migration job
  Makefile
Due: none

fix: refresh references after a deployment is complete
  src/ui/src/pages/apps/[id]/environments/[env-id]/deployments/[deployment-id]/Deployment.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/deployments/[deployment-id]/Deployment.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/deployments/actions.ts
  src/ui/src/shared/deployments/DeploymentRow.tsx
Due: frontend

chore: use combined output for more information
  src/lib/utils/mise/mise.go
Due: backend

feat: abort functionality for mise update
  src/ce/api/admin/adminhandlers/handler_mise_update.go
  src/ce/api/admin/adminhandlers/handler_mise_update_test.go
  src/ui/package-lock.json
  src/ui/src/pages/admin/System.spec.tsx
  src/ui/src/pages/admin/System.tsx
Due: backend, frontend

chore: use scan instead of keys
  src/ce/hosting/certmagic_redis_test.go
  src/ce/hosting/certmagic_server.go
  src/ce/hosting/handler_forward.go
  src/ce/workerserver/job_handler_forward_test.go
  src/ce/workerserver/leader.go
  src/lib/rediscache/rediscache.go
  src/lib/rediscache/service.go
  src/lib/rediscache/service_test.go
  src/mocks/micro_service_interface.go
Due: backend

fix: rendering options in the correct order
  src/ui/src/pages/apps/[id]/environments/[env-id]/snippets/SnippetModal.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/snippets/Snippets.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/snippets/Snippets.tsx
  src/ui/src/testing/data/mock_snippets.ts
Due: frontend

fix: use correct ending tag
  src/ce/hosting/handler_forward.go
Due: backend

fix: race condition
  src/ce/api/app/skauth/skauthhandlers/handler_auth_callback_test.go
Due: backend

chore: improve error message
  src/ce/api/app/skauth/skauthhandlers/handler_auth_callback.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_callback_test.go
Due: backend

Path conditions:
  backend: any of: src/ce/, src/ee/, src/lib/
  frontend: any of: src/ui/src/
