Repository stormkit-io/stormkit-io: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for Stormkit
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        informational: false
      backend:
        flags:
          - backend
        target: 80%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: 80%
        threshold: 2%
    
    patch:
      default:
        target: 70%
        threshold: 5%
        informational: true

  # Files to ignore in coverage reports
  ignore:
    - "**/*_test.go"
    - "**/*.test.ts"
    - "**/*.test.tsx"
    - "**/*.spec.ts"
    - "**/*.spec.tsx"
    - "**/mocks/**"
    - "**/testutils/**"
    - "src/ui/src/testing/**"
    - "**/__mocks__/**"
    - "**/__tests__/**"
    - "**/node_modules/**"
    - "src/migrations/**"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  backend:
    paths:
      - src/ce/
      - src/ee/
      - src/lib/
    carryforward: true
  
  frontend:
    paths:
      - src/ui/src/
    carryforward: true

# Pull request comments configuration
github_checks:
  annotations: true

fix: keep the startup path byte-for-byte
  src/lib/rediscache/rediscache.go
Due: backend

fix: recover from redis read-only failover (#533)
  src/ce/hosting/certmagic_redis.go
  src/ce/hosting/certmagic_redis_reset_test.go
  src/ce/hosting/certmagic_server.go
  src/ce/workerserver/job_handler_forward.go
  src/ce/workerserver/leader.go
  src/lib/config/config.go
  src/lib/rediscache/failover_stub_test.go
  src/lib/rediscache/failover_test.go
  src/lib/rediscache/rediscache.go
  src/lib/rediscache/rediscache_test.go
  src/lib/rediscache/reset_lockout_test.go
Due: backend

feat: keep deployment files in memory
  src/lib/integrations/file_cache.go
  src/lib/integrations/file_cache_test.go
  src/lib/integrations/zip_manager.go
  src/lib/integrations/zip_manager_test.go
Due: backend

feat: keep deployment files in memory (#536)
  src/lib/integrations/file_cache.go
  src/lib/integrations/file_cache_test.go
  src/lib/integrations/zip_manager.go
  src/lib/integrations/zip_manager_test.go
Due: backend

fix: drop cached files when a deployment folder goes
  src/lib/integrations/file_cache.go
  src/lib/integrations/file_cache_test.go
  src/lib/integrations/zip_manager.go
  src/lib/integrations/zip_manager_test.go
Due: backend

fix: drop cached files when a deployment folder goes (#537)
  src/lib/integrations/file_cache.go
  src/lib/integrations/file_cache_test.go
  src/lib/integrations/zip_manager.go
  src/lib/integrations/zip_manager_test.go
Due: backend

feat: keep filesystem deployment files in memory
  src/lib/integrations/client_filesystem.go
  src/lib/integrations/client_filesystem_test.go
  src/lib/integrations/file_cache.go
  src/lib/integrations/file_cache_test.go
Due: backend

feat: keep filesystem deployment files in memory (#539)
  src/lib/integrations/client_filesystem.go
  src/lib/integrations/client_filesystem_test.go
  src/lib/integrations/file_cache.go
  src/lib/integrations/file_cache_test.go
Due: backend

chore: update changelog for v2026.09.12.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.09.12.1 (#540)
  CHANGELOG.md
Due: none

feat: cache finished static responses gzipped
  src/ce/hosting/export_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/listeners.go
  src/ce/hosting/response_cache.go
  src/ce/hosting/response_cache_test.go
  src/lib/pool/batcher.go
  src/lib/shttp/precompression_bench_test.go
Due: backend

feat: cache finished static responses gzipped (#541)
  src/ce/hosting/export_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/listeners.go
  src/ce/hosting/response_cache.go
  src/ce/hosting/response_cache_test.go
  src/lib/pool/batcher.go
  src/lib/shttp/precompression_bench_test.go
Due: backend

chore: update changelog for v2026.09.15.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.09.15.1 (#542)
  CHANGELOG.md
Due: none

feat: merge env vars on rest env update
  docs/api/3-environments.md
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_env_update_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigEnvVars.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigEnvVars.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
Due: backend, frontend

feat: merge env vars on rest env update (#543)
  docs/api/3-environments.md
  src/ce/api/public/v1/handler_env_update.go
  src/ce/api/public/v1/handler_env_update_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigEnvVars.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigEnvVars.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/actions.ts
Due: backend, frontend

chore: update changelog for v2026.09.18.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.09.18.1 (#544)
  CHANGELOG.md
Due: none

fix: resolve custom domains under the dev domain
  src/ce/api/app/appconf/appconf_model_test.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/redirects/redirectshandlers/handler_playground.go
  src/ce/api/app/redirects/redirectshandlers/handler_playground_test.go
  src/ce/hosting/host_shttp.go
Due: backend

fix: resolve custom domains under the dev domain (#545)
  src/ce/api/app/appconf/appconf_model_test.go
  src/ce/api/app/appconf/appconf_store.go
  src/ce/api/app/redirects/redirectshandlers/handler_playground.go
  src/ce/api/app/redirects/redirectshandlers/handler_playground_test.go
  src/ce/hosting/host_shttp.go
Due: backend

chore: update changelog for v2026.09.20.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.09.20.1 (#546)
  CHANGELOG.md
Due: none

feat: add a data loader to rewrite rules
  docs/features/7-writing-api.md
  docs/features/8-redirects-and-path-rewrites.md
  docs/self-hosting/6-advanced-configuration.md
  src/ce/api/app/redirects/redirects.go
  src/ce/api/app/redirects/redirects_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/host_shttp.go
  src/ce/hosting/middleware.redirects.go
  src/ce/hosting/page_data.go
  src/ce/hosting/page_data_test.go
  src/ce/hosting/response_cache.go
Due: backend

feat: add a data loader to rewrite rules (#548)
  docs/features/7-writing-api.md
  docs/features/8-redirects-and-path-rewrites.md
  docs/self-hosting/6-advanced-configuration.md
  src/ce/api/app/redirects/redirects.go
  src/ce/api/app/redirects/redirects_test.go
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/host_shttp.go
  src/ce/hosting/middleware.redirects.go
  src/ce/hosting/page_data.go
  src/ce/hosting/page_data_test.go
  src/ce/hosting/response_cache.go
Due: backend

chore: update changelog for v2026.09.23.1
  CHANGELOG.md
Due: none

chore: update changelog for v2026.09.23.1 (#549)
  CHANGELOG.md
Due: none

feat: forward visitor headers to page loaders
  docs/features/8-redirects-and-path-rewrites.md
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/page_data.go
  src/ce/hosting/page_data_test.go
Due: backend

feat: forward visitor headers to page loaders (#550)
  docs/features/8-redirects-and-path-rewrites.md
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/page_data.go
  src/ce/hosting/page_data_test.go
Due: backend

fix: wait for revealed env vars in flaky test
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigEnvVars.spec.tsx
Due: frontend

fix: wait for revealed env vars in flaky test (#552)
  src/ui/src/pages/apps/[id]/environments/[env-id]/config/_components/TabConfigEnvVars.spec.tsx
Due: frontend

feat: render page loaders with html/template
  docs/features/8-redirects-and-path-rewrites.md
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/page_data.go
  src/ce/hosting/page_data_test.go
Due: backend

feat: render page loaders with html/template (#551)
  docs/features/8-redirects-and-path-rewrites.md
  src/ce/hosting/handler_forward.go
  src/ce/hosting/handler_forward_test.go
  src/ce/hosting/page_data.go
  src/ce/hosting/page_data_test.go
Due: backend

chore: update changelog for v2026.09.23.2
  CHANGELOG.md
Due: none

chore: update changelog for v2026.09.23.2 (#553)
  CHANGELOG.md
Due: none

feat: custom magic link email subject and body
  docs/features/15-authentication.md
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert_test.go
  src/ce/api/app/skauth/skauthhandlers/provider_upsert.go
  src/ce/api/app/skauth/skauthhandlers/providers_json.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/openapi.json
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/skauth_magic.go
  src/ce/hosting/skauth_magic_email_internal_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

feat: custom magic link email subject and body (#555)
  docs/features/15-authentication.md
  src/ce/api/app/skauth/sk_auth_model.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert.go
  src/ce/api/app/skauth/skauthhandlers/handler_auth_upsert_test.go
  src/ce/api/app/skauth/skauthhandlers/provider_upsert.go
  src/ce/api/app/skauth/skauthhandlers/providers_json.go
  src/ce/api/public/v1/handler_mcp_test.go
  src/ce/api/public/v1/handler_mcp_tools.go
  src/ce/api/public/v1/openapi.json
  src/ce/hosting/middleware.skauth_magiclink_test.go
  src/ce/hosting/skauth_magic.go
  src/ce/hosting/skauth_magic_email_internal_test.go
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.spec.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/ProviderSettings.tsx
  src/ui/src/pages/apps/[id]/environments/[env-id]/skauth/actions.tsx
Due: backend, frontend

chore: update changelog for v2026.09.26.1
  CHANGELOG.md
Due: none

chore: add brand background and intro sound
  src/www/public/stormkit-bg-3024x1964.png
  src/www/public/stormkit-intro-sound.wav
  src/www/public/stormkit-intro.mp3
Due: none

chore: update changelog for v2026.09.26.1 (#556)
  CHANGELOG.md
Due: none

Merge commit from fork
  .env.example
  deploy/.env.example
  deploy/docker-compose.yaml
  src/ce/api/admin/admin_model.go
  src/ce/api/admin/admin_store.go
  src/ce/api/admin/adminhandlers/handler_git_configure.go
  src/ce/api/admin/adminhandlers/handler_git_configure_test.go
  src/ce/api/admin/adminhandlers/handler_git_details.go
  src/ce/api/admin/adminhandlers/handler_git_details_test.go
  src/ce/api/admin/adminhandlers/handler_github_manifest_callback.go
  src/ce/api/admin/adminhandlers/handler_github_manifest_callback_test.go
  src/ce/api/app/app_model.go
  src/ce/api/app/app_settings.go
  src/ce/api/app/apphandlers/handler_app_settings.go
  src/ce/api/app/apphandlers/handler_app_settings_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_bitbucket_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_github.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_github_test.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_gitlab.go
  src/ce/api/app/apphandlers/handler_inbound_webhooks_gitlab_test.go
  src/ce/api/app/deploy/deployment_statements.go
  src/ce/api/app/deploy/deployment_store.go
  src/ce/api/app/deployservice/deployer.go
  src/ce/api/app/deployservice/deployer_test.go
  src/ce/api/oauth/bitbucket/bitbucket_webhooks.go
  src/ce/api/oauth/gitlab/gitlab_webhooks.go
  src/ce/api/oauth/gitlab/gitlab_webhooks_test.go
  src/ui/src/pages/admin/Git/Git.spec.tsx
  src/ui/src/pages/admin/Git/Git.tsx
  src/ui/src/pages/admin/Git/GitHubModal.tsx
  src/ui/src/pages/admin/Git/types.d.ts
  src/ui/src/pages/apps/[id]/settings/_components/FormTriggerDeploys.tsx
  src/ui/src/pages/apps/[id]/settings/actions.tsx
  src/ui/src/pages/apps/[id]/settings/types.d.ts
Due: backend, frontend
